button.form-button {
    position: absolute;
    width: 80px;
    height: 36px;
    right: 200px;
    top: 15px;
    font-size: 12px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    line-height: 34px;
    color: white;
    background-color: #3367D6;
    text-align: center;
}

select {
    color: black;
}

.domainSelect, .searchLawyer {
	    height: 34px;
}

.pagination-centered {
	text-align: center;
}

.pagination-active {
	text-align: center;
	color: red;
	background-color: #3367D6;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}

#contact-form #submit-contact1 {
  padding: 0;
  text-align: left;
  font-size: 12px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 0;
  font-weight: bold;
  color: white;
  position: relative;
  letter-spacing: 1px;
  margin: 0;
  background-color: transparent;
  transition: all .4s ease;
}

#contact-form #submit-contact1:hover {
  color: #444444;
  transition: all .4s ease;
}

#contact-form #submit-contact1.btn-alt {
  height: 36px;
  line-height: 36px;
  text-transform: none;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #3367D6;
  color: #3367D6;
  transition: all .4s ease;
  text-transform: uppercase;
  border-radius: 2px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  overflow: hidden;
  outline: none;
}

#contact-form #submit-contact1.btn-alt:hover {
  background-color: #3367D6;
  color: white;
  transition: all .4s ease;
}

#contact-form #submit-contact1.btn-alt.shadow {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
}

#contact-form #submit-contact1.btn-alt.white {
  border: 1px solid white;
}

#contact-form #submit-contact1.btn-alt.white:hover {
  background-color: white;
  color: #3367D6 !important;
  transition: all .4s ease;
}

#contact-form #submit-contact1.btn-alt.active {
  background-color: #3367D6;
  color: white;
  transition: all .4s ease;
}

#contact-form #submit-contact1.btn-alt.active:hover {
  background-color: transparent;
  color: #3367D6 !important;
  transition: all .4s ease;
}

modifications specific to the language offering of the website

header .top-nav .language {
  width: calc(100% - 250px);
  float: left;
  padding: 17px 0;
}

@media screen and (max-width: 600px) {
  header .top-nav .language {
    display: none;
  }
}

header .top-nav .language ul {
  float: right;
  text-align: right;
}

header .top-nav .language ul li {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #757575;
}

header .top-nav .language ul li a {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

header .top-nav .language ul li i {
  color: #3367D6;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}

header .top-nav .language ul li.search {
  cursor: pointer;
  margin-right: 10;
  border-left: 1px rgba(117, 177, 177, 0.3);
  padding: 0 0 0 30px;
}

header .top-nav .language ul li.search i {
  color: #444444;
}

@media screen and (max-width: 860px) {
  header .top-nav .language ul li.mail, header .top-nav .language ul li.phone {
    display: none;
  }
}

header .top-nav .language ul li.lang {
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 991px) {
  header .top-nav .language ul li.lang {
    margin-right: 0;
  }
}

header .top-nav .language ul li.lang span {
  display: block;
}

@media screen and (max-width: 991px) {
  header .top-nav .language ul li.lang span {
    display: inline-block;
  }
}

header .top-nav .language ul li.lang span.current a {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 21px 0;
}

@media screen and (max-width: 991px) {
  header .top-nav .language ul li.lang span.current a {
    color: #444444;
  }
}

header .top-nav .language ul li.lang ul {
  display: block;
  visibility: hidden;
  z-index: 90;
  position: absolute;
  top: 88px;
  opacity: 0;
  left: 0px;
  width: 55px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 16px;
  transition: all .4s ease;
}

@media screen and (max-width: 991px) {
  header .top-nav .language ul li.lang ul {
    visibility: visible;
    position: relative;
    top: inherit;
    opacity: 1;
    right: inherit;
    width: auto;
    text-align: left;
    background-color: transparent;
    box-shadow: none;
    display: inline-block;
    padding: 0;
  }
}

header .top-nav .language ul li.lang ul li a {
  margin-left: 0;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #757575;
}

header .top-nav .language ul li.lang ul li a:hover {
  color: #444444;
}

@media screen and (max-width: 991px) {
  header .top-nav .language ul li.lang ul li a {
    margin-right: 0px;
    color: #757575;
    margin-left: 10px;
  }
  header .top-nav .language ul li.lang ul li a:hover {
    color: #757575;
  }
}

header .top-nav .language ul li.lang:hover ul {
  visibility: visible;
  top: 40px;
  opacity: 1;
  transition: all .4s ease;
}

@media screen and (max-width: 991px) {
  header .top-nav .language ul li.lang:hover ul {
    top: inherit;
  }
}

