<!DOCTYPE html>
<html lang="en">
    <head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134634547-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-134634547-1');
		</script>
		<!-- script to log user session -->
<!-- 		<script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('anrr4o/qahelplicit');</script>
 -->		<!-- script to log user session ends here -->
				
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Helplicit Home</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        
        <link href="assets/css/style_m.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
        
    </head>
    <body>
      
<header class="header_mm">
	<div class="mcontainer">
    	<div class="mlogo"><a href="/"><img src="assets/img/logom.png" alt="" /></a></div>
        <div class="m_lgn"><a href="/login">Connexion</a><span>/</span><a href="/login">Inscription</a></div>
        <div class="mask_qst"><a href="/askQuestion">Posez votre question</a></div>
        <div class="mclear"></div>
    </div>
</header>

<div class="mmidd_sec">
	<div class="mcontainer">
        <div class="mform_sec">
        	<div class="mform_part">
                <form id="form1" name="form1" method="post" action="/askQuestion" class="mform1">
                	<div class="mown_law">Posez votre question en parlant dans le micro, c’est beaucoup plus simple!</div>
                    <div class="mbigest_repo">Une fois que vous avez cliqué sur "Enregister votre question", vous aurez 2 minutes pour enregistrer votre question. Notre système convertira votre enregistrement en texte. Dans l'écran suivant, vous pouvez réviser le texte, cliquer sur 'envoyer' et c'est fait!</div>
                    <div class="mbtn"><button type="Search" form="form1" value="Search">Enregistez votre question</button></div>
                    
					<br><a href = '/askQuestionWrite'>Je préfère écrire</a>                    
                </form>
<!--                 <form id="form1" name="form1" method="post" action="/cutAudio" class="mform1">
                    <div class="mbtn"><button type="Search" form="form1" value="Search">Envoyer</button></div>
                </form>  -->               
            </div>
        	<div class="mcartoon"><img src="assets/img/cartoon.png" alt="" /></div>
            <div class="mclear"></div>
	        <div class="widget-wrapper">
	        	<h2>Questions Recentes</h2>
	            <ul class="widget-box">
	                <li><a href="/post1" class="active-item">PACS discrimination au sein de l'armée</a></li>
	                <li><a href="/post2">Accident au travail</a></li>
	                <li><a href="/post3">PV d'indisponibilité du certificat d'immatriculation</a></li>
	                <li><a href="/post4">Inondations de 2010</a></li>
	            </ul>
	        </div>	
        </div>
    </div>
</div>

<footer class="mcontainer">
    <div class="mfooter_text"><a href="https://ankuj3.wixsite.com/website/cgu">Copyright @ 2019 - Helplicit - Tous droits réservés - CGV</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Mentions Légales</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Contactez-nous</a></div>
</footer>
        <!--  END Footer. Class fixed for fixed footer  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>