<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">    
    <link rel="stylesheet" href="/css/font-awesome.min.css">   
    <link rel="stylesheet" href="/css/ionicons.min.css">   
    <link rel="stylesheet" href="/css/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-clockpicker.min.css">    
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-form.css" />   
    <link rel="stylesheet" href="/css/inspector-stylesheet.css" />
    <link rel="stylesheet" href="/css/flexslider.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-select.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">    
    <link rel="stylesheet" href="/css/font-awesome.min.css">   
    <link rel="stylesheet" href="/css/ionicons.min.css">   
    <link rel="stylesheet" href="/css/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-clockpicker.min.css">    
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-form.css" />   
    <link rel="stylesheet" href="/css/inspector-stylesheet.css" />
    <link rel="stylesheet" href="/css/flexslider.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css">    
	<!-- include summernote css/js -->
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
</head>
<body>


    <div class="main_container_dashboard">
	<div></div>        
        <div class="col-md-11 col-md-offset-1">
        	<h2>Case dashboard</h2>
        <div class="col-md-12 upper_header">
            <div class="col-md-3 small_res1">
                <!-- <a href="/"><img src="/img/logo.png" class="small_res2" width="100%" alt="logo"></img></a> -->
            </div>
            <div class="col-md-5">
                <input type="search" class="col-md-12 search_box" name="search" placeholder="Search..">
            </div>
<!--             <div class="col-md-1">
                <ul class="noti">

                    <li id="msg_Container">
                        <div id="msg_Counter"></div>   SHOW NOTIFICATIONS COUNT.

                        A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.
                        <div id="msg_Button" class="fa fa-commenting-o hover_blue_big"  title="Messages"></div>

                        THE NOTIFICAIONS DROPDOWN BOX.
                        <div id="messages">
                            <h3>Messages</h3>
                            <div style="height:250px;">
                                <div class="noti_box">Hello, This is demo text.</div>
                                <div class="noti_box">Hello, you have new message please check it out.</div>
                            </div>
                            <div class="seeAll"><a href="#">See All</a></div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-md-1">
                <ul class="noti">

                    <li id="noti_Container">
                        <div id="noti_Counter"></div>   SHOW NOTIFICATIONS COUNT.

                        A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.
                        <div id="noti_Button" class="fa fa-bell hover_blue_big"  title="Notifications"></div>

                        THE NOTIFICAIONS DROPDOWN BOX.
                        <div id="notifications">
                            <h3>Notifications</h3>
                            <div style="height:250px;">
                                <div class="noti_box">Hello, This is demo text.</div>
                                <div class="noti_box">Hello, you have new notification please check it out.</div>
                                <div class="noti_box">You have new notification.</div>
                                <div class="noti_box">You have new request. Click and check update.</div>
                            </div>
                            <div class="seeAll"><a href="#">See All</a></div>
                        </div>
                    </li>

                </ul>
            </div> -->
             <div class="col-md-2">
                <div id="dropdown" class="ddmenu">
                    username<!-- <i class="down"></i> -->
<!--                     <ul>
                        <li><a href="/lawyerProfile">Edit Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul> -->
                </div>
            </div>
        </div>        
            <div class="dashboard_block">
                <section class="content">
                     <!--  Accordion and Tabs  -->
                     <div class="row padding-sm">
                         <div class="col-md-12">
                             <!--  Tab  -->
                             <!-- Tab panes -->
                             <div class="tab-content">
                                 <div role="tabpanel" class="tab-pane active" id="tab-one">
		                       <form class="form-horizontal row-fluid"  method="POST" id="contact-form" action="/addNewCase">	
								<div class="formProjectCreation">
<!-- 									<p class="alert alert-danger"></p> -->
									<div class="clearfix"></div>
									<div class="control-group col-md-6">
									                      <label class="control-label" for="basicinput">Client Name</label>
									                      <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your last name here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
									                 <div class="controls">
						                                 <input type="text" id="" placeholder="" class="form-field" name="subject" value=""/> <span class="help-inline"></span>
										                     <div class="col-md-12 padding-leftright-null">
										                                    <p class="error"></p>
										                     </div>
									                 </div>
									</div>
									<div class="control-group col-md-6">
									                      <label class="control-label" for="basicinput">Subject</label>
									                      <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your last name here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
									                 <div class="controls">
						                                 <input type="text" id="" placeholder="" class="form-field" name="subject" value="{{qaRecord.subject}}"/> <span class="help-inline"></span>
										                     <div class="col-md-12 padding-leftright-null">
										                                    <p class="error"></p>
										                     </div>
									                 </div>
									</div>
					                 <div class="control-group col-md-6">
					                     <label class="control-label" for="basicinput">Description</label>
					                     <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="upload your photo here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
					                     <div class="controls">
					                         <input type="text" id="" placeholder="" class="form-field" name="lastname" value="{{qaRecord.question}}"/> <span class="help-inline"></span>
					                     </div>
					                 </div>
									<!-- take this one out as well temporarily till @ModelAttribute isnt fixed -->
					             <div class="clearfix"></div>
					                        <div class="clearfix"></div>
											<div class="control-group col-md-6">
												<label class="control-label" for="basicinput">Start Date</label>
								                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="insert graduation date here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
												<div class="controls">
													<input type="text" 
													 class="span8 date" id = "endDate" placeholder="mm/dd/yyyy" value="" name="startDate" value = "{{qaRecord.startDate}}"/><span class="help-inline"></span>
												</div>
											</div>	
					                        <div class="clearfix"></div>
											<div class="control-group col-md-6">
												<label class="control-label" for="basicinput">End Date</label>
								                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="insert graduation date here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
												<div class="controls">
													<input type="text" 
													 class="span8 date" id = "endDate" placeholder="mm/dd/yyyy" value="" name="endDate" value = "{{qaRecord.endDate}}"/><span class="help-inline"></span>
												</div>
											</div>
					                  		<div class="clearfix"></div>
					                        <div class="control-group col-md-6">
					                            <label class="control-label" for="basicinput">Amount</label>
					                            <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="insert price per hour here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
								                 <div class="controls">
								                     <input class="form-field" type="text"  placeholder="" name="pricePerHour" value="{{qaRecord.amount}}"/><span class="help-inline"></span>
								                 </div>
					             			</div>
					</div>

	<div class="subButton lawyerBtnSub">
	
							<div class="control-group">
								<div class="controls">
								<input type="submit" id="submit-contact" class="btn-alt active shadow" value="submit">
									
								</div>
							</div>
	</div>
	<div class="subButton lawyerBtnSub">
	
							<div class="control-group">
								<div class="controls">
								<input type="submit" id="submit-contact" class="btn-alt active shadow" value="Request payment">
									
								</div>
							</div>
	</div>
	<div class="subButton lawyerBtnSub">
	
							<div class="control-group">
								<div class="controls">
								<input type="submit" id="submit-contact" class="btn-alt active shadow" value="Send message">
									
								</div>
							</div>
	</div>
	
	
	</form>	
</div>

                                    </div>
</div>
<!-- Tab panes -->
<!--  Tab  -->
</div>
    
                                 <!-- </form> -->
        
		<div class="col-md-1 sidemenu" id="newone">
            <div class="col-md-12 paddtop2 font25">
                <div class="bar_div" onclick="myFunction(this); openNav();">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
               
            </div>
            <a href="/questionDashboard">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-th-large hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Question dashboard"><span>Question dashboard</span></i>
                </div>
            </a>
             <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="glyphicon glyphicon-trash hover_blue" data-toggle="tooltip" data-placement="right" title="Deleted Task"><span>DeletedTask</span></i>
                </div>
            </a>
            <a href="/lawyerPublicProfilePage">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-file-text-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="My profile page"><span>My profile page</span></i>
                </div>
            </a>
            
             <a th:href="@{'/eadmin/chat/'}">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-commenting-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Chat"><span>Chat</span></i>
                </div>
            </a>
             <a href="/calendar">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-calendar hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Calander"><span>Calander</span></i>
                </div>
            </a>
             <a href="#" onclick="openTimerFunction()">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-clock-o  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Timer"><span>Timer</span></i>
                </div>
            </a>
            <a href="/editLawyerProfile">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-cog hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Edit profile"><span>Edit profile</span></i>
                </div>
            </a>
             <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-credit-card  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Billing"><span>Billing</span></i>
                </div>
            </a>
            <a href="/logout">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-sign-out  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Logout"><span>Logout</span></i>
                </div>
            </a>
             <a href="/mailbox">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-envelope hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mailbox"><span class="plus_last_span">Mailbox</span></i>
                </div>
            </a>
            <a href="/createProject" style="position:absolute; bottom:0; left:45px;">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-plus plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="New Project"><span class="plus_last_span">New Project</span></i>
                </div>
            </a>
            <a href="chart.html">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-bar-chart plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Charts"><span class="plus_last_span">Charts</span></i>
                </div>
            </a>

        </div>
    </div>   
</body>
    <script src="/js/bootstrap/bootstrap.min.js"></script>   
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap3-wysihtml5.all.min.js"></script>   
    <script src="/js/jquery.flexslider-min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/smooth.scroll.min.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/bootstrap/bootstrap-select.js"></script>
    <script src="/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap-clockpicker.min.js"></script>
	<!-- calendar specific -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js"></script>
<!--     <script>
        function openTimerFunction() {
            window.open('/timer', '_blank', 'width=400,height=540, left=250, top=250');
        }

    </script> -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>   
    <script src="/js/jquery.flexslider-min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/jquery.scrolly.js"></script>
    <script src="/js/plugins-scroll.js"></script>
    <script src="/js/imagesloaded.min.js"></script>
    <script src="/js/bootstrap/bootstrap-select.js"></script>
  
    <script src="/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap-clockpicker.min.js"></script>

</html>
