<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>
	<!-- Custom css -->
	<link rel="stylesheet" href="css/style.css"/>
	<!-- Manually modified css -->
	<link rel="stylesheet" href="css/inspector-stylesheet.css"/>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/ionicons.min.css"/>
	<!-- Flexslider -->
	<link rel="stylesheet" href="css/flexslider.css"/>
	<!-- Owl -->
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css"/>

<script src="js/jquery.min.js"></script>
<!-- All js library -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/smooth.scroll.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.scrolly.js"></script>
<script src="js/plugins-scroll.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/pace.min.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.autocomplete.js"></script>
<script src="js/jquery.stickytableheaders.min.js" > </script>
<script src="js/alllib.js" type="text/javascript"></script>
</head>
<body>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>
	<header id="header">
		<div class="top-nav">
			<!--  Header Logo  -->
			<div id="logo">
				<a class="navbar-brand" href="/index.html">
					<img src="img/logo.png" class="normal" alt="logo"></img>
					<img src="img/logo.png" class="retina" alt="logo"></img>
				</a>
			</div>
			<!--  END Header Logo  -->
			<!-- 		<div class="secondary-menu">
						<form class="search-form" action="/search" method="GET">
							<div class="form-input">
								<input type="text" id="autocomplete-input"
											placeholder="City Name" class="autocomplete" name="franceCity"/></input>
								<input type="text" id="autocomplete-inputDomainName"
											placeholder="Domain Name" class="autocomplete" name="franceDomain"/></input>
								replacing the select domain option by an autocomplete much like the autocomplete above			
								<select name="domainSelect" id="domainSelect">
								<option value="0">Select domain</option>
								<option th:each="domain : ${dataDominList}" th:value="${domain}"
												th:text="${domain}"></option>
							</select>
							<span class="form-button">
								<button class="btn-alt small active margin-null" type="submit">Search</button>
							</span>
						</div>
					</form>
				</div> -->
			<nav class="navbar navbar-default">
				<!--  Classic menu, responsive menu classic  -->
				<div id="menu-classic">
					<div class="menu-holder">
						<ul>
							<li class="submenu">
								<a href="/index.html" class="active-item">Home</a>
							</li>
							<li>
								<a href="/about.html">About</a>
							</li>
							<li>
								<a href="/services.html">Services</a>
							</li>
							<li class="submenu">
								<a href="/blog-sidebar.html">Blog</a>
							</li>
							<li>
								<a href="/contact.html">Contact</a>
							</li>
						</ul>
					</div>
				</div>
					<!--  END Classic menu, responsive menu classic  -->
					<!--  Button for Responsive Menu Classic  -->
					<div id="menu-responsive-classic">
						<div class="menu-button">
							<span class="bar bar-1"></span>
							<span class="bar bar-2"></span>
							<span class="bar bar-3"></span>
						</div>
					</div>
					<!--  END Button for Responsive Menu Classic  -->
	
			</nav>
			<input type="search" class="search_box_menu hidden-xs" name="search" placeholder="Search..">
			<button class="mobile_search_menu">
				<i class="fa fa-search"></i>
			</button>
			<div id="searchBoxOpen" style="display: none">
				<form action="">
	   				<input type="search" class="col-xs-12" name="search" placeholder="Search..">
	   				<button type="" class="col-xs-12">SEARCH</button>
	   			</form>
	  		</div>
			<div class="language">
				<ul class="right-menu">
					<li class="mail" style="margin-right:0px;"><i class="fa fa-user" aria-hidden="true"></i><a href="/login">Sign In</a></li> /
	                <li class="mail"><i class="fa fa-user" aria-hidden="true" style="color:#00ff2b"></i><a href="/login">Sign Up</a></li>
						<li class="lang">
							<span class="current">
								<a href="/#">En</a>
							</span>
							<ul>
								<li>
									<a href="/#">Fr</a>
								</li>
							</ul>
						</li>
				</ul>
			</div>
	</div>
	</header>
            
        <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
                <!--  Page Header  -->
                <div id="page-header" class="secondary-background">
                    <div class="container">
                        <div class="row no-margin">
                            <div class="text">
                                <h1 class="white">Claimant Form.</h1>
                                <ul class="breadcrumb white">
                                    <li><a href="#">Home</a></li>
                                    <li>Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  END Page Header  -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <!--  Contact section  -->
                    <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
                                <div class="text text-left padding-topbottom-null">
                                    <h2>Get in Touch.</h2>
                                </div>
                            </div>
                            <div class="row no-margin padding-onlytop-md">
                                <!--  Contact Form  -->
                                <div class="col-md-5 padding-leftright-null">
                                    <div class="text padding-md-top-null">
                                        <div class="box-form">
                                            <form id="contact-form">
                                                <div class="row no-margin">
                                                    <div class="col-md-12 padding-leftright-null">
                                                        <label for="name">Name<sup>*</sup></label>
                                                        <input class="form-field" name="name" id="name" type="text" placeholder="Your Name">
                                                    </div>
                                                    <div class="col-md-12 padding-leftright-null">
                                                        <label for="mail">Email<sup>*</sup></label>
                                                        <input class="form-field" name="mail" id="mail" type="text" placeholder="Your Email">
                                                    </div>
                                                </div>
                                                <div class="row no-margin">
                                                    <div class="col-md-12 padding-leftright-null">
                                                        <label for="messageForm">Message<sup>*</sup></label>
                                                        <textarea class="form-field" name="messageForm" id="messageForm" rows="6" placeholder="Your Message"></textarea>
                                                        <div class="submit-area padding-onlytop-sm">
                                                            <input type="submit" id="submit-contact" class="btn-alt active shadow" value="Send Message">
                                                            <div id="msg" class="message"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--  END Contact Form  -->
                            </div>
                        </div>
                    </div>
                    <!--  END Contact section  -->
                    <div class="row no-margin">
                    </div>
                </div>
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->
        

		<!--  Footer  -->
        <footer id="footer">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="img/logo_white_judlaw.png" class="normal" alt="logo" />
                            <img src="img/logo_white_judlaw.png" class="retina" alt="logo" />
                        </div>
                        <p>Your legal marketplace </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Centerpriser SAS <br/>
                            29 Chemin du Vieux Chêne, 38240 Meylan<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
<!--                             <li><a href="/">FAQ</a></li> -->
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>©2017 <a href="/#">PuredesignThemes</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="/#">Privacy Policy</a></li>
                            <li><a href="/#">Cookie Policy</a></li>
                            <li><a href="/#">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/maps.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>