<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134634547-1"></script>
		<script>
 		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-134634547-1'); 
		</script>
		<!-- script to log user session -->
<!--  		<script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('anrr4o/qahelplicit');</script>
 -->        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Legal assistance for small and bigger problems | FortyQ</title>
       
		<meta name="description" content="Freelancers/SMBs: Get help understanding how you can access the Covid loan">
    	<meta name="keywords" content="Ask an Expert, Ask Questions Get Answers, Ask A Question Online, Ask Questions Online, Question And Answer, Ask A Question, Ask An Expert, Ask Questions, ask a legal question, Get Answers, Ask Experts">
    			
        <!-- Open Graph data -->
		<meta property="og:title" content="Ask a Legal Expert & Get Answers in 42 minutes | FortyQ<" />
		<meta property="og:type" content="article" />
		<meta property="og:locale" content="en_EN" />
		<meta property="og:url" content="https://www.fortyq.com/" />
		<meta property="og:description" content="Legal assistance for small and bigger problems, for the price of your latte upwards" />
		<meta property="og:site_name" content="Helplicit" /><meta property="article:publisher" content="https://www.facebook.com/helplicit" />
		
        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="assets/css/style_m.css?1" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/logo-comment.png"/>        
</head>
    <body>

<div class="smallheader">
    <div class="mcontainer">
	<div class="text-right topicons">
	    <span class="contactno"><i class="fa fa-phone"></i> Call Free +44 1274792693</span>
	    <a href="/login"><i class="fa fa-user-circle"></i> My account</a>
	</div>
    </div>
</div>
<header class="header_mm">
	<div class="mcontainer ">
    	<div class="mlogo"><a href="/"><img src="assets/img/logo-new.png" alt="" /></a></div>
	<a href="#" class="btn-custom pull-right">Submit your query</a>		
        <div class="mclear"></div>
    </div>
</header>

<div class="mmidd_sec">
	<div class="mcontainer form-container">
	
        <div class="mform_sec">
	    <div class="mown_law"> 
	    Freelancers/SMBs: Get help understanding how you can access the Covid loan
	    <p>40Q is providing a free legal helpline with access to a lawyer to help you wade through complex legislation.</p>
	  </div>
		    <div class="mform_part">
                  <form class="fullwidth" method='post' action='/coronaQuestionPage'>
					   <div class="mform1">
							{{# if successMessage}}
								<p class="alert alert-success alert-dismissible">Thanks, we will get back to you soon!</p>
							{{/if}}		
		                  <div class="rich-textarea bordered">
		                     
		                    <div class="mbigest_repo"></div>
		                   
		                    <textarea class="autoExpand" rows="4" placeholder="Write us here or call our helpline above for an instant answer" id="question" name="content" required="" minlength="20" maxlength="1500"></textarea>
		                   <div class="minput_text">{{__ "instructionsFooter"}}</div>
		                  </div>
	                       <div class="col-md-12 padding-leftright-null">
	                        <input class="form-field" name="email" id="email" type="text" placeholder="{{__ 'emailPh'}}"/>
	                       </div>		                  
		                  <div class="text-center fullflex"><button class="btn-custom" type="buttonh">{{__ "question"}}</button></div>
					   </div>
			    </form>
			</div>
        	<!--<div class="mform_part">
                <form id="form1" name="form1" method="post" action="" class="mform1">
                	<div class="mown_law">The biggest legal database at your fingertips.</div>
                    <div class="mbigest_repo">Subheading</div>
                    <div class="minput_text"><input name="" type="text" value="Type your question" /></div>
                    <div class="mbtn"><button type="Search" form="form1" value="Search">Submit</button></div>
                </form>
            </div> -->
        	<div class="mcartoon">
		    <img src="assets/img/img-right.jpg" alt="" />
		    <div class="trustpilot"><span>Shining on</span> <a href="https://www.trustpilot.com/" target="_blank"><img src="assets/img/tp-5star.png" width="70" /></a></div>
		</div>
            <div class="mclear"></div>
        </div>
    </div>
    
	<!--  Footer  -->
        <footer>
            <div class="mcontainer">
                <div class="row">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="assets/img/logo-new-white.png" class="normal" alt="logo">
                        </div>
                        <p>Legal assistance for small and bigger problems. We're moving fast, and fixing things. </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/helplicit"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>FortyQ <br>
                            Techspace Aldgate East<br> 32-38 Leman St, Whitechapel, London E1 8EW</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important links</h4>
                        <ul class="info">
                            <li><a href="">Home</a></li>
                            <li><a href="">Who we are</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscription</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID">
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="mcontainer">
                <div class="row">
                    <div class="col-md-6 text">
                        <p>©2020 <a href="#">FortyQ</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="https://app.termly.io/document/privacy-policy/c4893091-a42d-45f3-bcba-d003337acb46">Privacy Policy</a></li>
                            <!-- <li><a href="#">Cookie Policy</a></li> -->
                            <li><a href="https://app.termly.io/document/terms-and-conditions/2d603385-3939-4a0c-8a99-196e9d8da0b1">Term and Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script> -->
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
		
		       <script>
			$(document).ready(function(){
			  $(".search-toggle").click(function(){
				$(".header-search-form, .m_lgn").toggleClass("search-opened");
			  });
			});
        </script>
 <script>
            $(document).ready(function(){
        $(".rich-textarea").one('click keypress', function () {
    $(this).addClass('focused-once');
    $(".contextual-tooltip[data-target=\"#question\"]").addClass("visible");

    $("#intro-text").hide();
    $("#question-contextual-help").show();
});
$(".rich-textarea > .intro, .rich-textarea > .final").click(function(){
    $(this).parent().find('textarea').focus();
});


});
        </script>

    </body>
</html>