<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bussible HTML Template</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        
        <link href="assets/css/style_m.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">

     <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/stylesheet.css">

<style type="stylesheet">
</style>
</head>
<body class="inner-page">
<header class="header_mm inner-header">
  <div class="mcontainer">
      <div class="mlogo"><a href="/"><img src="assets/img/logoslc.png" alt="" /></a></div>
    
     
<!--      <div class="legswitch">
            <ul>
                    <li class="lang">
                            <span class="current"><a href="#">En</a></span>
                            <ul>     
                                <li><a href="#">It</a></li>
                            </ul>
                        </li>
            </ul>
     </div> -->
      <div class="searchbox">
         <div class="header-search-form">
          <form id="searchForm">
            <input id="searchText" type="text">
          </form>
          </div>
          <a class="search-toggle d-none d-md-inline-block" id="searchToggle">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
      </div>
         <div class="m_lgn"><a href="#">Lawyer?</a></div>
      <!--  <div class="mask_qst"><a href="#">Ask your question</a></div>  -->
      
        <div class="mclear"></div>
    </div>
</header>

 <!-- <div th:insert="header :: copy"></div> --> 
	<!-- <div th:insert="headerAutocomplete :: copy"></div> -->
    <!--  loader  -->
    <!--  Header & Menu  -->
    <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
                <!--  Page Header  -->
<!--                 <div id="page-header" class="secondary-background">
                    <div class="container">
                        <div class="row no-margin">
                            <div class="text">
                                <h1 class="white">Contact.</h1>
                                <ul class="breadcrumb white">
                                    <li><a href="#">Home</a></li>
                                    <li>Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--  END Page Header  -->
                
                <!-- home-wrap begins -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <!--  Contact section  -->
                    <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
<!--                                 <div class="text text-left padding-topbottom-null">
                                    <h2>Get in Touch.</h2>
                                </div>
 -->                        </div>
                            <div class="row no-margin padding-onlytop-md">
                            </div>
                        </div>
                        
                        <!--  Accordion and Tabs  -->
                        <div class="row padding-sm bg-image">
                         <div class="container form-center">
	                                    <!--  Contact Form  -->
				                        <div class="form-main">
							                  <div class="padding-leftright-null ">
							                   <div class="text padding-md-top-null">
							                    <div class="box-form">
						 							{{# if err }}
														<p class="alert alert-danger">{{ err }}</p>
													{{/if}}
													{{# if successMessage}}
														<p class="alert alert-success alert-dismissible">{{ successMessage }}</p>
													{{/if}}								                    
							                    	<!-- following two messages will only appear in the case of success/failure. they can be commented in the case of the design task -->
<!-- 													<p class="alert alert-danger">This message appears in case of error</p>
													<p class="alert alert-success alert-dismissible">This message appears in case of success </p>
 -->													<!-- messages end here -->
							                    <!-- alert box that signifies that the confirmation mail for user signin has been sent to the user inbox -->
							                     <form id="contact-form" action="/forgotPasswordMailboxLink" role="form" method="POST">
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <!-- <label for="name">Forgot Password</label> -->
							                        <input class="form-field" name="email" id="email" type="text" placeholder="Your Registered Email Address"/>
							                       </div>
							                      </div>
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <div class="submit-area padding-onlytop-sm">
							                        <input type="submit" id="submit-contact" class="btn-alt active shadow" value="Send"/>
							                         <div id="msg" class="message"></div>
							                        </div>
							                       </div>
							                      </div>							                      
							                      <div class="col-md-12 padding-leftright-null"><p class="error" th:if="${errorMessage}" th:text="${errorMessage}"></p></div>
							                     </form>
							                     </div>
							                    </div>
							                   </div>
				                        	</div>
                        </div>
                        <!--  END Accordion and Tabs  -->
                    </div>
                </div>
                <!-- home-wrap ends -->
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->
        <!--  Footer  -->
		<!-- <div th:insert="footer :: copy"></div> -->


<footer class="mcontainer">
<div class="footer-nav">
      <div class="row">
<!-- 	      <div class="col-sm-6">
		     <ul>
			     <li><a href="">Services:</a></li>
				 <li><a href=""><svg id="svgcomp-k0r77cr1img" version="1.1" role="img" aria-label="213b6330-ada7-471a-a975-128639c96545_200" width="118" height="20" viewBox="0 0 118 20" style="width: 118px; height: 20px;"><defs><style>#mask-comp-k0r77cr1img-svg * {fill: #fff; stroke: #fff; stroke-width: 0;}</style>
<mask id="mask-comp-k0r77cr1img">
    <use id="mask-comp-k0r77cr1img-svg-use" xlink:href="#mask-comp-k0r77cr1img-svg" width="100%" height="100%" x="0" y="0"></use>
</mask>
<svg id="mask-comp-k0r77cr1img-svg" preserveAspectRatio="none" data-bbox="20 20 160 160" viewBox="20 20 160 160" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="img">
    <g>
        <path d="M180 20v160H20V20h160z"></path>
    </g>
</svg>

</defs><image id="comp-k0r77cr1imgimage" data-type="image" width="118" height="20" xlink:href="https://static.wixstatic.com/media/7c4c06_96fd41cbae2741e88e30b49f73e1cbe8~mv2.png/v1/crop/x_0,y_81,w_200,h_34/fill/w_148,h_25,al_c,q_80,usm_0.66_1.00_0.01/213b6330-ada7-471a-a975-128639c96545_200.webp" mask="url(#mask-comp-k0r77cr1img)" data-svg-mask="mask-comp-k0r77cr1img-svg" x="0" y="0" transform="" preserveAspectRatio="xMidYMid slice"></image></svg>
</a>
</li>

<li>
   <a href="">
       <svg id="svgcomp-k0r7s0u6img" version="1.1" role="img" aria-label="6e4ec9ad-b749-4dab-8037-2e32528a44d8_200" width="78" height="40" viewBox="0 0 78 40" style="width: 78px; height: 40px;"><defs><style>#mask-comp-k0r7s0u6img-svg * {fill: #fff; stroke: #fff; stroke-width: 0;}</style>
<mask id="mask-comp-k0r7s0u6img">
    <use id="mask-comp-k0r7s0u6img-svg-use" xlink:href="#mask-comp-k0r7s0u6img-svg" width="100%" height="100%" x="0" y="0"></use>
</mask>
<svg id="mask-comp-k0r7s0u6img-svg" preserveAspectRatio="none" data-bbox="20 20 160 160" viewBox="20 20 160 160" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="img">
    <g>
        <path d="M180 20v160H20V20h160z"></path>
    </g>
</svg>

</defs><image id="comp-k0r7s0u6imgimage" data-type="image" width="78" height="40" xlink:href="https://static.wixstatic.com/media/7c4c06_440a13d1d2534acab1eb6a9f43c0e112~mv2.png/v1/crop/x_0,y_51,w_200,h_106/fill/w_98,h_50,al_c,q_80,usm_0.66_1.00_0.01/6e4ec9ad-b749-4dab-8037-2e32528a44d8_200.webp" mask="url(#mask-comp-k0r7s0u6img)" data-svg-mask="mask-comp-k0r7s0u6img-svg" x="0" y="0" transform="" preserveAspectRatio="xMidYMid slice"></image></svg>
   </a>
</li>
			 </ul>
		  </div> -->
		  
		  <div class="col-sm-6 text-right">
		      <ul>
			      <li><a href="">About Us</a></li>
				  <li><a href=""> Legal Stuff</a></li>
				  <li><a href=""> Contact Us</a></li>
			  </ul>
		  </div>
		  
		  </div>
	  </div>
</div>
   <!-- <div class="mfooter_text"><a href="https://ankuj3.wixsite.com/website/cgu">Copyright @ 2019 - Helplicit - Tous droits réservés - CGV</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Mentions Légales</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Contactez-nous</a></div> -->
</footer>

        <!--  END Footer. Class fixed for fixed footer  -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <!-- <script src="assets/js/main.js"></script> -->
    
           <script>
      $(document).ready(function(){
        $(".search-toggle").click(function(){
        $(".header-search-form, .m_lgn").toggleClass("search-opened");
        });
      });
        </script>
 <script>
            $(document).ready(function(){
        $(".rich-textarea").one('click keypress', function () {
    $(this).addClass('focused-once');
    $(".contextual-tooltip[data-target=\"#question\"]").addClass("visible");

    $("#intro-text").hide();
    $("#question-contextual-help").show();
});
$(".rich-textarea > .intro, .rich-textarea > .final").click(function(){
    $(this).parent().find('textarea').focus();
});


});
        </script>
</body>
</html>