<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	>
<head>
	<title>Judl.aw</title>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		
<script async src="//platform-api.sharethis.com/js/sharethis.js#property=5c8cba101c07550011f24da1&product="sticky-share-buttons"></script>

	<!--Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css"/>
	<!-- Custom css -->
	<link rel="stylesheet" href="/css/style.css"/>
	<!-- Manually modified css -->
	<link rel="stylesheet" href="/css/inspector-stylesheet.css"/>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/ionicons.min.css"/>
	<!-- Flexslider -->
	<link rel="stylesheet" href="/css/flexslider.css"/>
	<!-- Owl -->
	<link rel="stylesheet" href="/css/owl.carousel.css"/>
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css"/>
</head>
<body>
<header id="header">
	<div class="top-nav">
		<!--  Header Logo  -->
		<div id="logo">
			<a class="navbar-brand" href="/index.html">
				<img src="/img/logo.png" class="normal" alt="logo"></img>
				<img src="/img/logo.png" class="retina" alt="logo"></img>
			</a>
		</div>
		<!--  END Header Logo  -->
		<!-- 		<div class="secondary-menu">
					<form class="search-form" action="/search" method="GET">
						<div class="form-input">
							<input type="text" id="autocomplete-input"
										placeholder="City Name" class="autocomplete" name="franceCity"/></input>
							<input type="text" id="autocomplete-inputDomainName"
										placeholder="Domain Name" class="autocomplete" name="franceDomain"/></input>
							replacing the select domain option by an autocomplete much like the autocomplete above			
							<select name="domainSelect" id="domainSelect">
							<option value="0">Select domain</option>
							<option th:each="domain : ${dataDominList}" th:value="${domain}"
											th:text="${domain}"></option>
						</select>
						<span class="form-button">
							<button class="btn-alt small active margin-null" type="submit">Search</button>
						</span>
					</div>
				</form>
			</div> -->
		<nav class="navbar navbar-default">
			<!--  Classic menu, responsive menu classic  -->
			<div id="menu-classic">
				<div class="menu-holder">
					<ul>
						<li class="submenu">
							<a href="/index.html" class="active-item">Home</a>
						</li>
						<li>
							<a href="/about.html">About</a>
						</li>
						<li>
							<a href="/services.html">Services</a>
						</li>
						<li class="submenu">
							<a href="/blog-sidebar.html">Blog</a>
						</li>
						<li>
							<a href="/contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</div>
				<!--  END Classic menu, responsive menu classic  -->
				<!--  Button for Responsive Menu Classic  -->
				<div id="menu-responsive-classic">
					<div class="menu-button">
						<span class="bar bar-1"></span>
						<span class="bar bar-2"></span>
						<span class="bar bar-3"></span>
					</div>
				</div>
				<!--  END Button for Responsive Menu Classic  -->

		</nav>
		<input type="search" class="search_box_menu hidden-xs" name="search" placeholder="Search..">
		<button class="mobile_search_menu">
			<i class="fa fa-search"></i>
		</button>
		<div id="searchBoxOpen" style="display: none">
			<form action="">
   				<input type="search" class="col-xs-12" name="search" placeholder="Search..">
   				<button type="" class="col-xs-12">SEARCH</button>
   			</form>
  		</div>
		<div class="language">
			<ul class="right-menu">
				<li class="mail" style="margin-right:0px;"><i class="fa fa-user" aria-hidden="true"></i><a href="/login">Sign In</a></li> /
                <li class="mail"><i class="fa fa-user" aria-hidden="true" style="color:#00ff2b"></i><a href="/login">Sign Up</a></li>
					<li class="lang">
						<span class="current">
							<a href="/#">En</a>
						</span>
						<ul>
							<li>
								<a href="/#">Fr</a>
							</li>
						</ul>
					</li>
			</ul>
		</div>
</div>
</header>
 <!-- <div th:insert="header :: copy"></div> --> 
	<!-- <div th:insert="headerAutocomplete :: copy"></div> -->
    <!--  loader  -->
    <!--  Header & Menu  -->
    <!--  Main Wrap  -->
        <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
                <!--  Page Header  -->
                <div id="page-header" class="">
                    <div class="container">
                        <div class="row no-margin">
                            <div class="text">
                                <h1 class="black">{{gloRecord.campaignTitle}}</h1>
                                <ul class="breadcrumb white">
<!--                                     <li><a href="#">Home</a></li>
                                    <li>Brueli Template</li>
 -->                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  END Page Header  -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <div class="container">
                        <div class="row no-margin">
                            <!-- Project Content -->
                            <div class="col-md-8 padding-leftright-null">
								<ul class="timeline">
                                    <li>
                                        <div class="content">
                                            <p>{{gloRecord.alertEffects}}</p>
                                        </div>
                                        <div class="timeline-badge"></div>
                                        <div class="title">
                                            <h3>This alert effects</h3>
                                        </div>
                                    </li>								
                                    <li>
                                        <div class="content">
                                            <p>{{gloRecord.whatsGoingOn}}</p>
                                        </div>
                                        <div class="timeline-badge"></div>
                                        <div class="title">
                                            <h3>What's going on</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="content">
                                            <p>{{gloRecord.brandsUnderScanner}}</p>
                                        </div>
                                        <div class="timeline-badge"></div>
                                        <div class="title">
                                            <h3>Brands under scanner</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="content">
                                            <p>{{gloRecord.whatToDo}}</p>
                                        </div>
                                        <div class="timeline-badge"></div>
                                        <div class="title">
                                            <h3>What you can do</h3>
                                        </div>
                                    </li>
                                </ul>                            
<!--                                 <div class="text padding-onlytop-lg padding-onlybottom-lg padding-md-bottom-null">
                                    <img src="/assets/img/project.jpg" alt="" class="img-responsive">
                                    <img src="/assets/img/project2.jpg" alt="" class="img-responsive padding-onlytop-md">
                                </div> -->
                            </div>
                            <!-- END Project Content -->
                            <!-- Project Sidebar -->
                            <div class="col-md-4 padding-leftright-null">
                                <div class="row no-margin">
                                    <div class="col-md-12 padding-leftright-null">
                                        
                                            <div class="box-form" style="margin:10px;">
                                            <form id="contact-form">
                                                <div class="row no-margin">
                                                    <div class="col-md-12 padding-leftright-null">
                                                        <label for="name">Name<sup>*</sup></label>
                                                        <input class="form-field" name="name" id="name" type="text" placeholder="Your Name">
                                                    </div>
                                                    <div class="col-md-12 padding-leftright-null">
                                                        <label for="mail">Email<sup>*</sup></label>
                                                        <input class="form-field" name="mail" id="mail" type="text" placeholder="Your Email">
                                                    </div>
                                                </div>
                                                <div class="row no-margin">
                                                    <div class="col-md-12 padding-leftright-null">
                                                        <label for="messageForm">Message<sup>*</sup></label>
                                                        <textarea class="form-field" name="messageForm" id="messageForm" rows="6" placeholder="Your Message"></textarea>
                                                        <div class="submit-area padding-onlytop-sm">
                                                            <input type="submit" id="submit-contact" class="btn-alt active shadow" value="Send Message">
                                                            <div id="msg" class="message"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
											
                                    </div>
                                </div>
                            </div>
                            <!-- END Project Sidebar -->
                        </div>
                    </div>
                    <!-- Services Section -->
					
					<div class="container">
                        <!-- Service -->
                        <div class="row no-margin padding-lg">
                            
                            <div class="col-md-8 padding-leftright-null">
                                <div class="padding-topbottom-null">
								<img src="/img/glosingle.png">
                                   
                                
								<div class="col-md-3">
								<div class="listing-icons">
								<i class="fa fa-bookmark" aria-hidden="true" ></i>
								</div>
								<h3 class="margin-bottom-small listing-text" >Business Goals</h3>
								</div>
								<div class="col-md-3">
								<div class="listing-icons">
								<i class="fa fa-user-o" aria-hidden="true" ></i>
								</div>
								<h3 class="margin-bottom-small listing-text">Business Goals</h3>
								</div>
								<div class="col-md-3">
								<div class="listing-icons">
								<i class="fa fa-map-marker" aria-hidden="true" ></i>
								</div>
								<h3 class="margin-bottom-small listing-text" >Business Goals</h3>
								</div>
								
                                       </div>        
                            </div>
							<div class="col-md-4 padding-left right-null">
                               <div class=" padding-topbottom-null">
                                   <h2 class="margin-bottom-null left">12</h2>
								   <p class="margin-bottom-null">Days to go</p>
                               </div>
							   <br/>
							   <br/>
							   <div class=" padding-topbottom-null" >
                                   <h2 class="margin-bottom-null left">121212</h2>
								   <p class="margin-bottom-null">pledged of £90,000 stretch target from 1,592 pledges</p>
                               </div>
							  <br/>
							  <br/>
							  <br/>
                                        <div class="col-md-12 " id="skills">
                                            <ul class="skill-list">
                                                
                                                <li>
                                                    <span class="border-color" data-percent="75%"></span>
                                                    
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        
										<br/>
										<br/>
										<br/>
										 <a href="#" class="btn-block btn-alt medium active margin-null">Pledge Now</a>
                                  
                            </div>
                        </div>
                        <!-- END Service -->
                    </div>
					
					<div class="container">
                        <!-- Service -->
                        <div class="row no-margin">
						<div class="col-md-8">
								 <ul class="nav nav-tabs" role="tablist" style="border:solid 1px #ddd;">
                                            <li role="presentation" class="active"><a href="#tab-one" aria-controls="tab-one" role="tab" data-toggle="tab">Tab One</a></li>
                                            <li role="presentation"><a href="#tab-two" aria-controls="tab-two" role="tab" data-toggle="tab">Tab Two</a></li>
											<li role="presentation"><a href="#tab-three" aria-controls="tab-three" role="tab" data-toggle="tab">Tab Three</a></li>
                                        </ul>
                                        <!--  Nav Tabs  -->
                                        <!-- Tab panes -->
                                        <div class="tab-content" style="border:solid 1px #ddd; padding:10px;">
                                            <div role="tabpanel" class="tab-pane active" id="tab-one"></div>
                                            <div role="tabpanel" class="tab-pane" id="tab-two">Content two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo animi ipsa architecto corrupti, atque commodi. Incidunt, accusamus. Nesciunt, quam, cumque? Vero id consequatur, aperiam ad quasi! Iure enim nesciunt hic!</div>
											<div role="tabpanel" class="tab-pane" id="tab-three">Content two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo animi ipsa architecto corrupti, atque commodi. Incidunt, accusamus. Nesciunt, quam, cumque? Vero id consequatur, aperiam ad quasi! Iure enim nesciunt hic!</div>
                                        </div>
						</div>
						
						<div class="col-md-4">
							 <div class="box-form" style="margin:10px;">
                                            <form id="contact-form">
                                                <div class="row no-margin">
                                                    <div class="col-md-12 padding-leftright-null">
                                                        <label for="name">Name<sup>*</sup></label>
                                                        <input class="form-field" name="name" id="name" type="text" placeholder="Your Name">
                                                    </div>
                                                    <div class="col-md-12 padding-leftright-null">
                                                        <label for="mail">Email<sup>*</sup></label>
                                                        <input class="form-field" name="mail" id="mail" type="text" placeholder="Your Email">
                                                    </div>
                                                </div>
                                                <div class="row no-margin">
                                                    <div class="col-md-12 padding-leftright-null">
                                                        <label for="messageForm">Message<sup>*</sup></label>
                                                        <textarea class="form-field" name="messageForm" id="messageForm" rows="6" placeholder="Your Message"></textarea>
                                                        <div class="submit-area padding-onlytop-sm">
                                                            <input type="submit" id="submit-contact" class="btn-alt active shadow" value="Send Message">
                                                            <div id="msg" class="message"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
						</div>
						</div>
					</div>
					
                </div>
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->

		<!--  Footer  -->
        <footer id="footer">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="/img/logo_white_judlaw.png" class="normal" alt="logo" />
                            <img src="/img/logo_white_judlaw.png" class="retina" alt="logo" />
                        </div>
                        <p>Your legal marketplace </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Centerpriser SAS <br/>
                            29 Chemin du Vieux ChÃªne, 38240 Meylan<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
<!--                             <li><a href="/">FAQ</a></li> -->
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>Â©2017 <a href="/#">PuredesignThemes</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="/#">Privacy Policy</a></li>
                            <li><a href="/#">Cookie Policy</a></li>
                            <li><a href="/#">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->
<script src="/js/jquery.min.js"></script>
<script>
function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
}

let request = new XMLHttpRequest();
request.onreadystatechange = function () {
    if (this.readyState === 4) {
        if (this.status === 200) {
            document.body.className = 'ok';
            console.log(this.responseText);
        } else if (this.response == null && this.status === 0) {
            document.body.className = 'error offline';
            console.log("The computer appears to be offline.");
        } else {
            document.body.className = 'error';
        }
    }
};
request.open("GET", '/loadGlo', true);
request.send(null);
/* var x = document.getElementById("messageForm"); */
/* x.append(c); */
function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
}
$(document).ready(function(){
		var a = "{{gloRecord.description}}";
		var b = decodeHtml(a);
		console.log('b is ', b);
	    $("#tab-one").append(b);
	});
</script>

<!-- All js library -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/smooth.scroll.min.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/jquery.scrolly.js"></script>
<script src="/js/plugins-scroll.js"></script>
<script src="/js/imagesloaded.min.js"></script>
<script src="/js/pace.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.autocomplete.js"></script>
</body>
</html>