<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bussible HTML Template</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        
        <link href="assets/css/style_m.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">


<style type="stylesheet">


</style>

 
    </head>
    <body>
	
	<div class="bg-img">
	
	</div>
      
<header class="header_mm">
	<div class="mcontainer ">
    	<div class="mlogo"><a href="#"><img src="assets/img/logom.png" alt="" /></a></div>
	  
     
		 <div class="legswitch">
	          <ul>
	                  <li class="lang">
                            <span class="current"><a href="#">EN</a></span>
                            <ul>     
                                <li><a href="#">FR</a></li>
                            </ul>
                        </li>
						</ul>
	   </div>
		  <div class="searchbox">
				 <div class="header-search-form">
					<form id="searchForm">
					  <input id="searchText" type="text">
					</form>
				  </div>
					<a class="search-toggle d-none d-md-inline-block" id="searchToggle">
					  <i class="fa fa-search" aria-hidden="true"></i>
					</a>
			</div>
			   <div class="m_lgn"><a href="/loginLawyer">Expert?</a></div>
      <!--  <div class="mask_qst"><a href="#">Ask your question</a></div>  -->
			
        <div class="mclear"></div>
    </div>
</header>

<div class="mmidd_sec">
	<div class="mcontainer form-container">
        <div class="mform_sec">
		    <div class="mform_part">
                 
			   <div class="mform1">

			      <div class="mown_law">Legal services tailored to your startup's story.

			    <p> Instant everything. Transparent. Upfront pricing. 24/7.</p>
			  </div>
			    
			    <ol class="toplist">
				<li>1. Ask all your questions to a lawyer dedicated to your startup</li>
				<li>2. Generate and personalize an unlimited number of legal documents</li>
				<li>3. Manage all your legal needs from a single space</li>
			    </ol>

			    <div class="mbtn"><button type="buttonh">Start</button></div>
                    
			   </div>
			   
			</div>
        	<!--<div class="mform_part">
                <form id="form1" name="form1" method="post" action="" class="mform1">
                	<div class="mown_law">The biggest legal database at your fingertips.</div>
                    <div class="mbigest_repo">Subheading</div>
                    <div class="minput_text"><input name="" type="text" value="Type your question" /></div>
                    <div class="mbtn"><button type="Search" form="form1" value="Search">Submit</button></div>
                </form>
            </div> -->
        	<div class="mcartoon"><img src="assets/img/new-lawyer-pic.png" alt="" /></div>
            <div class="mclear"></div>
        </div>
    </div>
    
    <div class="how-it-works mcontainer">
	<div class="">
	    <div class="row padding-lg">
		<h2 class="left text-center-mobile wow fadeInLeft">How it works</h2>
		<div class="col-sm-4">
		    <div class="innner-box">
			<div class="ib-icon"><img src="assets/img/ico-image-1.jpg" width="175" alt="" /></div>
			<div class="ib-title">Request a callback</div>
			<div class="ib-text">Select a package that best suits your needs and our lawyers will be in touch!</div>
		    </div>
		</div>
		<div class="col-sm-4">
		    <div class="innner-box">
			<div class="ib-icon"><img src="assets/img/ico-image-2.jpg" width="175" alt="" /></div>
			<div class="ib-title">Track your request</div>
			<div class="ib-text">Track your dossier and exchange in real time with your lawyer on your online personal space</div>
		    </div>
		</div>
		<div class="col-sm-4">
		    <div class="innner-box">
			<div class="ib-icon"><img src="assets/img/ico-image-3.jpg" width="175" alt="" /></div>
			<div class="ib-title">Click and finish</div>
			<div class="ib-text">Once your dossier has reached the end, simply close the dossier and thats it!</div>
		    </div>
		</div>
	    </div>
	    
	</div>
    </div>
    
    <div class="plans mcontainer">
	<div class="row padding-lg">
	    <h2 class="left text-center-mobile wow fadeInLeft">Plans</h2>
	    <div class="col-sm-4">
		<div class="plan-box">
		    <div class="ptitle">Essential</div>
		    <div class="pprice">£ 59.95 per month</div>
		    <ul>
			<li>Unlimited legal assistance : a dedicated paralegal providing written responses to all your legal questions under 24 hours.</li>
			<li>Unlimited access to our document library</li>
			<li>Generate an unlimited number of personalized documents</li>
		    </ul>
		    <div class="mbtn"><a class="custbtn" href="#">Request a callback</a></div>
		</div>
	    </div>
	    <div class="col-sm-4">
		<div class="plan-box">
		    <div class="ptitle">Premium</div>
		    <div class="pprice">£ 109.95 per month</div>
		    <ul style="padding-right: 0;">
			<li>Unlimited legal assistance : a dedicated paralegal providing written and telephonic responses to all your legal questions under 2 hours.</li>
			<li>Unlimited access to our document library</li>
			<li>Proofreading of your legal documents by a lawyer</li>
			<li>Consultation sessions with a lawyer if necessary with a 20% reduction on hourly consultation fee​.</li>
		    </ul>
		    <div class="mbtn"><a class="custbtn" href="#">Request a callback</a></div>
		</div>
	    </div>
	    <div class="col-sm-4">
		<div class="plan-box">
		    <div class="ptitle">Tailor Made</div>
		    <div class="ptext">Create a pack specific to the needs of your startup</div>
		    <div class="mbtn"><a class="custbtn" href="#">Request a callback</a></div>
		</div>
	    </div>
	</div>
    </div>
    
    <!---
    <div class="mcontainer answered-block">
                <div class="row">
                       <div class="col-sm-6">
                             <h3>Recently answered questions</h3>

                             <div class="answered-Q">
                                  <div class="Q-box">
                                      <a href="">  </a>
                                        <div class="Lawyers-img">
                                           <img src="" alt="Lawyer photo">
                                        </div>
                                        <div class="q-cnt">
                                              <h4>Question Subject 1</h4>
                                              <p>Response by - (Lawyer Name)  (Date-Time)</p>
                                        </div>
                                       
                                  </div>
                                  <div class="Q-box">
                                       <a href="">  </a>
                                        <div class="Lawyers-img">
                                           <img src="" alt="Lawyer photo">
                                        </div>
                                        <div class="q-cnt">
                                              <h4>Question Subject 1</h4>
                                              <p>Response by - (Lawyer Name)  (Date-Time)</p>
                                        </div>
                                  </div>
                                  <div class="Q-box">
                                    <a href="">  </a>
                                        <div class="Lawyers-img">
                                           <img src="" alt="Lawyer photo">
                                        </div>
                                        <div class="q-cnt">
                                              <h4>Question Subject 1</h4>
                                              <p>Response by - (Lawyer Name)  (Date-Time)</p>
                                        </div>
                                  </div>
                                  <div class="Q-box">
                                    <a href="">  </a>
                                        <div class="Lawyers-img">
                                           <img src="" alt="Lawyer photo">
                                        </div>
                                        <div class="q-cnt">
                                              <h4>Question Subject 1</h4>
                                              <p>Response by - (Lawyer Name)  (Date-Time)</p>
                                        </div>
                                  </div>
                             </div>
                       </div>
                       <div class="col-sm-6">
                             <h3>Lawyers most active on the platform</h3>
                             <div class="answered-Q">
                                  <div class="Lawyer-details">
                                        <div class="lawr-cnt">
                                            <a href="">  </a>
                                             <div class="Lawr-img">
                                                   <img src="" alt="Lawyer photo">
                                             </div>
                                             <div class="lawr-name">
                                                 Lawyer name
                                             </div>
                                             <div class="lawr-loc">
                                                Location
                                             </div>   
                                        </div>
                                        <div class="lawr-cnt">
                                            <a href="">  </a>
                                             <div class="Lawr-img">
                                                   <img src="" alt="Lawyer photo">
                                             </div>
                                             <div class="lawr-name">
                                                 Lawyer name
                                             </div>
                                             <div class="lawr-loc">
                                                Location
                                             </div>   
                                        </div>
                                        <div class="lawr-cnt">
                                            <a href="">  </a>
                                             <div class="Lawr-img">
                                                   <img src="" alt="Lawyer photo">
                                             </div>
                                             <div class="lawr-name">
                                                 Lawyer name
                                             </div>
                                             <div class="lawr-loc">
                                                Location
                                             </div>   
                                        </div>
                                  </div>
                                  <div class="Lawyer-details">
                                        <div class="lawr-cnt">
                                            <a href="">  </a>
                                             <div class="Lawr-img">
                                                   <img src="" alt="Lawyer photo">
                                             </div>
                                             <div class="lawr-name">
                                                 Lawyer name
                                             </div>
                                             <div class="lawr-loc">
                                                Location
                                             </div>   
                                        </div>
                                        <div class="lawr-cnt">
                                            <a href="">  </a>
                                             <div class="Lawr-img">
                                                   <img src="" alt="Lawyer photo">
                                             </div>
                                             <div class="lawr-name">
                                                 Lawyer name
                                             </div>
                                             <div class="lawr-loc">
                                                Location
                                             </div>   
                                        </div>
                                        <div class="lawr-cnt">
                                            <a href="">  </a>
                                             <div class="Lawr-img">
                                                   <img src="" alt="Lawyer photo">
                                             </div>
                                             <div class="lawr-name">
                                                 Lawyer name
                                             </div>
                                             <div class="lawr-loc">
                                                Location
                                             </div>   
                                        </div>
                                  </div>
                             </div>
                       </div>

                 </div>   

    </div>
    -->
    <!-- why work with us BEGIN -->
    <div class="white-background mcontainer" id="trust"> 
        <div class="">
            <div class="row padding-lg">
            <h2 class="margin-bottom-null left text-center-mobile wow fadeInLeft">Why trust us?</h2>
            <div class="col-sm-6 padding-left-null padding-right-null">
                <div data-responsive="parent-height" data-responsive-id="services-corporate" class="padding-topbottom-null paddright15">
                <!-- <h2 class="margin-bottom-null left">Tackle your legal hurdles faster with our legal management platform</h2> -->
                <!-- Box Services -->
                <div class="row box-services padding-onlytop-md">
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/quality.png" width="100%">
                        <!-- <i class="material-icons color service">ic_verified_user</i> -->
                        <h3 class="margin-bottom-extrasmall">Quality</h3>
                        <p class="margin-bottom-null">We feature the best lawyers, at your service around the clock.</p>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/reliable.png" width="100%">
                        <!-- <i class="material-icons color service">ic_sentiment_very_satisfied</i> -->
                        <h3 class="margin-bottom-extrasmall">Reliable</h3>
                        <p class="margin-bottom-null">Thanks to our rigorous follow up service, we ensure that your problem gets solved.</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-6 padding-left-null padding-right-null">
                <div data-responsive="parent-height" data-responsive-id="services-corporate" class="padding-topbottom-null paddleft15">
                <!-- <h2 class="margin-bottom-null left">Tackle your legal hurdles faster with our legal management platform</h2> -->
                <!-- Box Services -->
                <div class="row box-services padding-onlytop-md">
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/secure.png" width="100%">
                        <!-- <i class="material-icons color service">ic_security</i> -->
                        <h3 class="margin-bottom-extrasmall">Secure</h3>
                        <p class="margin-bottom-null">The highest levels of crypto-security ensure that your exchanges with your lawyer on our platform respect confidentiality to the fullest degree.</p>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/comprehensive.png" width="100%">
                        <!-- <i class="material-icons color service">ic_sync</i> -->
                        <h3 class="margin-bottom-extrasmall" style="overflow-wrap: break-word;">Comprehensive</h3>
                        <!-- <p class="margin-bottom-null">By accompanying you right from the search of your lawyer to solving your legal problem, we ensure that we are by your side every step of the way.</p> -->
                        <p class="margin-bottom-null">By accompanying you right from the search of your lawyer to solving your legal problem, we ensure that we are by your side from start to finish.</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

<!---
	<div class="footerFb-reviwe">
	
	<div class="mcontainer">
    <div class="fbrwbox">
	<span>And find your answer like they did: </span>
	   <div class="fbBox">
	     <marquee behavior="scroll" direction="up" scrollamount="2">
		 <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandrine.despujol%2Fposts%2F2640148679379432&width=350&show_text=false&appId=1834658320104672&height=137" width="350" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
		 	 <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandrine.despujol%2Fposts%2F2640148679379432&width=350&show_text=false&appId=1834658320104672&height=137" width="350" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
			 	 <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandrine.despujol%2Fposts%2F2640148679379432&width=350&show_text=false&appId=1834658320104672&height=137" width="350" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
				 	 <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandrine.despujol%2Fposts%2F2640148679379432&width=350&show_text=false&appId=1834658320104672&height=137" width="350" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
		 </marquee>
		 </div>
         </div>
		 </div>
	</div>
</div> -->

<footer class="mcontainer">
    <h2 class="left text-center-mobile wow fadeInLeft">We are backed by</h2>
    <div class="footer-images">
	<div class="fimg"><img src="assets/img/footer-img1.jpg" alt="" /></div>
	<div class="fimg"><img src="assets/img/footer-img2.jpg" alt="" /></div>
	<div class="fimg"><img src="assets/img/footer-img3.jpg" alt="" /></div>
    </div>
    <div class="footer-copy-text">
	<a href="#">Copyright @ 2019 - Helplicit - Tous droits réservés - CGV</a>
	<a href="#"> - Mentions Légales</a>
    </div>
</footer>
        <!--  END Footer. Class fixed for fixed footer  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
		
		       <script>
			$(document).ready(function(){
			  $(".search-toggle").click(function(){
				$(".header-search-form, .m_lgn").toggleClass("search-opened");
			  });
			});
        </script>
 <script>
            $(document).ready(function(){
        $(".rich-textarea").one('click keypress', function () {
    $(this).addClass('focused-once');
    $(".contextual-tooltip[data-target=\"#question\"]").addClass("visible");

    $("#intro-text").hide();
    $("#question-contextual-help").show();
});
$(".rich-textarea > .intro, .rich-textarea > .final").click(function(){
    $(this).parent().find('textarea').focus();
});


});
        </script>

    </body>
</html>