<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134634547-1"></script>
		<script>
 		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-134634547-1'); 
		</script>
		<!-- script to log user session -->
<!--  		<script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('anrr4o/qahelplicit');</script>
 -->        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Legals tailored for your unique story - business and personal | FortyQ</title>
       
		<meta name="description" content="Legals tailored for your unique story - business and personal">
    	<meta name="keywords" content="lawyer,solicitor,commercial,legal advice,contracts,terms and conditions,privacy policy,family law, conveyancing">
    			
        <!-- Open Graph data -->
		<meta property="og:title" content="Legals tailored for your unique story - business and personal | FortyQ<" />
		<meta property="og:type" content="article" />
		<meta property="og:locale" content="en_EN" />
		<meta property="og:url" content="https://www.fortyq.com/" />
		<meta property="og:description" content="Legals tailored for your unique story - business and personal" />
		<meta property="og:site_name" content="FortyQ" /><meta property="article:publisher" content="https://www.facebook.com/helplicit" />
		
        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="assets/css/style_m.css?1" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/logo-comment.png"/>        
</head>
    <body>

<div class="smallheader">
    <div class="mcontainer">
	<div class="text-right topicons">
	    <span class="contactno"><i class="fa fa-phone"></i> Call Free +44 1274792693</span>
	    <a href="/login"><i class="fa fa-user-circle"></i> My account</a>
	</div>
    </div>
</div>
<header class="header_mm">
	<div class="mcontainer ">
    	<div class="mlogo"><a href="/"><img src="assets/img/logo-new.png" alt="" /></a></div>
	<a href="#" class="btn-custom pull-right">Submit your query</a>		
        <div class="mclear"></div>
    </div>
</header>

<div class="mmidd_sec">
	<div class="mcontainer form-container">
	
        <div class="mform_sec">
	    <div class="mown_law"> 
	    {{__ "legalQuestion"}}
	    <p> {{__ "fastResponse"}}</p>
	  </div>
		    <div class="mform_part">
                  <form class="fullwidth" method='post' action='/questionIndexPage'>
					   <div class="mform1">
		
		
		                  <div class="rich-textarea bordered">
		                     
		                    <div class="mbigest_repo"></div>
		                   
		                    <textarea class="autoExpand" rows="4" placeholder="{{__ 'questionPh'}}" id="question" name="content" required="" minlength="20" maxlength="1500"></textarea>
		                   <div class="minput_text">{{__ "instructionsFooter"}}</div>
		                  </div>
		                  <div class="text-center fullflex"><button class="btn-custom" type="buttonh">{{__ "question"}}</button></div>
		                    
					   </div>
			    </form>
			</div>
        	<!--<div class="mform_part">
                <form id="form1" name="form1" method="post" action="" class="mform1">
                	<div class="mown_law">The biggest legal database at your fingertips.</div>
                    <div class="mbigest_repo">Subheading</div>
                    <div class="minput_text"><input name="" type="text" value="Type your question" /></div>
                    <div class="mbtn"><button type="Search" form="form1" value="Search">Submit</button></div>
                </form>
            </div> -->
        	<div class="mcartoon">
		    <img src="assets/img/img-right.jpg" alt="" />
		    <div class="trustpilot"><span>Shining on</span> <a href="https://www.trustpilot.com/" target="_blank"><img src="assets/img/tp-5star.png" width="70" /></a></div>
		</div>
            <div class="mclear"></div>
        </div>
    </div>
    
    <div class="how-it-works mcontainer">
	<div class="">
	    <div class="row padding-lg">
		<h2 class="left text-center-mobile wow fadeInLeft">How it works</h2>
		<div class="col-sm-4">
		    <div class="innner-box">
			<div class="ib-icon"><img src="assets/img/ico-image-1.jpg" width="175" alt="" /></div>
			<div class="ib-title">Your request is reviewed</div>
			<div class="ib-text">Your problem is analyzed by legal experts. If the answer takes less than 42 minutes, you pay £ 4.20. If the problem is bigger, it qualifies as a dossier. You will receive up to 3 quotes from experts, and can chose one of them to work with.</div>
		    </div>
		</div>
		<div class="col-sm-4">
		    <div class="innner-box">
			<div class="ib-icon"><img src="assets/img/ico-image-2.jpg" width="175" alt="" /></div>
			<div class="ib-title">Track your dossier</div>
			<div class="ib-text">Track the status of your dossier via a shared space with your lawyer on 40Q. Chat with your lawyer in real time. A dedicated relationship manager ensures smooth proceedings, and is just a call away in case of issues.</div>
		    </div>
		</div>
		<div class="col-sm-4">
		    <div class="innner-box">
			<div class="ib-icon"><img src="assets/img/ico-image-3.jpg" width="175" alt="" /></div>
			<div class="ib-title">Click and finish</div>
			<div class="ib-text">Once your case is resolved, all you have to do is close the dossier and that's it!</div>
		    </div>
		</div>
	    </div>
	    
	</div>
    </div>
    
    <div class="mcontainer answered-block">
                <div class="row">
                       <div class="col-sm-6">
                             <h3>Recent Cases</h3>

                             <div class="answered-Q">
                             	  {{#each qaList}}
                                  <div class="Q-box">
                                      <a href="">  </a>
                                        <div class="Lawyers-img">
                                           <img src="/assets/img/logo-comment.png" alt="Lawyer photo">
                                        </div>
                                        <div class="q-cnt">
                                              <h6>{{subject}}</h6>
                                              <p>Response by - <strong>{{responseBy}}</strong> at <strong>{{responseDate}}</strong></p>
                                        </div>
                                       
                                  </div>
                                  {{/each}}
                             </div>
                       </div>
                       <div class="col-sm-6">
                             <h3>Most active lawyers</h3>
                             <div class="answered-Q">
                                  <div class="Lawyer-details">
                                     <div class="lawr-cnt">
                                         <a href="https://www.linkedin.com/in/alicem687/" target="_blank">  </a>
                                          <div class="Lawr-img">
                                                <img src="/assets/img/logo-comment.png" alt="Lawyer photo">
                                          </div>
                                          <div class="lawr-name">
                                              Alice Macris
                                          </div>
                                          <div class="lawr-loc">
                                             London
                                          </div>    
                                     </div>  
                                     <div class="lawr-cnt">
                                         <a href="" target="_blank">  </a>
                                          <div class="Lawr-img">
                                                <img src="/assets/img/logo-comment.png" alt="Lawyer photo">
                                          </div>
                                          <div class="lawr-name">
                                              Suzanne Harley-Davies
                                          </div>
                                          <div class="lawr-loc">
                                             New Yorkshire
                                          </div>    
                                     </div>
                                     <div class="lawr-cnt">
                                         <a href="http://legalx.co.uk/" target="_blank">  </a>
                                          <div class="Lawr-img">
                                                <img src="/assets/img/logo-comment.png" alt="Lawyer photo">
                                          </div>
                                          <div class="lawr-name">
                                              Cornel C.  
                                          </div>
                                          <div class="lawr-loc">
                                             London
                                          </div>    
                                     </div>
                                     <div class="lawr-cnt">
                                         <a href="https://www.linkedin.com/in/barrister-naveed-khan-065a4311/" target="_blank">  </a>
                                          <div class="Lawr-img">
                                                <img src="/assets/img/logo-comment.png" alt="Lawyer photo">
                                          </div>
                                          <div class="lawr-name">
                                              Naveed Khan 
                                          </div>
                                          <div class="lawr-loc">
                                             Cardiff, Islamabad
                                          </div>    
                                     </div>
                                     <div class="lawr-cnt">
                                         <a href="" target="_blank">  </a>
                                          <div class="Lawr-img">
                                                <img src="/assets/img/logo-comment.png" alt="Lawyer photo">
                                          </div>
                                          <div class="lawr-name">
                                              Pierre Py 
                                          </div>
                                          <div class="lawr-loc">
                                             Paris, Japan
                                          </div>    
                                     </div> 
                                     <div class="lawr-cnt">
                                         <a href="https://www.linkedin.com/in/philippe-simon-52ba3823/" target="_blank">  </a>
                                          <div class="Lawr-img">
                                                <img src="/assets/img/logo-comment.png" alt="Lawyer photo">
                                          </div>
                                          <div class="lawr-name">
                                              Philippe Simon 
                                          </div>
                                          <div class="lawr-loc">
                                             Grenoble, France
                                          </div>    
                                     </div>                                                                          
                                  </div>
                             </div>
                       </div>

                 </div>   

    </div>

    <!-- why work with us BEGIN -->
    <div class="white-background mcontainer" id="trust"> 
        <div class="">
            <div class="row padding-lg">
            <h2 class="margin-bottom-null left text-center-mobile wow fadeInLeft">Why trust us?</h2>
            <div class="col-sm-6 padding-left-null padding-right-null">
                <div data-responsive="parent-height" data-responsive-id="services-corporate" class="padding-topbottom-null paddright15">
                <!-- <h2 class="margin-bottom-null left">Tackle your legal hurdles faster with our legal management platform</h2> -->
                <!-- Box Services -->
                <div class="row box-services padding-onlytop-md">
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/quality.png" width="100%">
                        <!-- <i class="material-icons color service">ic_verified_user</i> -->
                        <h3 class="margin-bottom-extrasmall">Quality</h3>
                        <p class="margin-bottom-null">We feature the best lawyers, at your service around the clock.</p>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/reliable.png" width="100%">
                        <!-- <i class="material-icons color service">ic_sentiment_very_satisfied</i> -->
                        <h3 class="margin-bottom-extrasmall">Reliable</h3>
                        <p class="margin-bottom-null">Thanks to our rigorous follow up service, we ensure that your problem gets solved.</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-6 padding-left-null padding-right-null">
                <div data-responsive="parent-height" data-responsive-id="services-corporate" class="padding-topbottom-null paddleft15">
                <!-- <h2 class="margin-bottom-null left">Tackle your legal hurdles faster with our legal management platform</h2> -->
                <!-- Box Services -->
                <div class="row box-services padding-onlytop-md">
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/secure.png" width="100%">
                        <!-- <i class="material-icons color service">ic_security</i> -->
                        <h3 class="margin-bottom-extrasmall">Secure</h3>
                        <p class="margin-bottom-null">The highest levels of crypto-security ensure that your exchanges with your lawyer on our platform respect confidentiality to the fullest degree.</p>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/comprehensive.png" width="100%">
                        <!-- <i class="material-icons color service">ic_sync</i> -->
                        <h3 class="margin-bottom-extrasmall" style="overflow-wrap: break-word;">Comprehensive</h3>
                        <!-- <p class="margin-bottom-null">By accompanying you right from the search of your lawyer to solving your legal problem, we ensure that we are by your side every step of the way.</p> -->
                        <p class="margin-bottom-null">By accompanying you right from the search of your lawyer to solving your legal problem, we ensure that we are by your side from start to finish.</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="supportedby mcontainer">
	<div class="row padding-lg">
	    <h2 style="margin-bottom: 20px !important" class="margin-bottom-null left text-center-mobile wow fadeInLeft">Supported by</h2>
	    <div class="col-xs-4">
		<img src="assets/img/nvidia.png" alt="" />
	    </div>
	    <div class="col-xs-4 text-center">
		<img src="assets/img/startup-school.png" alt="" />
	    </div>
	    <div class="col-xs-4 text-right">
		<img src="assets/img/ntler.png" alt="" />
	    </div>
	</div>
    </div>

	<!--  Footer  -->
        <footer>
            <div class="mcontainer">
                <div class="row">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="assets/img/logo-new-white.png" class="normal" alt="logo">
                        </div>
                        <p>Legal assistance for small and bigger problems. We're moving fast, and fixing things. </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/helplicit"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>FortyQ <br>
                            Techspace Aldgate East<br> 32-38 Leman St, Whitechapel, London E1 8EW</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important links</h4>
                        <ul class="info">
                            <li><a href="">Home</a></li>
                            <li><a href="">Who we are</a></li>
                            <li><a href="/covid">Covid</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscription</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID">
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="mcontainer">
                <div class="row">
                    <div class="col-md-6 text">
                        <p>©2020 <a href="#">FortyQ</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="https://app.termly.io/document/privacy-policy/c4893091-a42d-45f3-bcba-d003337acb46">Privacy Policy</a></li>
                            <!-- <li><a href="#">Cookie Policy</a></li> -->
                            <li><a href="https://app.termly.io/document/terms-and-conditions/2d603385-3939-4a0c-8a99-196e9d8da0b1">Term and Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script> -->
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
		
		       <script>
			$(document).ready(function(){
			  $(".search-toggle").click(function(){
				$(".header-search-form, .m_lgn").toggleClass("search-opened");
			  });
			});
        </script>
 <script>
            $(document).ready(function(){
        $(".rich-textarea").one('click keypress', function () {
    $(this).addClass('focused-once');
    $(".contextual-tooltip[data-target=\"#question\"]").addClass("visible");

    $("#intro-text").hide();
    $("#question-contextual-help").show();
});
$(".rich-textarea > .intro, .rich-textarea > .final").click(function(){
    $(this).parent().find('textarea').focus();
});


});
        </script>

    </body>
</html>