<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134634547-1"></script>
	<script>
		  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-134634547-1'); 
	</script>
	<!-- script to log user session -->
<!--  		<script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('anrr4o/qahelplicit');</script>
 -->        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
       <title>Legals tailored for your unique story - business and personal | FortyQ</title>
      
	<meta name="description" content="Legals tailored for your unique story - business and personal">
   	<meta name="keywords" content="lawyer,solicitor,commercial,legal advice,contracts,terms and conditions,privacy policy,family law, conveyancing">
   			
       <!-- Open Graph data -->
	<meta property="og:title" content="Legals tailored for your unique story - business and personal | FortyQ<" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="en_EN" />
	<meta property="og:url" content="https://www.fortyq.com/" />
	<meta property="og:description" content="Legals tailored for your unique story - business and personal" />
	<meta property="og:site_name" content="FortyQ" /><meta property="article:publisher" content="https://www.facebook.com/helplicit" />
    <link rel="icon" href="/img/favicon.ico">

    <title>Fortyq</title>

    <!-- Bootstrap core CSS -->
    <link href="newDesign/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="newDesign/fortyq.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <div class="top-bar">
        <div class="container">
          <div class="top-bar-left">
            We are currently in beta, and offering credits via <a href="https://www.f6s.com/40q/edit/deal/11432/10-off-on-your-legals" class="top-bar-link-blue">f6s</a>
          </div>
          <div class="top-bar-right">
            <a href="" class="top-bar-link">Legal Expert?</a>
            <a href="" class="top-bar-link">Register</a>
            <a href="" class="top-bar-link"><img src="newDesign/img/login-icon.png" class="login-icon"/>Login</a>
          </div>
          <div class="clear_all"></div>
        </div>
      </div>
      <nav id="nav-wrap" class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="newDesign/img/logo.png"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#how-it-works-scroll">How it works <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#recent-cases-scroll">Recent Cases</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#lawyers-scroll">Lawyers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#why-turst-us-scroll">Why Trust Us?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            <a class="submit-btn" href="#">Submit a query</a>
            <div class="clear_all"></div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="caption">
                <h1><span class="ev-text">Legals</span> tailored to </br>your unique story - personal and business.</h1>
                <p class="header-subtitle"><span class="underline-1">Fast.</span>  <span class="underline-2">Precise.</span>  <span class="underline-3">Affordable.</span></p>
                
                <form method='post' action="/questionIndexPage" id="query_form">
                  <p class="query-form-subtitle">How can we help you?</p>
                  <div class="clear_all"></div>
                  
                  <textarea name="content" class="query-form">Please explain your query and with as much detail as possible...</textarea>
                  <div class="clear_all"></div>
                  <input type="submit" class="submit-btn-q" value="Submit a query">
                  <div class="clear_all"></div>
                </form>
                
              </div>
            
              <img src="newDesign/img/illustration-right.png" class="illustration-right"/>
              <div class="clear_all"></div>

            </div>
          </div>
        </div>
        
        <img src="newDesign/img/left-op.png" class="left-op"/>
        <img src="newDesign/img/right-op.png" class="right-op"/>
      </div>

      <div class="trust-pilot container">
        <p>Shining on:</p>
        <a href="https://uk.trustpilot.com/review/fortyq.com"><img src="newDesign/img/Trust-Pilot-Logo.png" class="trust-pilot-logo"/></a>
      </div>

      
      <div class="how-it-works" id="how-it-works-scroll">
        <div class="container">
          <span class="heading-title">How it works</span>
          <div class="clear_all"></div>
          
          <div class="hiw-step first">
            <div class="step-w-container">
              <div class="step-w-container-left">
                <img src="newDesign/img/icon-01.png"/>
              </div>
              <div class="step-w-container-right">
                <span class="heading-sub-title">Your Request is Reviewed</span>
                <div class="clear_all"></div>
                <span class="step-text">
                  Your problem is analyzed by legal experts. If the answer takes less than 42 minutes, you pay £ 4.20. If the problem is bigger, it qualifies as a dossier. 
                  </br></br>
                  You will receive up to 3 quotes from experts, and can chose one of them to work with.
                </span>
              </div>
              <div class="clear_all"></div>
              <span class="blue-line"></span>
            </div>
          </div>
      
          <div class="hiw-step second">
            <div class="step-w-container">
              <div class="step-w-container-left">
                <img src="newDesign/img/icon-02.png"/>
              </div>
              <div class="step-w-container-right">
                <span class="heading-sub-title">Track your Dossier</span>
                <div class="clear_all"></div>
                <span class="step-text">
                  Track the status of your dossier via a shared space with your lawyer on 40Q. Chat with your lawyer in real time. 
                  </br></br>
                  A dedicated relationship manager ensures smooth 
                  proceedings, and is just a call away in case of issues.
                </span>
              </div>
              <div class="clear_all"></div>
              <span class="blue-line"></span>
            </div>
          </div>
          
          <div class="hiw-step third">
            <div class="step-w-container">
              <div class="step-w-container-left">
                <img src="newDesign/img/icon-03.png"/>
              </div>
              <div class="step-w-container-right">
                <span class="heading-sub-title">Click and Finish</span>
                <div class="clear_all"></div>
                <span class="step-text">
                  Once your case is resolved, all you have to do is close the dossier and that's it!
                </span>
              </div>
              <div class="clear_all"></div>
            </div>
          </div>
      
      
        </div>
      </div>
      
      
      <div class="recent-cases" id="recent-cases-scroll">
        <div class="container">
          <span class="heading-title">Recent Cases</span>
          <div class="clear_all"></div>
          <div class="cases-container">
            <div class="cases-four">
              <span class="case-title">Employer conflict in COVID context</span>
              <div class="clear_all"></div>
              
              <div class="case-divider"></div>
              
              <p class="case-response">Response by <a href="">Naveed Khan</a></p>
              <div class="clear_all"></div>
              <p class="case-date">27 June 2020 | 3:52 PM</p>
              <div class="clear_all"></div>
              <p>Amount paid: </br>
              <span class="case-price">£ 500</span></p>
              <div class="clear_all"></div>
              
              <div class="case-circle"><img src="newDesign/img/case-icon.png" class="case-icon"/></div>
            </div>
        
            <div class="cases-four">
              <span class="case-title">Co-founder conflict for fertility startup</span>
              <div class="clear_all"></div>
              
              <div class="case-divider"></div>
              
              <p class="case-response">Response by <a href="">Suzanne Davies</a></p>
              <div class="clear_all"></div>
              <p class="case-date">10 May. 2020 | 9:58 PM</p>
              <div class="clear_all"></div>
              <p>Amount paid: </br>
              <span class="case-price">£ 250</span></p>
              <div class="clear_all"></div>
              
              <div class="case-circle"><img src="newDesign/img/case-icon.png" class="case-icon"/></div>
            </div>
            
            <div class="cases-four">
              <span class="case-title">Patent work for neurological device</span>
              <div class="clear_all"></div>
              
              <div class="case-divider"></div>
              
              <p class="case-response">Response by <a href="">Suzanne Davies</a></p>
              <div class="clear_all"></div>
              <p class="case-date">28 April. 2020 | 4:26 PM</p>
              <div class="clear_all"></div>
              <p>Amount paid: </br>
              <span class="case-price">£ 800</span></p>
              <div class="clear_all"></div>
              
              <div class="case-circle"><img src="newDesign/img/case-icon.png" class="case-icon"/></div>
            </div>
            
            <div class="cases-four">
              <span class="case-title">Website TnC for recruitment startup </span>
              <div class="clear_all"></div>
              
              <div class="case-divider"></div>
              
              <p class="case-response">Response by <a href="">James Ovuike</a></p>
              <div class="clear_all"></div>
              <p class="case-date">15 July 2020 | 6:37 PM</p>
              <div class="clear_all"></div>
              <p>Amount paid: </br>
              <span class="case-price">£ 900</span></p>
              <div class="clear_all"></div>
              
              <div class="case-circle"><img src="newDesign/img/case-icon.png" class="case-icon"/></div>
            </div>
            <div class="clear_all"></div>
          </div>
        </div>
      </div>
      
      
      <div class="most-active-lawyers" id="lawyers-scroll">
        <div class="container">
          <span class="heading-title">Most Active Lawyers</span>
          <div class="clear_all"></div>
          
          <div class="lawyers-container">
            
            <div class="lawyers-six">
              <img src="newDesign/img/lawyer-image.png" class="lawyer-image"/>
              <div class="clear_all"></div>
              <p><span class="lawyer-name">Alice Macris</span></br>
              London</p>
            </div>
            <div class="lawyers-six">
              <img src="newDesign/img/lawyer-image.png" class="lawyer-image"/>
              <div class="clear_all"></div>
              <p><span class="lawyer-name">James Ovuike</span></br>
              London</p>
            </div>
            <div class="lawyers-six">
              <img src="newDesign/img/lawyer-image.png" class="lawyer-image"/>
              <div class="clear_all"></div>
              <p><span class="lawyer-name">Naveed Khan</span></br>
              Cardiff</p>
            </div>
            <div class="lawyers-six">
              <img src="newDesign/img/lawyer-image.png" class="lawyer-image"/>
              <div class="clear_all"></div>
              <p><span class="lawyer-name">Simon Philippe</span></br>
              France</p>
            </div>
            <div class="lawyers-six">
              <img src="newDesign/img/lawyer-image.png" class="lawyer-image"/>
              <div class="clear_all"></div>
              <p><span class="lawyer-name">Quennezy Koay</span></br>
              Singapore</p>
            </div>
            <div class="lawyers-six">
              <img src="newDesign/img/lawyer-image.png" class="lawyer-image"/>
              <div class="clear_all"></div>
              <p><span class="lawyer-name">Pete V.D</span></br>
              SF, USA</p>
            </div>
            
            
            <div class="clear_all"></div>
            
          </div>
          
          
        </div>
      </div>
      
      
      <div class="why-trust-us" id="why-turst-us-scroll">
        <div class="container">
          <span class="heading-title">Why trust us?</span>
          <div class="clear_all"></div>
          
          <div class="trust-container">
            <div class="trust-four">
              <img src="newDesign/img/trust-icon-1.png" class="trust-icon"/>
              <div class="clear_all"></div>
              <span class="trust-title">Quality</span>
              <div class="clear_all"></div>
              <p> We feature the best lawyers,
                  at your service around 
                  the clock.
              </p>
            </div>
            
            
            <div class="trust-four">
              <img src="newDesign/img/trust-icon-2.png" class="trust-icon"/>
              <div class="clear_all"></div>
              <span class="trust-title">Reliable</span>
              <div class="clear_all"></div>
              <p> Thanks to our rigorous follow up service, we ensure that your problem gets solved.
              </p>
            </div>
            
            
            <div class="trust-four">
              <img src="newDesign/img/trust-icon-3.png" class="trust-icon"/>
              <div class="clear_all"></div>
              <span class="trust-title">Secure</span>
              <div class="clear_all"></div>
              <p> The highest levels of 
crypto-security ensure that your exchanges with your lawyer on our platform respect confidentiality to the fullest degree.
              </p>
            </div>
            
            
            <div class="trust-four">
              <img src="newDesign/img/trust-icon-4.png" class="trust-icon"/>
              <div class="clear_all"></div>
              <span class="trust-title">Comprehensive</span>
              <div class="clear_all"></div>
              <p> By accompanying you right from the search of your lawyer to solving your legal problem, we ensure that we are by your side from start to finish.
              </p>
            </div>
            
            <div class="clear_all"></div>
          </div>
          
        </div>
      </div>
      
      <div class="satisfied-customers">
        <div class="container">
          <span class="heading-title-light">Countless satisfied customers</span>
          <div class="clear_all"></div>
          <p class="satisfied-customers-subtitle">Over the past few months we’ve worked with individuals and companies all over the world. Over the scores that have recommended us, here is what some of them have to say.</p>
          <div class="clear_all"></div>
          
          <div class="customers-container">
            
            <div class="customers-seven">
              <img src="" class="customer-logo"/>
              <div class="clear_all"></div>
              <p>Getting help from the Fortyq team was super quick. I was connected with a few lawyers by the Fortyq team and the lawyers were accessible and responded fast. I needed help with a customer service agreement and had Barrister Khan assist me on that at a reasonable fee.</p>
              <p class="customer-name">Nisarg Shah</p>
              <div class="clear_all"></div>
              <p class="customer-link">CEO, Affable AI</p>
            </div>
            
            <div class="customers-seven">
              <img src="" class="customer-logo"/>
              <div class="clear_all"></div>
              <p>Very professional and really very quick. I could get my questions answered, including follow-on classification questions. Really happy.</p>
              <p class="customer-name">Radek Kowalski</p>
              <div class="clear_all"></div>
              <p class="customer-link">AGEAS Insurance, UK</p>
            </div>
            
            <div class="customers-seven">
              <img src="" class="customer-logo"/>
              <div class="clear_all"></div>
              <p>I tried Fortyq with a couple of legal questions that I have been debating for quite some time. The answer was incredibly fast for the complexity of my questions. Thanks for everything!</p>
              <p class="customer-name">Dr. Ines de Santiago</p>
              <div class="clear_all"></div>
              <p class="customer-link">Scientific Team Leader, UK</p>
            </div>
            
            <div class="customers-seven">
              <img src="" class="customer-logo"/>
              <div class="clear_all"></div>
              <p>I had a very complicated case of unpaid work from one of my client and got one of their lawyer to help me for that case. I go very qualified counseling and the lawyer then recommended me to an attorney for the tasks only attorneys were allowed to do. Great experience!</p>
              <p class="customer-name">Thanh-Quy Nguyen</p>
              <div class="clear_all"></div>
              <p class="customer-link">Ecole 42 Alum, Paris</p>
            </div>
            <div class="clear_all"></div>
          </div>
          
        </div>
      </div>
      

      <!-- FOOTER -->
      <footer>
        <div class="container">
          <div class="footer-four">
                <img src="newDesign/img/logo-light.png" class="footer-logo"/>
                <div class="clear_all"></div>
                <p>Legal assistance for small and bigger problems. We're moving fast, and fixing things.</p>
                <div class="clear_all"></div>
          </div>
          <div class="footer-four">
                <span class="heading-sub-title-light">Head Office</span>
                <div class="clear_all"></div>
                <p>
                  FortyQ</br>
                  Techspace Aldgate East</br>
                  32-38 Leman St, Whitechapel,</br>
                  London E1 8EW
                </p>
          </div>
          <div class="footer-four">
                <span class="heading-sub-title-light">Important Links</span>
                <div class="clear_all"></div>
                <ul class="footer-menu">
                  <li><a href="" class="footer-link">Home</a></li>
                  <li><a href="" class="footer-link">Who we are</a></li>
                  <li><a href="" class="footer-link">Covid</a></li>
                  <li><a href="" class="footer-link">FAQ</a></li>
                  <li><a href="" class="footer-link">Contact</a></li>
                </ul>
          </div>
          <div class="footer-four">
                <span class="heading-sub-title-light">News Subscription</span>
                <div class="clear_all"></div>
                <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                <div class="clear_all"></div>
                
                
                <form action="" id="subsribe_form">
                  <input type="text" id="s-email" name="email" placeholder="example@company.com">
                  <input type="submit" class="subscribe-btn" value="Subscribe">
                </form>
                
          </div>
          <div class="clear_all"></div>
          
          <div class="footer-left">
            <p>&copy; 2020 FortyQ. All rights reserved.</p>
          </div>
          <div class="footer-right">
            <p><a href="https://app.termly.io/document/privacy-policy/c4893091-a42d-45f3-bcba-d003337acb46" class="footer-link">Privacy Policy.</a> <a href = "https://app.termly.io/document/terms-and-conditions/2d603385-3939-4a0c-8a99-196e9d8da0b1" class="footer-link">Terms and Conditions.</a></p>
          </div>
          <div class="clear_all"></div>
          
        </div>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/newDesign/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="newDesign/js/vendor/popper.min.js"></script>
    <script src="newDesign/js/bootstrap.min.js"></script>
    
    <script>
    jQuery(document).ready(function($) {
        $(window).on('load scroll', function() {
          
            var window_top = $(window).scrollTop();
            var div_top = $('header').offset().top - 140;
            
            if (window_top > div_top) {
                    $('#nav-wrap').addClass('nav-sml');
            } 
            if(window_top < div_top){
                $('#nav-wrap').removeClass('nav-sml');
            }
            
        });
    });
    </script>
    
    
  </body>
</html>
