<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134634547-1"></script>
		<script>
 		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-134634547-1'); 
		</script>
		<!-- script to log user session -->
 		<script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('anrr4o/qahelplicit');</script>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Ask an Expert & Get Answers in 42 minutes | FortyQ</title>
       
		<meta name="description" content="Our handpicked experts answer any legal question in 42 minutes flat, for € 4.20.">
    	<meta name="keywords" content="Ask an Expert, Ask Questions Get Answers, Ask A Question Online, Ask Questions Online, Question And Answer, Ask A Question, Ask An Expert, Ask Questions, Get Answers, Ask Experts">
    			
        <!-- Open Graph data -->
		<meta property="og:title" content="Assistance juridique - Réponse précise en 42 minutes | Helplicit" />
		<meta property="og:type" content="article" />
		<meta property="og:locale" content="en_EN" />
		<meta property="og:url" content="https://www.fortyq.com/" />
		<meta property="og:description" content="Our handpicked experts answer any legal question in 42 minutes flat, for € 4.20." />
		<meta property="og:site_name" content="Helplicit" /><meta property="article:publisher" content="https://www.facebook.com/helplicit" />

       	<link rel="shortcut icon" href="assets/img/logo-comments.png" type="image/x-icon"/>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        
        <link href="assets/css/style_m.css?1" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">


<style type="stylesheet">


</style>

 
    </head>
    <body>
	
	<div class="bg-img">
	
	</div>
      
<header class="header_mm">
	<div class="mcontainer ">
    	<div class="mlogo"><a href="#"><img src="assets/img/logo-new.png" alt="" /></a></div>
	  
     
		 <div class="legswitch">
	          <ul>
	                  <li class="lang">
                            <span class="current"><a href="/lang/:en">En</a></span>
                            <ul>     
                                <li><a href="/lang/:fr">Fr</a></li>
                            </ul>
                        </li>
						</ul>
	   </div>
		  <div class="searchbox">
				 <div class="header-search-form">
					<form id="searchForm">
					  <input id="searchText" type="text">
					</form>
				  </div>
					<a class="search-toggle d-none d-md-inline-block" id="searchToggle">
					  <i class="fa fa-search" aria-hidden="true"></i>
					</a>
			</div>
			   <div class="m_lgn"><a href="/loginLawyer">Expert?</a></div>
      <!--  <div class="mask_qst"><a href="#">Ask your question</a></div>  -->
			
        <div class="mclear"></div>
    </div>
</header>

<div class="mmidd_sec">
	<div class="mcontainer form-container">
        <div class="mform_sec">
		    <div class="mform_part">
                  <form>
			   <div class="mform1">

			      <div class="mown_law"> 
                    {{__ "legalQuestion"}}
                    <p> {{__ "fastResponse"}}</p>
                  </div>


                  <div class="rich-textarea bordered">
                     
                    <div class="mbigest_repo">{{__ "instructions"}}</div>
                   
                    <textarea class="autoExpand" rows="4" placeholder="{{__ 'questionPh'}}" id="question" name="content" required="" minlength="20" maxlength="1500"></textarea>
                   <div class="minput_text">{{__ "instructionsFooter"}}</div>
                  </div>
                  <div class="mbtn"><button type="buttonh">{{__ "question"}}</button></div>
                    
			   </div>
			    </form>
			</div>
        	<!--<div class="mform_part">
                <form id="form1" name="form1" method="post" action="" class="mform1">
                	<div class="mown_law">The biggest legal database at your fingertips.</div>
                    <div class="mbigest_repo">Subheading</div>
                    <div class="minput_text"><input name="" type="text" value="Type your question" /></div>
                    <div class="mbtn"><button type="Search" form="form1" value="Search">Submit</button></div>
                </form>
            </div> -->
        	<div class="mcartoon">
		    <img src="assets/img/new-pic.png" alt="" />
		    <div class="trustpilot"><span>Shining on</span> <a href="https://www.trustpilot.com/" target="_blank"><img src="assets/img/tp-5star.png" width="104" /></a></div>
		</div>
            <div class="mclear"></div>
        </div>
    </div>
	
     <div class="mcontainer answered-block">
                <div class="row">
                       <div class="col-sm-6">
                             <h3>Recently answered questions</h3>

                             <div class="answered-Q">
                             	  {{#each qaList}}
                                  <div class="Q-box">
                                      <a href="/questionDashboard">  </a>
                                        <div class="Lawyers-img">
                                           <img src="//assets/img/hlLogoComments.png" alt="Lawyer photo">
                                        </div>
                                        <div class="q-cnt">
                                              <h4>{{subject}}</h4>
                                              <p>Response by - <strong>{{responseBy}}</strong> at <strong>{{responseDate}}</strong></p>
                                        </div>
                                       
                                  </div>
                                  {{/each}}
                             </div>
                       </div>
                       <div class="col-sm-6">
                             <h3>Lawyers most active on the platform</h3>
                             <div class="answered-Q">
                                  <div class="Lawyer-details">
                                     {{#each lawyerList}}
                                        <div class="lawr-cnt">
                                            <a href="/lawyerProfilePage/:{{username}}">  </a>
                                             <div class="Lawr-img">
                                                   <img src="//assets/img/hlLogoComments.png" alt="Lawyer photo">
                                             </div>
                                             <div class="lawr-name">
                                                 {{firstname}}
                                             </div>
                                             <div class="lawr-loc">
                                                {{region}}
                                             </div>   
                                        </div>
                                     {{/each}}
                                     
                             </div>
                             <div class="Lawyer-details">
                                {{#each lawyerList2}}
                                   <div class="lawr-cnt">
                                       <a href="/lawyerProfilePage/:{{username}}">  </a>
                                        <div class="Lawr-img">
                                              <img src="//assets/img/hlLogoComments.png" alt="Lawyer photo">
                                        </div>
                                        <div class="lawr-name">
                                            {{firstname}}
                                        </div>
                                        <div class="lawr-loc">
                                           {{region}}
                                        </div>   
                                   </div>
                                {{/each}}
                                
                        </div>                             
                       </div>

                 </div>   

    	</div>
    </div>

    <!-- why work with us BEGIN -->
    <div class="white-background mcontainer" id="trust"> 
        <div class="">
            <div class="row padding-lg">
            <h2 class="margin-bottom-null left text-center-mobile wow fadeInLeft">{{__ "whyus"}}</h2>
            <div class="col-sm-6 padding-left-null padding-right-null">
                <div data-responsive="parent-height" data-responsive-id="services-corporate" class="padding-topbottom-null paddright15">
                <!-- <h2 class="margin-bottom-null left">Tackle your legal hurdles faster with our legal management platform</h2> -->
                <!-- Box Services -->
                <div class="row box-services padding-onlytop-md">
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/quality.png" width="100%">
                        <!-- <i class="material-icons color service">ic_verified_user</i> -->
                        <h3 class="margin-bottom-extrasmall">{{__ "quality"}}</h3>
                        <p class="margin-bottom-null">{{__ "qualityDesc"}}</p>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/reliable.png" width="100%">
                        <!-- <i class="material-icons color service">ic_sentiment_very_satisfied</i> -->
                        <h3 class="margin-bottom-extrasmall">{{__ "reliable"}}</h3>
                        <p class="margin-bottom-null">{{__ "reliableDesc"}}</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-6 padding-left-null padding-right-null">
                <div data-responsive="parent-height" data-responsive-id="services-corporate" class="padding-topbottom-null paddleft15">
                <!-- <h2 class="margin-bottom-null left">Tackle your legal hurdles faster with our legal management platform</h2> -->
                <!-- Box Services -->
                <div class="row box-services padding-onlytop-md">
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/secure.png" width="100%">
                        <!-- <i class="material-icons color service">ic_security</i> -->
                        <h3 class="margin-bottom-extrasmall">{{__ "secure"}}</h3>
                        <p class="margin-bottom-null">{{__ "secureDesc"}}</p>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/comprehensive.png" width="100%">
                        <!-- <i class="material-icons color service">ic_sync</i> -->
                        <h3 class="margin-bottom-extrasmall" style="overflow-wrap: break-word;">{{__ "comprehensive"}}</h3>
                        <!-- <p class="margin-bottom-null">By accompanying you right from the search of your lawyer to solving your legal problem, we ensure that we are by your side every step of the way.</p> -->
                        <p class="margin-bottom-null">{{__ "comprehensiveDesc"}}</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

	<div class="footerFb-reviwe">
	
	<div class="mcontainer">
    <div class="fbrwbox">
	<span>{{__ "findAnswerLike"}} </span>
	   <div class="fbBox">
	     <marquee behavior="scroll" direction="up" scrollamount="2">
			<iframe src="https://www.facebook.com/plugins/comment_embed.php?href=https%3A%2F%2Fwww.facebook.com%2Fluna.gauda%2Fposts%2F1317958321711267%3Fcomment_id%3D1335372026636563&include_parent=false" width="560" height="121" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>		 	 <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandrine.despujol%2Fposts%2F2640148679379432&width=350&show_text=false&appId=1834658320104672&height=137" width="350" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
			<iframe src="https://www.facebook.com/plugins/comment_embed.php?href=https%3A%2F%2Fwww.facebook.com%2Fangelique89500%2Fposts%2F2710238162358702%3Fcomment_id%3D2851624858220031&include_parent=false" width="560" height="161" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>				 	 <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandrine.despujol%2Fposts%2F2640148679379432&width=350&show_text=false&appId=1834658320104672&height=137" width="350" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fangelique89500%2Fposts%2F2710238162358702&width=500" width="500" height="161" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>			
		 </marquee>
		 </div>
         </div>
		 </div>
	</div>
</div>

<footer class="mcontainer">
<div class="footer-nav">
      <div class="row">
	      <div class="col-sm-6">
		     <ul>
			     <li><a href="">Payments processed with :</a></li>
				 <li><img src="assets/img/stripe.png" alt="" width="80" /></li>
			 </ul>
		  </div>
		  
		  <div class="col-sm-6 text-right">
		      <ul>
			      <li><a href="">{{__ "TnC"}}</a></li>
				  <li><a href="">{{__ "privacyPolicy"}}</a></li>
				  <li><a href=""> {{__ "contactUs"}}</a></li>
			  </ul>
		  </div>
		  
		  </div>
	  </div>
</div>
   <!-- <div class="mfooter_text"><a href="https://ankuj3.wixsite.com/website/cgu">Copyright @ 2019 - Helplicit - Tous droits réservés - CGV</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Mentions Légales</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Contactez-nous</a></div> -->
</footer>
        <!--  END Footer. Class fixed for fixed footer  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
		
		       <script>
			$(document).ready(function(){
			  $(".search-toggle").click(function(){
				$(".header-search-form, .m_lgn").toggleClass("search-opened");
			  });
			});
        </script>
 <script>
            $(document).ready(function(){
        $(".rich-textarea").one('click keypress', function () {
    $(this).addClass('focused-once');
    $(".contextual-tooltip[data-target=\"#question\"]").addClass("visible");

    $("#intro-text").hide();
    $("#question-contextual-help").show();
});
$(".rich-textarea > .intro, .rich-textarea > .final").click(function(){
    $(this).parent().find('textarea').focus();
});


});
        </script>

    </body>
</html>