<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Superlawyer Clinic</title>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154752068-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-154752068-1');
		</script>
		<script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('anrr4o/superlawyerclinic');</script>	
        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        
        <link href="assets/css/style_m.css" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
		
		
		<style type="stylesheet">


	</style>

 
    </head>
    <body>
	
	<div class="bg-img">
	
	</div>
      
<header class="header_mm">
	<div class="mcontainer ">
    	<div class="mlogo"><a href="#"><img src="assets/img/logoslc.png" alt="" /></a></div>
	  
     
<!-- 		 <div class="legswitch">
	          <ul>
	                  <li class="lang">
                            <span class="current"><a href="#">En</a></span>
                            <ul>     
                                <li><a href="#">It</a></li>
                            </ul>
                        </li>
						</ul>
	   </div> -->
		  <div class="searchbox">
				 <div class="header-search-form">
					<form id="searchForm">
					  <input id="searchText" type="text">
					</form>
				  </div>
					<a class="search-toggle d-none d-md-inline-block" id="searchToggle">
					  <i class="fa fa-search" aria-hidden="true"></i>
					</a>
			</div>
			   <div class="m_lgn"><a href="/loginLawyer">Lawyer?</a></div>
      <!--  <div class="mask_qst"><a href="#">Ask your question</a></div>  -->
			
        <div class="mclear"></div>
    </div>
</header>

<div class="mmidd_sec">
	<div class="mcontainer form-container">
        <div class="mform_sec">
		    <div class="mform_part">
                  <form method = 'post' action = '/questionIndexPage' >
			   <div class="mform1">

			      <div class="mown_law"> 
                    Legal question?
                    <p>{{__ "fastResponse"}}</p>
                  </div>


                  <div class="rich-textarea bordered">
                     
                    <div class="mbigest_repo">{{__ "instructions"}}</div>
                   
                    <textarea class="autoExpand" rows="4" placeholder="{{__ 'questionPh'}}" id="question" name="content" required="" minlength="20" maxlength="1500"></textarea>
                   <div class="minput_text">{{__ "instructionsFooter"}}</div>
                  </div>
                  <div class="mbtn"><button type="buttonh">{{__ "question"}}</button></div>
                    
			   </div>
			    </form>
			</div>
        	<!--<div class="mform_part">
                <form id="form1" name="form1" method="post" action="" class="mform1">
                	<div class="mown_law">The biggest legal database at your fingertips.</div>
                    <div class="mbigest_repo">Subheading</div>
                    <div class="minput_text"><input name="" type="text" value="Type your question" /></div>
                    <div class="mbtn"><button type="Search" form="form1" value="Search">Submit</button></div>
                </form>
            </div> -->
        	<div class="mcartoon"><img src="assets/img/new-lawyer-pic.png" alt="" /></div>
            <div class="mclear"></div>
        </div>
    </div>
	
    <div class="mcontainer answered-block">
                <div class="row">
                       <div class="col-sm-12">
                             <h3 class="text-center">Recently answered questions</h3>

                             <div class="answered-Q smallbox">
                             	  {{#each qaList}}
                                  <div class="Q-box">
                                      <a href="/questionDashboard">  </a>
                                        <div class="Lawyers-img">
                                           <img src="/assets/img/hlLogoComments.png" alt="Lawyer photo">
                                        </div>
                                        <div class="q-cnt">
                                              <h4>{{subject}}</h4>
                                              <p>Response by - <strong>{{responseBy}}</strong> at <strong>{{responseDate}}</strong></p>
                                        </div>
                                       
                                  </div>
                                  {{/each}}
<!--                                    <div class="Q-box">
                                       <a href="">  </a>
                                        <div class="Lawyers-img">
                                           <img src="" alt="Lawyer photo">
                                        </div>
                                        <div class="q-cnt">
                                              <h4>Question Subject 1</h4>
                                              <p>Response by - (Lawyer Name)  (Date-Time)</p>
                                        </div>
                                  </div>
                                  <div class="Q-box">
                                    <a href="">  </a>
                                        <div class="Lawyers-img">
                                           <img src="" alt="Lawyer photo">
                                        </div>
                                        <div class="q-cnt">
                                              <h4>Question Subject 1</h4>
                                              <p>Response by - (Lawyer Name)  (Date-Time)</p>
                                        </div>
                                  </div>
                                  <div class="Q-box">
                                    <a href="">  </a>
                                        <div class="Lawyers-img">
                                           <img src="" alt="Lawyer photo">
                                        </div>
                                        <div class="q-cnt">
                                              <h4>Question Subject 1</h4>
                                              <p>Response by - (Lawyer Name)  (Date-Time)</p>
                                        </div>
                                  </div> -->
                             </div>
                       </div>
                       

                 </div>   

    </div>

    <!-- why work with us BEGIN -->
    <div class="white-background mcontainer" id="trust"> 
        <div class="">
            <div class="row padding-lg">
            <h2 class="margin-bottom-null left text-center-mobile wow fadeInLeft">Why trust us?</h2>
            <div class="col-sm-6 padding-left-null padding-right-null">
                <div data-responsive="parent-height" data-responsive-id="services-corporate" class="padding-topbottom-null paddright15">
                <!-- <h2 class="margin-bottom-null left">Tackle your legal hurdles faster with our legal management platform</h2> -->
                <!-- Box Services -->
                <div class="row box-services padding-onlytop-md">
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/quality.png" width="100%">
                        <!-- <i class="material-icons color service">ic_verified_user</i> -->
                        <h3 class="margin-bottom-extrasmall">Quality</h3>
                        <p class="margin-bottom-null">We feature the best lawyers, at your service around the clock.</p>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/reliable.png" width="100%">
                        <!-- <i class="material-icons color service">ic_sentiment_very_satisfied</i> -->
                        <h3 class="margin-bottom-extrasmall">Reliable</h3>
                        <p class="margin-bottom-null">Thanks to our rigorous follow up service, we ensure that your problem gets solved.</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-6 padding-left-null padding-right-null">
                <div data-responsive="parent-height" data-responsive-id="services-corporate" class="padding-topbottom-null paddleft15">
                <!-- <h2 class="margin-bottom-null left">Tackle your legal hurdles faster with our legal management platform</h2> -->
                <!-- Box Services -->
                <div class="row box-services padding-onlytop-md">
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/secure.png" width="100%">
                        <!-- <i class="material-icons color service">ic_security</i> -->
                        <h3 class="margin-bottom-extrasmall">Secure</h3>
                        <p class="margin-bottom-null">The highest levels of crypto-security ensure that your exchanges with your lawyer on our platform respect confidentiality to the fullest degree.</p>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="box-service text-center wow fadeInDown">
                        <img src="icons/comprehensive.png" width="100%">
                        <!-- <i class="material-icons color service">ic_sync</i> -->
                        <h3 class="margin-bottom-extrasmall" style="overflow-wrap: break-word;">Comprehensive</h3>
                        <!-- <p class="margin-bottom-null">By accompanying you right from the search of your lawyer to solving your legal problem, we ensure that we are by your side every step of the way.</p> -->
                        <p class="margin-bottom-null">By accompanying you right from the search of your lawyer to solving your legal problem, we ensure that we are by your side from start to finish.</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

<!-- 	<div class="footerFb-reviwe">
	
	<div class="mcontainer">
    <div class="fbrwbox">
	<span>And find your answer like they did: </span>
	   <div class="fbBox">
	     <marquee behavior="scroll" direction="up" scrollamount="2">
		 <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandrine.despujol%2Fposts%2F2640148679379432&width=350&show_text=false&appId=1834658320104672&height=137" width="350" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
		 	 <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandrine.despujol%2Fposts%2F2640148679379432&width=350&show_text=false&appId=1834658320104672&height=137" width="350" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
			 	 <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandrine.despujol%2Fposts%2F2640148679379432&width=350&show_text=false&appId=1834658320104672&height=137" width="350" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
				 	 <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandrine.despujol%2Fposts%2F2640148679379432&width=350&show_text=false&appId=1834658320104672&height=137" width="350" height="137" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
		 </marquee>
		 </div>
         </div>
		 </div>
	</div> -->
</div>

<footer class="mcontainer">
<div class="footer-nav">
      <div class="row">
<!-- 	      <div class="col-sm-6">
		     <ul>
			     <li><a href="">Services:</a></li>
				 <li><a href=""><svg id="svgcomp-k0r77cr1img" version="1.1" role="img" aria-label="213b6330-ada7-471a-a975-128639c96545_200" width="118" height="20" viewBox="0 0 118 20" style="width: 118px; height: 20px;"><defs><style>#mask-comp-k0r77cr1img-svg * {fill: #fff; stroke: #fff; stroke-width: 0;}</style>
<mask id="mask-comp-k0r77cr1img">
    <use id="mask-comp-k0r77cr1img-svg-use" xlink:href="#mask-comp-k0r77cr1img-svg" width="100%" height="100%" x="0" y="0"></use>
</mask>
<svg id="mask-comp-k0r77cr1img-svg" preserveAspectRatio="none" data-bbox="20 20 160 160" viewBox="20 20 160 160" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="img">
    <g>
        <path d="M180 20v160H20V20h160z"></path>
    </g>
</svg>

</defs><image id="comp-k0r77cr1imgimage" data-type="image" width="118" height="20" xlink:href="https://static.wixstatic.com/media/7c4c06_96fd41cbae2741e88e30b49f73e1cbe8~mv2.png/v1/crop/x_0,y_81,w_200,h_34/fill/w_148,h_25,al_c,q_80,usm_0.66_1.00_0.01/213b6330-ada7-471a-a975-128639c96545_200.webp" mask="url(#mask-comp-k0r77cr1img)" data-svg-mask="mask-comp-k0r77cr1img-svg" x="0" y="0" transform="" preserveAspectRatio="xMidYMid slice"></image></svg>
</a>
</li>

<li>
   <a href="">
       <svg id="svgcomp-k0r7s0u6img" version="1.1" role="img" aria-label="6e4ec9ad-b749-4dab-8037-2e32528a44d8_200" width="78" height="40" viewBox="0 0 78 40" style="width: 78px; height: 40px;"><defs><style>#mask-comp-k0r7s0u6img-svg * {fill: #fff; stroke: #fff; stroke-width: 0;}</style>
<mask id="mask-comp-k0r7s0u6img">
    <use id="mask-comp-k0r7s0u6img-svg-use" xlink:href="#mask-comp-k0r7s0u6img-svg" width="100%" height="100%" x="0" y="0"></use>
</mask>
<svg id="mask-comp-k0r7s0u6img-svg" preserveAspectRatio="none" data-bbox="20 20 160 160" viewBox="20 20 160 160" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="img">
    <g>
        <path d="M180 20v160H20V20h160z"></path>
    </g>
</svg>

</defs><image id="comp-k0r7s0u6imgimage" data-type="image" width="78" height="40" xlink:href="https://static.wixstatic.com/media/7c4c06_440a13d1d2534acab1eb6a9f43c0e112~mv2.png/v1/crop/x_0,y_51,w_200,h_106/fill/w_98,h_50,al_c,q_80,usm_0.66_1.00_0.01/6e4ec9ad-b749-4dab-8037-2e32528a44d8_200.webp" mask="url(#mask-comp-k0r7s0u6img)" data-svg-mask="mask-comp-k0r7s0u6img-svg" x="0" y="0" transform="" preserveAspectRatio="xMidYMid slice"></image></svg>
   </a>
</li>
			 </ul>
		  </div> -->
		  
		  <div class="col-sm-6 text-right">
		      <ul>
			      <li><a href="">Privacy Policy</a></li>
				  <li><a href=""> Legal Stuff</a></li>
				  <li><a href=""> Contact Us</a></li>
			  </ul>
		  </div>
		  
		  </div>
	  </div>
</div>
   <!-- <div class="mfooter_text"><a href="https://ankuj3.wixsite.com/website/cgu">Copyright @ 2019 - Helplicit - Tous droits réservés - CGV</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Mentions Légales</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Contactez-nous</a></div> -->
</footer>
        <!--  END Footer. Class fixed for fixed footer  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
		
		       <script>
			$(document).ready(function(){
			  $(".search-toggle").click(function(){
				$(".header-search-form, .m_lgn").toggleClass("search-opened");
			  });
			});
        </script>
 <script>
            $(document).ready(function(){
        $(".rich-textarea").one('click keypress', function () {
    $(this).addClass('focused-once');
    $(".contextual-tooltip[data-target=\"#question\"]").addClass("visible");

    $("#intro-text").hide();
    $("#question-contextual-help").show();
});
$(".rich-textarea > .intro, .rich-textarea > .final").click(function(){
    $(this).parent().find('textarea').focus();
});


});
        </script>

    </body>
</html>