<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/lawyerDashboard/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/css/lawyerDashboard/_all-skins.min.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="/css/lawyerDashboard/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="/css/lawyerDashboard/jquery-jvectormap.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="/css/lawyerDashboard/bootstrap-datepicker.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/css/lawyerDashboard/daterangepicker.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="/css/bootstrap3-wysihtml5.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css" />
  <!-- Custom css -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- Manually modified css -->
  <link rel="stylesheet" href="/css/inspector-stylesheet.css" />
  <!-- Flexslider -->
  <link rel="stylesheet" href="/css/flexslider.css" />
  <!-- Owl -->
  <link rel="stylesheet" href="/css/owl.carousel.css" />
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="/css/magnific-popup.css" />
  <!-- include summernote css/js -->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
</head>


<body>


		<div class="col-md-1 sidemenu" id="newone">
            <div class="col-md-12 paddtop2 font25">
                <div class="bar_div" onclick="myFunction(this); openNav();">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
               
            </div>
            <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-th-large hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Dashboard"><span>Dashboard</span></i>
                </div>
            </a>
            <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="glyphicon glyphicon-trash hover_blue" data-toggle="tooltip" data-placement="right" title="Deleted Task"><span>DeletedTask</span></i>
                </div>
            </a>
            <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-file-text-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Invoice"><span>Invoice</span></i>
                </div>
            </a>
            
            <a th:href="@{'/eadmin/chat/'}">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-commenting-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Chat"><span>Chat</span></i>
                </div>
            </a>
            <a href="/calendar">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-calendar hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Calander"><span>Calander</span></i>
                </div>
            </a>
            <a href="#" onclick="openTimerFunction()">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-clock-o  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Timer"><span>Timer</span></i>
                </div>
            </a>
            <a href="/lawyerProfile">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-cog hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Settings"><span>Settings</span></i>
                </div>
            </a>
            <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-credit-card  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Billing"><span>Billing</span></i>
                </div>
            </a>
            <a href="/logout">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-sign-out  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="LogOut"><span>LogOut</span></i>
                </div>
            </a>
            <a href="/mailbox">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-envelope hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mailbox"><span class="plus_last_span">Mailbox</span></i>
                </div>
            </a>
            <a href="/createProject" style="position:absolute; bottom:0; left:45px;">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-plus plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="New Project"><span class="plus_last_span">New Project</span></i>
                </div>
            </a>
            <a href="chart.html">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-bar-chart plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Charts"><span class="plus_last_span">Charts</span></i>
                </div>
            </a>

        </div>
        
        <div class="col-md-11 col-md-offset-1">

        <div class="col-md-12 upper_header">
            <div class="col-md-3 small_res1">
                <!-- <a href="/"><img src="/img/logo.png" class="small_res2" width="100%" alt="logo"></img></a> -->
            </div>
            <div class="col-md-5">
                <input type="search" class="col-md-12 search_box" name="search" placeholder="Search..">
            </div>
<!--             <div class="col-md-1">
                <ul class="noti">

                    <li id="msg_Container">
                        <div id="msg_Counter"></div>   SHOW NOTIFICATIONS COUNT.

                        A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.
                        <div id="msg_Button" class="fa fa-commenting-o hover_blue_big"  title="Messages"></div>

                        THE NOTIFICAIONS DROPDOWN BOX.
                        <div id="messages">
                            <h3>Messages</h3>
                            <div style="height:250px;">
                                <div class="noti_box">Hello, This is demo text.</div>
                                <div class="noti_box">Hello, you have new message please check it out.</div>
                            </div>
                            <div class="seeAll"><a href="#">See All</a></div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-md-1">
                <ul class="noti">

                    <li id="noti_Container">
                        <div id="noti_Counter"></div>   SHOW NOTIFICATIONS COUNT.

                        A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.
                        <div id="noti_Button" class="fa fa-bell hover_blue_big"  title="Notifications"></div>

                        THE NOTIFICAIONS DROPDOWN BOX.
                        <div id="notifications">
                            <h3>Notifications</h3>
                            <div style="height:250px;">
                                <div class="noti_box">Hello, This is demo text.</div>
                                <div class="noti_box">Hello, you have new notification please check it out.</div>
                                <div class="noti_box">You have new notification.</div>
                                <div class="noti_box">You have new request. Click and check update.</div>
                            </div>
                            <div class="seeAll"><a href="#">See All</a></div>
                        </div>
                    </li>

                </ul>
            </div> -->
<!--             <div class="col-md-2">
                <div id="dropdown" class="ddmenu">
                    {{username}}<i class="down"></i>
                    <ul>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </div>
            </div> -->
        </div>

<!--             <div class="dashboard_block">

                <section class="content">
                    Small boxes (Stat box)
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            small box
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>150</h3>

                                    <p>New Orders</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        ./col
                        <div class="col-lg-3 col-xs-6">
                            small box
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                                    <p>Bounce Rate</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        ./col
                        <div class="col-lg-3 col-xs-6">
                            small box
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>44</h3>

                                    <p>User Registrations</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        ./col
                        <div class="col-lg-3 col-xs-6">
                            small box
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>65</h3>

                                    <p>Unique Visitors</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        ./col
                    </div>
                    /.row
                    Main row
                    <div class="row">
                        Left col
                        <section class="col-lg-7 connectedSortable">
						<div class="nav-tabs-custom">
            Tabs within a box
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#revenue-chart" data-toggle="tab">Area</a></li>
              <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
              <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
            </ul>
            <div class="tab-content no-padding">
              Morris chart - Sales
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
              <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
            </div>
          </div>
		  
		  <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Bar Chart</h3>

              <div class="box-tools pull-right">
                
              </div>
            </div>
            <div class="box-body chart-responsive">
              <div class="chart" id="bar-charta" style="height: 300px;"></div>
            </div>
            /.box-body
          </div>
          /.box
		
          /.box
		 
          /.box
          /.nav-tabs-custom
                            Custom tabs (Charts with tabs)
                           
                            /.nav-tabs-custom
                            Chat box
                            
                            TO DO List
                            
                            quick email widget

                        </section>
                        /.Left col
                        right col (We are only adding the ID to make the widgets sortable)
                        <section class="col-lg-5 connectedSortable">

                            Map box
                           <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
              tools box
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip"
                        title="Date range">
                  <i class="fa fa-calendar"></i></button>
                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                        data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                  <i class="fa fa-minus"></i></button>
              </div>
              /. tools

              <i class="fa fa-map-marker"></i>

              <h3 class="box-title">
                Visitors
              </h3>
            </div>
            <div class="box-body">
              <div id="world-map" style="height: 250px; width: 100%;"></div>
            </div>
            /.box-body
            <div class="box-footer no-border">
              <div class="row">
                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                  <div id="sparkline-1"></div>
                  <div class="knob-label">Visitors</div>
                </div>
                ./col
                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                  <div id="sparkline-2"></div>
                  <div class="knob-label">Online</div>
                </div>
                ./col
                <div class="col-xs-4 text-center">
                  <div id="sparkline-3"></div>
                  <div class="knob-label">Exists</div>
                </div>
                ./col
              </div>
              /.row
            </div>
          </div>
          /.box
                           

                        </section>
                        right col
                    </div>
                    /.row (main row)
                </section>
            </div> -->
            <!-- display all the GLOs -->
            {{#each records}}
	        <div class="dashboard_block">
				<div class="dashboard_detail_block">
					<div class="col-md-5 cls">
						<div class="col-md-12">
							<p><strong class="project_name">{{subject}}</strong></p>
						</div>
						<div class="col-md-6">
							<p>Sujet</p>
							<strong class="cost_desp">{{subject}}</strong>
						</div>
						<div class="col-md-6">
							<p>Posé le</p>
							<strong class="cost_desp">{{createdAt}}</strong>
						</div>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-5">
						<div class="col-md-12 btn_manage">
							<div class="col-md-12 dash_btn_box" >
								<div class="col-md-6 update_btn">
									<a class="dashboard_btn" href="/askQuestion/:{{slugURL}}">{{__ 'read'}}</a>
								</div>
							</div>
					  </div>
					</div>
				</div>	
	        </div>
			{{/each}}
			
        <!--  Footer  -->
<!--         <footer id="footer">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="img/logo-white.png" class="normal" alt="logo" />
                            <img src="img/logo-white.png" class="retina" alt="logo" />
                            <img src="img/logo_white@2x.png" class="retina" alt="logo" />
                        </div>
                        <p>Your legal marketplace </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Centerpriser SAS <br/>
                            29 Chemin du Vieux Chêne, 38240 Meylan<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
                            <li><a href="/">FAQ</a></li>
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <div id="copy">
        <div class="container">
            <div class="row no-margin">
                <div class="col-md-6 text">
                    <p>©2017 <a href="/#">PuredesignThemes</a>. All rights reserved. </p>
                </div>
                <div class="col-md-6 text text-right">
                    <ul>
                        <li><a href="/#">Privacy Policy</a></li>
                        <li><a href="/#">Cookie Policy</a></li>
                        <li><a href="/#">Term and Condition</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <!--  END Footer. Class fixed for fixed footer  -->
   <!-- All js library -->
   
   
        </div>
    </div>

    <!--  Footer  -->

	<!-- jQuery 3 -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="/js/lawyerDashboard/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button);
	</script>
	<!-- Bootstrap 3.3.7 -->
	<script src="/js/bootstrap/bootstrap.min.js"></script>
	<!-- Morris.js charts -->
	<script src="/js/lawyerDashboard/raphael.min.js"></script>
	<script src="/js/lawyerDashboard/morris.min.js"></script> 
	<!-- Sparkline -->
	<script src="/js/lawyerDashboard/jquery.sparkline.min.js"></script>
	<!-- jvectormap -->
	<script src="/js/lawyerDashboard/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="/js/lawyerDashboard/jquery-jvectormap-world-mill-en.js"></script>
	<!-- jQuery Knob Chart -->
	<script src="/js/lawyerDashboard/jquery.knob.min.js"></script>
	<!-- daterangepicker -->
	<script src="/js/lawyerDashboard/moment.min.js"></script>
	<script src="/js/lawyerDashboard/daterangepicker.js"></script>
	<!-- datepicker -->
	<script src="/js/lawyerDashboard/bootstrap-datepicker.min.js"></script>
	<!-- Bootstrap WYSIHTML5 -->
	<script src="/js/lawyerDashboard/bootstrap3-wysihtml5.all.min.js"></script>
	<!-- Slimscroll -->
	<script src="/js/lawyerDashboard/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="/js/lawyerDashboard/fastclick.js"></script>
	<script src="/js/jquery.min.js"></script>	
	<!-- AdminLTE App -->
	<script src="/js/lawyerDashboard/adminlte.min.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="/js/lawyerDashboard/dashboard.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="/js/lawyerDashboard/demo.js"></script>
	<script src="/js/jquery.flexslider-min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/smooth.scroll.min.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/jquery.scrolly.js"></script>
    <script src="/js/plugins-scroll.js"></script>
    <script src="/js/imagesloaded.min.js"></script>
    <script src="/js/pace.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.autocomplete.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
<script>
    function openTimerFunction() {
        window.open('/timer', '_blank', 'width=400,height=540, left=250, top=250');
    }
</script>
<script type="text/javascript">
    $("#dropdown").on("click", function (e) {
        e.preventDefault();

        if ($(this).hasClass("open")) {
            $(this).removeClass("open");
            $(this).children("ul").slideUp("fast");
        } else {
            $(this).addClass("open");
            $(this).children("ul").slideDown("fast");
        }
    });
</script>
<script>
    $(document).ready(function () {

        $('#noti_Counter')
            .css({ opacity: 0 })
            .text('4')
            .css({ top: '-10px' })
            .animate({ top: '-2px', opacity: 1 }, 500);

        $('#noti_Button').click(function () {

            $('#notifications').fadeToggle('fast', 'linear', function () {
            });

            $('#noti_Counter').fadeOut('slow');

            return false;
        });

        $(document).click(function () {
            $('#notifications').hide();

        });

        $('#notifications').click(function () {
            return false;
        });
    });
</script>
<script>
    $(document).ready(function () {

        $('#msg_Counter')
            .css({ opacity: 0 })
            .text('2')
            .css({ top: '-10px' })
            .animate({ top: '-2px', opacity: 1 }, 500);

        $('#msg_Button').click(function () {

            $('#messages').fadeToggle('fast', 'linear', function () {

            });

            $('#msg_Counter').fadeOut('slow');

            return false;
        });

        $(document).click(function () {
            $('#messages').hide();
        });

        $('#massages').click(function () {
            return false;
        });
    });
</script>
<script>
    function openNav() {
        /*$("#newone").css({"width":"300px","position":"relative","z-index":"1000"});*/
        $("#newone").toggleClass("open");
        if ($('#newone').hasClass('open')) {
            $('i').tooltip("disable");
        } else {
            $('i').tooltip("enable");
        }
        //$(".main_container_dashboard").find(".open").find('i').tooltip("disable");

    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    function myFunction(x) {
        x.classList.toggle("change");
    }
</script>
</body>
</html>