<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">    
    <link rel="stylesheet" href="css/font-awesome.min.css">   
    <link rel="stylesheet" href="css/ionicons.min.css">   
    <link rel="stylesheet" href="css/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-clockpicker.min.css">    
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-form.css" />   
    <link rel="stylesheet" href="css/inspector-stylesheet.css" />
    <link rel="stylesheet" href="css/flexslider.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap-select.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">    
    <link rel="stylesheet" href="css/font-awesome.min.css">   
    <link rel="stylesheet" href="css/ionicons.min.css">   
    <link rel="stylesheet" href="css/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-clockpicker.min.css">    
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-form.css" />   
    <link rel="stylesheet" href="css/inspector-stylesheet.css" />
    <link rel="stylesheet" href="css/flexslider.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css">    
	<!-- include summernote css/js -->
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
</head>


<body>

<header class="header_mm">
	<div class="col-xs-11 col-xs-offset-1">
	    <div class="mcontainer ">
		<div class="mlogo"><a href="#"><img src="img/logo-new.png" alt="" /></a></div>
	      
	 
		     <div class="legswitch">
		      <ul>
			      <li class="lang">
				<span class="current"><a href="#">En</a></span>
				<ul>     
				    <li><a href="#">It</a></li>
				</ul>
			    </li>
						    </ul>
	       </div>
		      <div class="searchbox">
				     <div class="header-search-form">
					    <form id="searchForm">
					      <input id="searchText" type="text">
					    </form>
				      </div>
					    <a class="search-toggle d-none d-md-inline-block" id="searchToggle">
					      <i class="fa fa-search" aria-hidden="true"></i>
					    </a>
			    </div>
		    <div class="m_lgn"><a href="login.html">Login</a><span>/</span><a href="#">Sign Up</a></div>
	  <!--  <div class="mask_qst"><a href="#">Ask your question</a></div>  -->
			    
		<div class="mclear"></div>
	    </div>
	</div>
    </header>
    
	    <div class="col-md-1 sidemenu" id="newone">
            <div class="col-md-12 paddtop2 font25">
                <div class="bar_div" onclick="myFunction(this); openNav();">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
               
            </div>
            <a href="/questionDashboard">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-th-large hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Question dashboard"><span>Question dashboard</span></i>
                </div>
            </a>
             <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="glyphicon glyphicon-trash hover_blue" data-toggle="tooltip" data-placement="right" title="Deleted Task"><span>DeletedTask</span></i>
                </div>
            </a>
            <a href="/lawyerPublicProfilePage">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-file-text-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="My profile page"><span>My profile page</span></i>
                </div>
            </a>
            
             <a th:href="#">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-commenting-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Chat"><span>Chat</span></i>
                </div>
            </a>
             <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-calendar hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Calander"><span>Calander</span></i>
                </div>
            </a>
             <a href="#" onclick="openTimerFunction()">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-clock-o  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Timer"><span>Timer</span></i>
                </div>
            </a>
            <a href="/editLawyerProfile">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-cog hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Edit profile"><span>Edit profile</span></i>
                </div>
            </a>
             <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-credit-card  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Billing"><span>Billing</span></i>
                </div>
            </a> 
            <a href="#">
                <div class="col-md-12 paddtop2">
                    <i class="fa fa-sign-out  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Logout"><span>Logout</span></i>
                </div>
            </a>
             <a href="#">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-envelope hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mailbox"><span class="plus_last_span">Mailbox</span></i>
                </div>
            </a>
            <a href="/addNewCase" style="position:absolute; bottom:0; left:45px;">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-plus plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="New Project"><span class="plus_last_span">Add New Case</span></i>
                </div>
            </a>
            <a href="#">
                <div class="col-md-12 plus_last_div paddtop2">
                    <i class="fa fa-bar-chart plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Charts"><span class="plus_last_span">Charts</span></i>
                </div>
            </a>

        </div>
	{{#each qaList}}
        <div class="col-md-11 col-md-offset-1 no-relative-position">
	        <div class="dashboard_block">
		    <div class="dashboard_detail_block">
			    <div class="col-md-5 cls">
				    <div class="col-md-12">
					    <p><strong class="project_name"></strong></p>
				    </div>
				    <div class="col-md-6">
					    <p>{{subject}}</p>
					    <strong class="cost_desp"></strong>
				    </div>
				    <div class="col-md-6">
					    <p>{{createdat}}</p>
					    <strong class="cost_desp"></strong>
				    </div>
				    <div class="col-md-6">
					    <p>{{startDate}}</p>
					    <strong class="cost_desp"></strong>
				    </div>	
				    <div class="col-md-6">
					    <p>{{endDate}}</p>
					    <strong class="cost_desp"></strong>
				    </div>
				    <div class="col-md-6">
					    <p>{{Amount}}</p>
					    <strong class="cost_desp"></strong>
				    </div>	
				    <div class="col-md-6">
					    <p>{{status}}</p>
					    <strong class="cost_desp"></strong>
				    </div>				    			    				    			    
			    </div>
			    <div class="col-md-2"></div>
			    <div class="col-md-5">
				    <div class="col-md-12 btn_manage">
					    <div class="col-md-12 dash_btn_box" >
						    <div class="col-md-6 update_btn">
							    <a class="dashboard_btn" href="{{slugURL}}">VIEW</a>
						    </div>
					    </div>
			    	</div>
				</div>
		    </div>	
	        </div>
	</div>
	{{/each}}
	<div class="clearfix"></div>
	
<footer class="mcontainer">
    <div class="footer-nav">
	  <div class="row">
		  <div class="col-sm-6">
			 <ul>
				 <li><a href="">Payments processed with :</a></li>
				     <li><img src="img/stripe.png" alt="" width="80" /></li>
			     </ul>
		      </div>
		      
		      <div class="col-sm-6 text-right">
			  <ul>
				  <li><a href="">CGV</a></li>
				      <li><a href=""> Mentions L&eacute;gales</a></li>
				      <li><a href=""> Contactez-nous</a></li>
			      </ul>
		      </div>
		      
		      </div>
	      </div>
    </div>
</footer>
</body>
<script src="js/bootstrap/bootstrap.min.js"></script>   
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap3-wysihtml5.all.min.js"></script>   
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/smooth.scroll.min.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/bootstrap/bootstrap-select.js"></script>
    <script src="js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap-clockpicker.min.js"></script>
	<!-- calendar specific -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js"></script>
<!--     <script>
        function openTimerFunction() {
            window.open('/timer', '_blank', 'width=400,height=540, left=250, top=250');
        }

    </script> -->
    <script type="text/javascript">
        $("#dropdown").on("click", function(e) {
            e.preventDefault();

            if ($(this).hasClass("open")) {
                $(this).removeClass("open");
                $(this).children("ul").slideUp("fast");
            } else {
                $(this).addClass("open");
                $(this).children("ul").slideDown("fast");
            }
        });

    </script>
    <script>
        $(document).ready(function() {

            $('#noti_Counter')
                .css({
                    opacity: 0
                })
                .text('4')
                .css({
                    top: '-10px'
                })
                .animate({
                    top: '-2px',
                    opacity: 1
                }, 500);

            $('#noti_Button').click(function() {

                $('#notifications').fadeToggle('fast', 'linear', function() {});

                $('#noti_Counter').fadeOut('slow');

                return false;
            });

            $(document).click(function() {
                $('#notifications').hide();

            });
	</script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>	
    <div id="copy">
	</div>
   

  
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>   
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.min.js"></script>
    
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.scrolly.js"></script>
    <script src="js/plugins-scroll.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/bootstrap/bootstrap-select.js"></script>
  
    <script src="js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap-clockpicker.min.js"></script>
    <script type="text/javascript">
        $("#dropdown").on("click", function(e) {
            e.preventDefault();

            if ($(this).hasClass("open")) {
                $(this).removeClass("open");
                $(this).children("ul").slideUp("fast");
            } else {
                $(this).addClass("open");
                $(this).children("ul").slideDown("fast");
            }
        });

    </script>
    <script>
        $(document).ready(function() {

            $('#noti_Counter')
                .css({
                    opacity: 0
                })
                .text('4')
                .css({
                    top: '-10px'
                })
                .animate({
                    top: '-2px',
                    opacity: 1
                }, 500);

            $('#noti_Button').click(function() {

                $('#notifications').fadeToggle('fast', 'linear', function() {});

                $('#noti_Counter').fadeOut('slow');

                return false;
            });

            $(document).click(function() {
                $('#notifications').hide();

            });

            $('#notifications').click(function() {
                return false;
            });
        });

    </script>
    <script>
        $(document).ready(function() {

            $('#msg_Counter')
                .css({
                    opacity: 0
                })
                .text('2')
                .css({
                    top: '-10px'
                })
                .animate({
                    top: '-2px',
                    opacity: 1
                }, 500);

            $('#msg_Button').click(function() {

                $('#messages').fadeToggle('fast', 'linear', function() {

                });

                $('#msg_Counter').fadeOut('slow');

                return false;
            });

            $(document).click(function() {
                $('#messages').hide();
            });

            $('#massages').click(function() {
                return false;
            });
        });

    </script>
    <script>
        function openNav() {
            /*$("#newone").css({"width":"300px","position":"relative","z-index":"1000"});*/
            $("#newone").toggleClass("open");
            if ($('#newone').hasClass('open')) {
                $('i').tooltip("disable");
            } else {
                $('i').tooltip("enable");
            }
            //$(".main_container_dashboard").find(".open").find('i').tooltip("disable");

        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

    </script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
    <script>
        function myFunction(x) {
            x.classList.toggle("change");
        }

    </script>

    <script type="text/javascript">
        $('.clockpicker').clockpicker()
            .find('input').change(function() {
                console.log(this.value);
            });
        var input = $('#single-input').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            'default': 'now'
        });

        $('.clockpicker-with-callbacks').clockpicker({
                donetext: 'Done',
                init: function() {
                    console.log("colorpicker initiated");
                },
                beforeShow: function() {
                    console.log("before show");
                },
                afterShow: function() {
                    console.log("after show");
                },
                beforeHide: function() {
                    console.log("before hide");
                },
                afterHide: function() {
                    console.log("after hide");
                },
                beforeHourSelect: function() {
                    console.log("before hour selected");
                },
                afterHourSelect: function() {
                    console.log("after hour selected");
                },
                beforeDone: function() {
                    console.log("before done");
                },
                afterDone: function() {
                    console.log("after done");
                }
            })
            .find('input').change(function() {
                console.log(this.value);
            });

        // Manually toggle to the minutes view
        $('#check-minutes').click(function(e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show')
                .clockpicker('toggleView', 'minutes');
        });
        });

        $('.clockpicker-with-callbacks').clockpicker({
                donetext: 'Done',
                init: function() {
                    console.log("colorpicker initiated");
                },
                beforeShow: function() {
                    console.log("before show");
                },
                afterShow: function() {
                    console.log("after show");
                },
                beforeHide: function() {
                    console.log("before hide");
                },
                afterHide: function() {
                    console.log("after hide");
                },
                beforeHourSelect: function() {
                    console.log("before hour selected");
                },
                afterHourSelect: function() {
                    console.log("after hour selected");
                },
                beforeDone: function() {
                    console.log("before done");
                },
                afterDone: function() {
                    console.log("after done");
                }
            })
            .find('input').change(function() {
                console.log(this.value);
            });

        // Manually toggle to the minutes view
        $('#check-minutes').click(function(e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show')
                .clockpicker('toggleView', 'minutes');
        });
        if (/mobile/i.test(navigator.userAgent)) {
            $('input').prop('readOnly', true);
        }

    </script>
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>   
	<!-- calendar specific -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js"></script>
	<script>
	$(document).ready(function() {
		  $('#summernote').summernote();
		  $('select').selectpicker();
		  $("#file").on("change", sendFileByAjax);		  
		});	
	</script>    
	<script type="text/javascript">
			$(document).ready(function()
			{
				$('.date').bootstrapMaterialDatePicker
				({
					time: false,
					clearButton: true,
					format: 'MM/DD/YYYY'
				});
	
				//$.material.init()
			});
	</script>	
 	<script>
	function sendFileByAjax(){
		var form = $("#contact-form")[0];
		console.log('form is', form);
		upfile = new FormData(form);
		console.log(' file uploaded is', upfile);					
		$.ajax({
			type : "POST",
			url : "/sendFileForGLOForm",
			data: new FormData($("#contact-form")[0]),
			enctype: 'multipart/form-data',	
	        processData: false, //prevent jQuery from automatically transforming the data into a query string
	        contentType: false,
	        cache: false,
	        timeout: 600000,
			success : function(result) {
				console.log('success!');	
			}
		});
	} 	
	</script>
</html>