<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">    
    <link rel="stylesheet" href="css/font-awesome.min.css">   
    <link rel="stylesheet" href="css/ionicons.min.css">   
    <link rel="stylesheet" href="css/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-clockpicker.min.css">    
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-form.css" />   
    <link rel="stylesheet" href="css/inspector-stylesheet.css" />
    <link rel="stylesheet" href="css/flexslider.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap-select.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">    
    <link rel="stylesheet" href="css/font-awesome.min.css">   
    <link rel="stylesheet" href="css/ionicons.min.css">   
    <link rel="stylesheet" href="css/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-clockpicker.min.css">    
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-form.css" />   
    <link rel="stylesheet" href="css/inspector-stylesheet.css" />
    <link rel="stylesheet" href="css/flexslider.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css">    
	<!-- include summernote css/js -->
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>
    
    <header class="header_mm">
	<div class="col-xs-11 col-xs-offset-1">
	    <div class="mcontainer ">
		<div class="mlogo"><a href="#"><img src="img/logo-new.png" alt="" /></a></div>
	      
	 
		     <div class="legswitch">
		      <ul>
			      <li class="lang">
				<span class="current"><a href="#">En</a></span>
				<ul>     
				    <li><a href="#">It</a></li>
				</ul>
			    </li>
						    </ul>
	       </div>
		      <div class="searchbox">
				     <div class="header-search-form">
					    <form id="searchForm">
					      <input id="searchText" type="text">
					    </form>
				      </div>
					    <a class="search-toggle d-none d-md-inline-block" id="searchToggle">
					      <i class="fa fa-search" aria-hidden="true"></i>
					    </a>
			    </div>
		    <div class="m_lgn"><a href="login.html">Login</a><span>/</span><a href="#">Sign Up</a></div>
	  <!--  <div class="mask_qst"><a href="#">Ask your question</a></div>  -->
			    
		<div class="mclear"></div>
	    </div>
	</div>
    </header>
    
    <div class="main_container_dashboard">
	<div></div>
	
        <div class="col-md-11 col-md-offset-1 no-relative-position">
        	<h2>Lawyer Profile Page</h2>
        <div class="col-md-12 upper_header">
            <div class="col-md-3 small_res1">
                <!-- <a href="/"><img src="/img/logo.png" class="small_res2" width="100%" alt="logo"></img></a> -->
            </div>
            <div class="col-md-5">
                <input type="search" class="col-md-12 search_box" name="search" placeholder="Search..">
            </div>
<!--             <div class="col-md-1">
                <ul class="noti">

                    <li id="msg_Container">
                        <div id="msg_Counter"></div>   SHOW NOTIFICATIONS COUNT.

                        A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.
                        <div id="msg_Button" class="fa fa-commenting-o hover_blue_big"  title="Messages"></div>

                        THE NOTIFICAIONS DROPDOWN BOX.
                        <div id="messages">
                            <h3>Messages</h3>
                            <div style="height:250px;">
                                <div class="noti_box">Hello, This is demo text.</div>
                                <div class="noti_box">Hello, you have new message please check it out.</div>
                            </div>
                            <div class="seeAll"><a href="#">See All</a></div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-md-1">
                <ul class="noti">

                    <li id="noti_Container">
                        <div id="noti_Counter"></div>   SHOW NOTIFICATIONS COUNT.

                        A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.
                        <div id="noti_Button" class="fa fa-bell hover_blue_big"  title="Notifications"></div>

                        THE NOTIFICAIONS DROPDOWN BOX.
                        <div id="notifications">
                            <h3>Notifications</h3>
                            <div style="height:250px;">
                                <div class="noti_box">Hello, This is demo text.</div>
                                <div class="noti_box">Hello, you have new notification please check it out.</div>
                                <div class="noti_box">You have new notification.</div>
                                <div class="noti_box">You have new request. Click and check update.</div>
                            </div>
                            <div class="seeAll"><a href="#">See All</a></div>
                        </div>
                    </li>

                </ul>
            </div> -->
             <div class="col-md-2">
                <div id="dropdown" class="ddmenu">
                    username<!-- <i class="down"></i> -->
<!--                     <ul>
                        <li><a href="/lawyerProfile">Edit Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul> -->
                </div>
            </div>
        </div>        
            <div class="dashboard_block">
                <section class="content">
                     <!--  Accordion and Tabs  -->
                     <div class="row padding-sm">
                        <div class="col-md-12">
                             <!--  Tab  -->
                             <!-- Tab panes -->
                             <div class="tab-content">
                                 <div role="tabpanel" class="tab-pane active" id="tab-one">
		                       <form class="form-horizontal row-fluid"  method="POST" id="contact-form" action="/submitLawyerProfessionalDetails">	
								<div class="formProjectCreation">
									<p class="alert alert-danger"></p>
									<div class="control-group col-md-6">
													 <label class="control-label" for="basicinput">{{__ "firstname"}}</label>
									                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your first name here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
									                 <div class="controls">
										                 <input type="text" placeholder="" class="form-field" id="firstname" name='firstname'/> <span class="help-inline"></span>
<!-- 							                                <div class="col-md-12 padding-leftright-null">
							                                    <p class="error" th:if="${error}" th:text="${error}"></p>
							                                </div> -->
									                </div>
									</div>
									<div class="control-group col-md-6">
									                      <label class="control-label" for="basicinput">{{__ "lastname"}}</label>
									                      <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your last name here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
									                 <div class="controls">
						                                 <input type="text" id="" placeholder="" class="form-field" name="lastname"/> <span class="help-inline"></span>
										                     <div class="col-md-12 padding-leftright-null">
										                                    <p class="error"></p>
										                     </div>
									                 </div>
									</div>
									<div class="clearfix"></div>
					                 <div class="control-group col-md-6">
					                     <label class="control-label" for="basicinput">{{__ "uploadPhoto"}}</label>
					                     <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="upload your photo here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
					                     <div class="controls">
					                         <input type="file" id="file" name="filetoupload" placeholder="" class="form-field"/> <span class="help-inline"></span>
					                     </div>
					                 </div>
									<div class="control-group col-md-6">
									                      <label class="control-label" for="basicinput">{{__ "linkedinProfile"}}</label>
									                      <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your last name here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
									                 <div class="controls">
						                                 <input type="text" id="" placeholder="" class="form-field" name="linkedinProfile"/> <span class="help-inline"></span>
										                     <div class="col-md-12 padding-leftright-null">
										                                    <p class="error"></p>
										                     </div>
									                 </div>
									</div>					                 
					                 <!-- take this out temporarily and replace it with a list based scheme -->
<!-- 									<div class="control-group col-md-6" style="margin-bottom:25px;">
									                 <label class="control-label" for="basicinput">Lawyer Type</label>
									                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="select your lawyer type here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
									                 <div class="controls">
									                     <select class="selectpicker form-control" th:field="*{{lawyerInformation.lawyerType}}"  >
														    <option th:each="state : ${T(com.clegal.model.LawyerInformation.LawyerType).values()}"
														            th:value="${{state}}" th:selected="${state == T(com.clegal.model.LawyerInformation.LawyerType)}"
														            th:text="${state.displayName}">
														    </option>
														</select><span class="help-inline"></span>
									                 </div>
									</div> -->
									<!-- take this one out as well temporarily till @ModelAttribute isnt fixed -->
					             <div class="clearfix"></div>
					             <div class="control-group col-md-6" style="margin-bottom:25px;">
					                 <label class="control-label" for="basicinput">{{__ "areasOfPractice"}}</label>
					                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="Type your areas of practice here, select upto 3">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
					                            <div class="controls">
					                                    <select class="selectpicker form-control " multiple data-live-search="true" type="text" name="areasOfPractice">
															<option value="Agricultural">Agricultural</option>
															<option value="Alternative Dispute Resolution (ADR)">Alternative Dispute Resolution (ADR)</option>
															<option value="Aviation">Aviation</option>
															<option value="Bankruptcy">Bankruptcy</option>
															<option value="Children">Children</option>
															<option value="Civil Litigation">Civil Litigation</option>
															<option value="Civil Partnerships">Civil Partnerships</option>
															<option value="Clinical Negligence">Clinical Negligence</option>
															<option value="Commercial Conveyancing">Commercial Conveyancing</option>
															<option value="Commercial Litigation">Commercial Litigation</option>
															<option value="Conveyancing">Conveyancing</option>
															<option value="Copyright">Copyright</option>
															<option value="Court Claims">Court Claims</option>
															<option value="Crime - General">Crime - General</option>
															<option value="Debt And Debt Recovery">Debt And Debt Recovery</option>
															<option value="Defamation">Defamation</option>
															<option value="Dispute Resolution">Dispute Resolution</option>
															<option value="Divorce And Separation">Divorce And Separation</option>
															<option value="Domestic Violence">Domestic Violence</option>
															<option value="Drink Driving">Drink Driving</option>
															<option value="Drug Offences">Drug Offences</option>
															<option value="Education - General">Education - General</option>
															<option value="Employment - General">Employment - General</option>
															<option value="Family Law - General">Family Law - General</option>
															<option value="Financial Services">Financial Services</option>
															<option value="Fraud">Fraud</option>
															<option value="General Consumer Rights">General Consumer Rights</option>
															<option value="Goods & Services">Goods & Services</option>
															<option value="Human Rights">Human Rights</option>
															<option value="Intellectual Property">Intellectual Property</option>
															<option value="International Law">International Law</option>
															<option value="Judicial Review">Judicial Review</option>
															<option value="Land Property - General">Land Property - General</option>
															<option value="Landlord Tenant">Landlord Tenant</option>
															<option value="Lasting Power of Attorney">Lasting Power of Attorney</option>
															<option value="Legal Aid">Legal Aid</option>
															<option value="Litigation - General">Litigation - General</option>
															<option value="Mediation">Mediation</option>
															<option value="Mental Health">Mental Health</option>
															<option value="Mergers & Acquisitions">Mergers & Acquisitions</option>
															<option value="Military">Military</option>
															<option value="Motoring">Motoring</option>
															<option value="Neighbour Disputes">Neighbour Disputes</option>
															<option value="Patents">Patents</option>
															<option value="Personal Injury">Personal Injury</option>
															<option value="Probate">Probate</option>
															<option value="Mediation">Mediation</option>
															<option value="Professional Negligence">Professional Negligence</option>
															<option value="Redundancy">Redundancy</option>
															<option value="Residential Conveyancing">Residential Conveyancing</option>
															<option value="Sexual Offence">Sexual Offence</option>
															<option value="Small Claims Court">Small Claims Court</option>
															<option value="Social Welfare and Housing">Social Welfare and Housing</option>
															<option value="Speeding">Speeding</option>
															<option value="Tax">Tax</option>
															<option value="Trade Marks">Trade Marks</option>
															<option value="Tribunals">Tribunals</option>
															<option value="Trust">Trust</option>
															<option value="Will Trust and Estate Disputes">Will Trust and Estate Disputes</option>
															<option value="Wills">Wills</option>
															</select>
 					                                <span class="help-inline"></span>
					                            </div>
					                        </div>
					                        <div class="control-group col-md-6" style="margin-bottom:25px;">
					                 		<label class="control-label" for="basicinput">{{__ "languageSpoken"}}</label>
					                 		<a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="select your spoken languages here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
					                            <div class="controls">
					                                  <select class="selectpicker form-control" multiple data-live-search="true" name="languageSpoken">
													  <option value="Afrikanns">Afrikanns</option>
													  <option value="Albanian">Albanian</option>
													  <option value="Arabic">Arabic</option>on>
													  <option value="Armenian">Armenian</option>
													  <option value="Basque">Basque</option>
													  <option value="Bengali">Bengali</option>
													  <option value="Bulgarian">Bulgarian</option>
													  <option value="Catalan">Catalan</option>
													  <option value="Cambodian">Cambodian</option>
													  <option value="Chinese (Mandarin)">Chinese (Mandarin)</option>
													  <option value="Croation">Croation</option>
													  <option value="Czech">Czech</option>
													  <option value="Danish">Danish</option>
													  <option value="Dutch">Dutch</option>
													  <option value="English">English</option>
													  <option value="Estonian">Estonian</option>
													  <option value="Fiji">Fiji</option>
													  <option value="Finnish">Finnish</option>
													  <option value="French">French</option>
													  <option value="Georgian">Georgian</option>
													  <option value="German">German</option>
													  <option value="Greek">Greek</option>
													  <option value="Gujarati">Gujarati</option>
													  <option value="Hebrew">Hebrew</option>
													  <option value="Hindi">Hindi</option>
													  <option value="Hungarian">Hungarian</option>
													  <option value="Icelandic">Icelandic</option>
													  <option value="Indonesian">Indonesian</option>
													  <option value="Irish">Irish</option>
													  <option value="Italian">Italian</option>
													  <option value="Japanese">Japanese</option>
													  <option value="Javanese">Javanese</option>
													  <option value="Korean">Korean</option>
													  <option value="Latin">Latin</option>
													  <option value="Latvian">Latvian</option>
													  <option value="Lithuanian">Lithuanian</option>
													  <option value="Macedonian">Macedonian</option>
													  <option value="Malay">Malay</option>
													  <option value="Malayalam">Malayalam</option>
													  <option value="Maltese">Maltese</option>
													  <option value="Maori">Maori</option>
													  <option value="Marathi">Marathi</option>
													  <option value="Mongolian">Mongolian</option>
													  <option value="Nepali">Nepali</option>
													  <option value="Norwegian">Norwegian</option>
													  <option value="Persian">Persian</option>
													  <option value="Polish">Polish</option>
													  <option value="Portuguese">Portuguese</option>
													  <option value="Punjabi">Punjabi</option>
													  <option value="Quechua">Quechua</option>
													  <option value="Romanian">Romanian</option>
													  <option value="Russian">Russian</option>
													  <option value="Samoan">Samoan</option>
													  <option value="Serbian">Serbian</option>
													  <option value="Slovak">Slovak</option>
													  <option value="Slovenian">Slovenian</option>
													  <option value="Spanish">Spanish</option>
													  <option value="Swahili">Swahili</option>
													  <option value="Swedish ">Swedish </option>
													  <option value="Tamil">Tamil</option>
													  <option value="Tatar">Tatar</option>
													  <option value="Telugu">Telugu</option>
													  <option value="Thai">Thai</option>
													  <option value="Tibetan">Tibetan</option>
													  <option value="Tonga">Tonga</option>
													  <option value="Turkish">Turkish</option>
													  <option value="Ukranian">Ukranian</option>
													  <option value="Urdu">Urdu</option>
													  <option value="Uzbek">Uzbek</option>
													  <option value="Vietnamese">Vietnamese</option>
													  <option value="Welsh">Welsh</option>
													  <option value="Xhosa">Xhosa</option>
													</select>
					                                <span class="help-inline"></span>
					                            </div>
					                        </div>
					                        <div class="clearfix"></div>
											<div class="control-group col-md-6">
												<label class="control-label" for="basicinput">{{__ "graduationDate"}}</label>
								                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="insert graduation date here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
												<div class="controls">
													<input type="text" 
													 class="span8 date" id = "endDate" placeholder="mm/dd/yyyy" value="" name="graduationDate" value = ""/><span class="help-inline"></span>
												</div>
											</div>	
								             <div class="control-group col-md-6">
								                 <label class="control-label" for="basicinput">{{__ "graduationUniversity"}}</label>
								                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="insert price of first meeting here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
								                      <div class="controls">
								                          <input class="form-field span8" type="text" min="0"  placeholder="" name="graduationUniversity" value=""/><span class="help-inline"></span>
								                      </div>
								             </div>
						                  <div class="clearfix"></div>
					                        <div class="control-group col-md-6" style="margin-bottom:25px;">
					                 		<label class="control-label" for="basicinput">{{__ "country"}}</label>
					                 		<a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="select your country here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
					                            <div class="controls">
														<select class="selectpicker form-control" multiple data-live-search="true" type="text" name="country">
														   <option value="Afganistan">Afghanistan</option>
														   <option value="Albania">Albania</option>
														   <option value="Algeria">Algeria</option>
														   <option value="American Samoa">American Samoa</option>
														   <option value="Andorra">Andorra</option>
														   <option value="Angola">Angola</option>
														   <option value="Anguilla">Anguilla</option>
														   <option value="Antigua & Barbuda">Antigua & Barbuda</option>
														   <option value="Argentina">Argentina</option>
														   <option value="Armenia">Armenia</option>
														   <option value="Aruba">Aruba</option>
														   <option value="Australia">Australia</option>
														   <option value="Austria">Austria</option>
														   <option value="Azerbaijan">Azerbaijan</option>
														   <option value="Bahamas">Bahamas</option>
														   <option value="Bahrain">Bahrain</option>
														   <option value="Bangladesh">Bangladesh</option>
														   <option value="Barbados">Barbados</option>
														   <option value="Belarus">Belarus</option>
														   <option value="Belgium">Belgium</option>
														   <option value="Belize">Belize</option>
														   <option value="Benin">Benin</option>
														   <option value="Bermuda">Bermuda</option>
														   <option value="Bhutan">Bhutan</option>
														   <option value="Bolivia">Bolivia</option>
														   <option value="Bonaire">Bonaire</option>
														   <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
														   <option value="Botswana">Botswana</option>
														   <option value="Brazil">Brazil</option>
														   <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
														   <option value="Brunei">Brunei</option>
														   <option value="Bulgaria">Bulgaria</option>
														   <option value="Burkina Faso">Burkina Faso</option>
														   <option value="Burundi">Burundi</option>
														   <option value="Cambodia">Cambodia</option>
														   <option value="Cameroon">Cameroon</option>
														   <option value="Canada">Canada</option>
														   <option value="Canary Islands">Canary Islands</option>
														   <option value="Cape Verde">Cape Verde</option>
														   <option value="Cayman Islands">Cayman Islands</option>
														   <option value="Central African Republic">Central African Republic</option>
														   <option value="Chad">Chad</option>
														   <option value="Channel Islands">Channel Islands</option>
														   <option value="Chile">Chile</option>
														   <option value="China">China</option>
														   <option value="Christmas Island">Christmas Island</option>
														   <option value="Cocos Island">Cocos Island</option>
														   <option value="Colombia">Colombia</option>
														   <option value="Comoros">Comoros</option>
														   <option value="Congo">Congo</option>
														   <option value="Cook Islands">Cook Islands</option>
														   <option value="Costa Rica">Costa Rica</option>
														   <option value="Cote DIvoire">Cote DIvoire</option>
														   <option value="Croatia">Croatia</option>
														   <option value="Cuba">Cuba</option>
														   <option value="Curaco">Curacao</option>
														   <option value="Cyprus">Cyprus</option>
														   <option value="Czech Republic">Czech Republic</option>
														   <option value="Denmark">Denmark</option>
														   <option value="Djibouti">Djibouti</option>
														   <option value="Dominica">Dominica</option>
														   <option value="Dominican Republic">Dominican Republic</option>
														   <option value="East Timor">East Timor</option>
														   <option value="Ecuador">Ecuador</option>
														   <option value="Egypt">Egypt</option>
														   <option value="El Salvador">El Salvador</option>
														   <option value="Equatorial Guinea">Equatorial Guinea</option>
														   <option value="Eritrea">Eritrea</option>
														   <option value="Estonia">Estonia</option>
														   <option value="Ethiopia">Ethiopia</option>
														   <option value="Falkland Islands">Falkland Islands</option>
														   <option value="Faroe Islands">Faroe Islands</option>
														   <option value="Fiji">Fiji</option>
														   <option value="Finland">Finland</option>
														   <option value="France">France</option>
														   <option value="French Guiana">French Guiana</option>
														   <option value="French Polynesia">French Polynesia</option>
														   <option value="French Southern Ter">French Southern Ter</option>
														   <option value="Gabon">Gabon</option>
														   <option value="Gambia">Gambia</option>
														   <option value="Georgia">Georgia</option>
														   <option value="Germany">Germany</option>
														   <option value="Ghana">Ghana</option>
														   <option value="Gibraltar">Gibraltar</option>
														   <option value="Great Britain">Great Britain</option>
														   <option value="Greece">Greece</option>
														   <option value="Greenland">Greenland</option>
														   <option value="Grenada">Grenada</option>
														   <option value="Guadeloupe">Guadeloupe</option>
														   <option value="Guam">Guam</option>
														   <option value="Guatemala">Guatemala</option>
														   <option value="Guinea">Guinea</option>
														   <option value="Guyana">Guyana</option>
														   <option value="Haiti">Haiti</option>
														   <option value="Hawaii">Hawaii</option>
														   <option value="Honduras">Honduras</option>
														   <option value="Hong Kong">Hong Kong</option>
														   <option value="Hungary">Hungary</option>
														   <option value="Iceland">Iceland</option>
														   <option value="Indonesia">Indonesia</option>
														   <option value="India">India</option>
														   <option value="Iran">Iran</option>
														   <option value="Iraq">Iraq</option>
														   <option value="Ireland">Ireland</option>
														   <option value="Isle of Man">Isle of Man</option>
														   <option value="Israel">Israel</option>
														   <option value="Italy">Italy</option>
														   <option value="Jamaica">Jamaica</option>
														   <option value="Japan">Japan</option>
														   <option value="Jordan">Jordan</option>
														   <option value="Kazakhstan">Kazakhstan</option>
														   <option value="Kenya">Kenya</option>
														   <option value="Kiribati">Kiribati</option>
														   <option value="Korea North">Korea North</option>
														   <option value="Korea Sout">Korea South</option>
														   <option value="Kuwait">Kuwait</option>
														   <option value="Kyrgyzstan">Kyrgyzstan</option>
														   <option value="Laos">Laos</option>
														   <option value="Latvia">Latvia</option>
														   <option value="Lebanon">Lebanon</option>
														   <option value="Lesotho">Lesotho</option>
														   <option value="Liberia">Liberia</option>
														   <option value="Libya">Libya</option>
														   <option value="Liechtenstein">Liechtenstein</option>
														   <option value="Lithuania">Lithuania</option>
														   <option value="Luxembourg">Luxembourg</option>
														   <option value="Macau">Macau</option>
														   <option value="Macedonia">Macedonia</option>
														   <option value="Madagascar">Madagascar</option>
														   <option value="Malaysia">Malaysia</option>
														   <option value="Malawi">Malawi</option>
														   <option value="Maldives">Maldives</option>
														   <option value="Mali">Mali</option>
														   <option value="Malta">Malta</option>
														   <option value="Marshall Islands">Marshall Islands</option>
														   <option value="Martinique">Martinique</option>
														   <option value="Mauritania">Mauritania</option>
														   <option value="Mauritius">Mauritius</option>
														   <option value="Mayotte">Mayotte</option>
														   <option value="Mexico">Mexico</option>
														   <option value="Midway Islands">Midway Islands</option>
														   <option value="Moldova">Moldova</option>
														   <option value="Monaco">Monaco</option>
														   <option value="Mongolia">Mongolia</option>
														   <option value="Montserrat">Montserrat</option>
														   <option value="Morocco">Morocco</option>
														   <option value="Mozambique">Mozambique</option>
														   <option value="Myanmar">Myanmar</option>
														   <option value="Nambia">Nambia</option>
														   <option value="Nauru">Nauru</option>
														   <option value="Nepal">Nepal</option>
														   <option value="Netherland Antilles">Netherland Antilles</option>
														   <option value="Netherlands">Netherlands (Holland, Europe)</option>
														   <option value="Nevis">Nevis</option>
														   <option value="New Caledonia">New Caledonia</option>
														   <option value="New Zealand">New Zealand</option>
														   <option value="Nicaragua">Nicaragua</option>
														   <option value="Niger">Niger</option>
														   <option value="Nigeria">Nigeria</option>
														   <option value="Niue">Niue</option>
														   <option value="Norfolk Island">Norfolk Island</option>
														   <option value="Norway">Norway</option>
														   <option value="Oman">Oman</option>
														   <option value="Pakistan">Pakistan</option>
														   <option value="Palau Island">Palau Island</option>
														   <option value="Palestine">Palestine</option>
														   <option value="Panama">Panama</option>
														   <option value="Papua New Guinea">Papua New Guinea</option>
														   <option value="Paraguay">Paraguay</option>
														   <option value="Peru">Peru</option>
														   <option value="Phillipines">Philippines</option>
														   <option value="Pitcairn Island">Pitcairn Island</option>
														   <option value="Poland">Poland</option>
														   <option value="Portugal">Portugal</option>
														   <option value="Puerto Rico">Puerto Rico</option>
														   <option value="Qatar">Qatar</option>
														   <option value="Republic of Montenegro">Republic of Montenegro</option>
														   <option value="Republic of Serbia">Republic of Serbia</option>
														   <option value="Reunion">Reunion</option>
														   <option value="Romania">Romania</option>
														   <option value="Russia">Russia</option>
														   <option value="Rwanda">Rwanda</option>
														   <option value="St Barthelemy">St Barthelemy</option>
														   <option value="St Eustatius">St Eustatius</option>
														   <option value="St Helena">St Helena</option>
														   <option value="St Kitts-Nevis">St Kitts-Nevis</option>
														   <option value="St Lucia">St Lucia</option>
														   <option value="St Maarten">St Maarten</option>
														   <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
														   <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
														   <option value="Saipan">Saipan</option>
														   <option value="Samoa">Samoa</option>
														   <option value="Samoa American">Samoa American</option>
														   <option value="San Marino">San Marino</option>
														   <option value="Sao Tome & Principe">Sao Tome & Principe</option>
														   <option value="Saudi Arabia">Saudi Arabia</option>
														   <option value="Senegal">Senegal</option>
														   <option value="Seychelles">Seychelles</option>
														   <option value="Sierra Leone">Sierra Leone</option>
														   <option value="Singapore">Singapore</option>
														   <option value="Slovakia">Slovakia</option>
														   <option value="Slovenia">Slovenia</option>
														   <option value="Solomon Islands">Solomon Islands</option>
														   <option value="Somalia">Somalia</option>
														   <option value="South Africa">South Africa</option>
														   <option value="Spain">Spain</option>
														   <option value="Sri Lanka">Sri Lanka</option>
														   <option value="Sudan">Sudan</option>
														   <option value="Suriname">Suriname</option>
														   <option value="Swaziland">Swaziland</option>
														   <option value="Sweden">Sweden</option>
														   <option value="Switzerland">Switzerland</option>
														   <option value="Syria">Syria</option>
														   <option value="Tahiti">Tahiti</option>
														   <option value="Taiwan">Taiwan</option>
														   <option value="Tajikistan">Tajikistan</option>
														   <option value="Tanzania">Tanzania</option>
														   <option value="Thailand">Thailand</option>
														   <option value="Togo">Togo</option>
														   <option value="Tokelau">Tokelau</option>
														   <option value="Tonga">Tonga</option>
														   <option value="Trinidad & Tobago">Trinidad & Tobago</option>
														   <option value="Tunisia">Tunisia</option>
														   <option value="Turkey">Turkey</option>
														   <option value="Turkmenistan">Turkmenistan</option>
														   <option value="Turks & Caicos Is">Turks & Caicos Is</option>
														   <option value="Tuvalu">Tuvalu</option>
														   <option value="Uganda">Uganda</option>
														   <option value="United Kingdom">United Kingdom</option>
														   <option value="Ukraine">Ukraine</option>
														   <option value="United Arab Erimates">United Arab Emirates</option>
														   <option value="United States of America">United States of America</option>
														   <option value="Uraguay">Uruguay</option>
														   <option value="Uzbekistan">Uzbekistan</option>
														   <option value="Vanuatu">Vanuatu</option>
														   <option value="Vatican City State">Vatican City State</option>
														   <option value="Venezuela">Venezuela</option>
														   <option value="Vietnam">Vietnam</option>
														   <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
														   <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
														   <option value="Wake Island">Wake Island</option>
														   <option value="Wallis & Futana Is">Wallis & Futana Is</option>
														   <option value="Yemen">Yemen</option>
														   <option value="Zaire">Zaire</option>
														   <option value="Zambia">Zambia</option>
														   <option value="Zimbabwe">Zimbabwe</option>
														</select>							             
					                                <span class="help-inline"></span>
					                            </div>
					                        </div>					                  
					                        <div class="control-group col-md-6">
					                            <label class="control-label" for="basicinput">{{__ "city"}}</label>
					                            <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="insert price per hour here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
								                 <div class="controls">
								                     <input class="form-field" type="text" min="0"  placeholder="" name="city"/><span class="help-inline"></span>
								                 </div>
					             			</div>
	 								  <div class="clearfix"></div>
					                  <div class="control-group col-md-12">
					                      <label class="control-label" for="basicinput"></label>
						                  <div class="control-group col-md-12">
						                      <div class="controls">
						                          <textarea id="summernote" name="professionalExperience">Add a description of your profile here. Also add previous organisations worked for, links of written articles, and reported judgements\n></textarea>
						
						                      </div>
						                  </div>
					                  </div>
					</div>

	<div class="subButton lawyerBtnSub">
	
							<div class="control-group">
								<div class="controls">
								<input type="submit" id="submit-contact" class="btn-alt active shadow" value="submit">
									
								</div>
							</div>
	</div></form>	
</div>

                                    </div>
			    </div>
<!-- Tab panes -->
<!--  Tab  -->
			</div>
    
                                 <!-- </form> -->
        
			<div class="col-md-1 sidemenu" id="newone">
			<div class="col-md-12 paddtop2 font25">
			    <div class="bar_div" onclick="myFunction(this); openNav();">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			    </div>
			   
			</div>
			<a href="/questionDashboard">
			    <div class="col-md-12 paddtop2">
				<i class="fa fa-th-large hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Question dashboard"><span>Question dashboard</span></i>
			    </div>
			</a>
			 <a href="#">
			    <div class="col-md-12 paddtop2">
				<i class="glyphicon glyphicon-trash hover_blue" data-toggle="tooltip" data-placement="right" title="Deleted Task"><span>DeletedTask</span></i>
			    </div>
			</a>
			<a href="/lawyerPublicProfilePage">
			    <div class="col-md-12 paddtop2">
				<i class="fa fa-file-text-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="My profile page"><span>My profile page</span></i>
			    </div>
			</a>
			
			 <a th:href="@{'/eadmin/chat/'}">
			    <div class="col-md-12 paddtop2">
				<i class="fa fa-commenting-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Chat"><span>Chat</span></i>
			    </div>
			</a>
			 <a href="/calendar">
			    <div class="col-md-12 paddtop2">
				<i class="fa fa-calendar hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Calander"><span>Calander</span></i>
			    </div>
			</a>
			 <a href="#" onclick="openTimerFunction()">
			    <div class="col-md-12 paddtop2">
				<i class="fa fa-clock-o  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Timer"><span>Timer</span></i>
			    </div>
			</a>
			<a href="/editLawyerProfile">
			    <div class="col-md-12 paddtop2">
				<i class="fa fa-cog hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Edit profile"><span>Edit profile</span></i>
			    </div>
			</a>
			 <a href="#">
			    <div class="col-md-12 paddtop2">
				<i class="fa fa-credit-card  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Billing"><span>Billing</span></i>
			    </div>
			</a>
			<a href="/logout">
			    <div class="col-md-12 paddtop2">
				<i class="fa fa-sign-out  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Logout"><span>Logout</span></i>
			    </div>
			</a>
			 <a href="/mailbox">
			    <div class="col-md-12 plus_last_div paddtop2">
				<i class="fa fa-envelope hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mailbox"><span class="plus_last_span">Mailbox</span></i>
			    </div>
			</a>
			<a href="/createProject" style="position:absolute; bottom:0; left:45px;">
			    <div class="col-md-12 plus_last_div paddtop2">
				<i class="fa fa-plus plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="New Project"><span class="plus_last_span">New Project</span></i>
			    </div>
			</a>
			<a href="chart.html">
			    <div class="col-md-12 plus_last_div paddtop2">
				<i class="fa fa-bar-chart plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Charts"><span class="plus_last_span">Charts</span></i>
			    </div>
			</a>

        </div>
		</section>
	    </div>
	</div>
    </div>

<footer class="mcontainer">
    <div class="footer-nav">
	  <div class="row">
		  <div class="col-sm-6">
			 <ul>
				 <li><a href="">Payments processed with :</a></li>
				     <li><img src="img/stripe.png" alt="" width="80" /></li>
			     </ul>
		      </div>
		      
		      <div class="col-sm-6 text-right">
			  <ul>
				  <li><a href="">CGV</a></li>
				      <li><a href=""> Mentions L&eacute;gales</a></li>
				      <li><a href=""> Contactez-nous</a></li>
			      </ul>
		      </div>
		      
		      </div>
	      </div>
    </div>
</footer>

</body>
    
    
    <script src="js/bootstrap/bootstrap.min.js"></script>   
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap3-wysihtml5.all.min.js"></script>   
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/smooth.scroll.min.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/bootstrap/bootstrap-select.js"></script>
    <script src="js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap-clockpicker.min.js"></script>
	<!-- calendar specific -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js"></script>
<!--     <script>
        function openTimerFunction() {
            window.open('/timer', '_blank', 'width=400,height=540, left=250, top=250');
        }

    </script> -->
    <script type="text/javascript">
        $("#dropdown").on("click", function(e) {
            e.preventDefault();

            if ($(this).hasClass("open")) {
                $(this).removeClass("open");
                $(this).children("ul").slideUp("fast");
            } else {
                $(this).addClass("open");
                $(this).children("ul").slideDown("fast");
            }
        });

    </script>
    <script>
        $(document).ready(function() {

            $('#noti_Counter')
                .css({
                    opacity: 0
                })
                .text('4')
                .css({
                    top: '-10px'
                })
                .animate({
                    top: '-2px',
                    opacity: 1
                }, 500);

            $('#noti_Button').click(function() {

                $('#notifications').fadeToggle('fast', 'linear', function() {});

                $('#noti_Counter').fadeOut('slow');

                return false;
            });

            $(document).click(function() {
                $('#notifications').hide();

            });
	</script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>	
    <div id="copy">
	</div>
   

  
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>   
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.min.js"></script>
    
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.scrolly.js"></script>
    <script src="js/plugins-scroll.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/bootstrap/bootstrap-select.js"></script>
  
    <script src="js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap-clockpicker.min.js"></script>
    <script type="text/javascript">
        $("#dropdown").on("click", function(e) {
            e.preventDefault();

            if ($(this).hasClass("open")) {
                $(this).removeClass("open");
                $(this).children("ul").slideUp("fast");
            } else {
                $(this).addClass("open");
                $(this).children("ul").slideDown("fast");
            }
        });

    </script>
    <script>
        $(document).ready(function() {

            $('#noti_Counter')
                .css({
                    opacity: 0
                })
                .text('4')
                .css({
                    top: '-10px'
                })
                .animate({
                    top: '-2px',
                    opacity: 1
                }, 500);

            $('#noti_Button').click(function() {

                $('#notifications').fadeToggle('fast', 'linear', function() {});

                $('#noti_Counter').fadeOut('slow');

                return false;
            });

            $(document).click(function() {
                $('#notifications').hide();

            });

            $('#notifications').click(function() {
                return false;
            });
        });

    </script>
    <script>
        $(document).ready(function() {

            $('#msg_Counter')
                .css({
                    opacity: 0
                })
                .text('2')
                .css({
                    top: '-10px'
                })
                .animate({
                    top: '-2px',
                    opacity: 1
                }, 500);

            $('#msg_Button').click(function() {

                $('#messages').fadeToggle('fast', 'linear', function() {

                });

                $('#msg_Counter').fadeOut('slow');

                return false;
            });

            $(document).click(function() {
                $('#messages').hide();
            });

            $('#massages').click(function() {
                return false;
            });
        });

    </script>
    <script>
        function openNav() {
            /*$("#newone").css({"width":"300px","position":"relative","z-index":"1000"});*/
            $("#newone").toggleClass("open");
            if ($('#newone').hasClass('open')) {
                $('i').tooltip("disable");
            } else {
                $('i').tooltip("enable");
            }
            //$(".main_container_dashboard").find(".open").find('i').tooltip("disable");

        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

    </script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
    <script>
        function myFunction(x) {
            x.classList.toggle("change");
        }

    </script>

    <script type="text/javascript">
        $('.clockpicker').clockpicker()
            .find('input').change(function() {
                console.log(this.value);
            });
        var input = $('#single-input').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            'default': 'now'
        });

        $('.clockpicker-with-callbacks').clockpicker({
                donetext: 'Done',
                init: function() {
                    console.log("colorpicker initiated");
                },
                beforeShow: function() {
                    console.log("before show");
                },
                afterShow: function() {
                    console.log("after show");
                },
                beforeHide: function() {
                    console.log("before hide");
                },
                afterHide: function() {
                    console.log("after hide");
                },
                beforeHourSelect: function() {
                    console.log("before hour selected");
                },
                afterHourSelect: function() {
                    console.log("after hour selected");
                },
                beforeDone: function() {
                    console.log("before done");
                },
                afterDone: function() {
                    console.log("after done");
                }
            })
            .find('input').change(function() {
                console.log(this.value);
            });

        // Manually toggle to the minutes view
        $('#check-minutes').click(function(e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show')
                .clockpicker('toggleView', 'minutes');
        });
        });

        $('.clockpicker-with-callbacks').clockpicker({
                donetext: 'Done',
                init: function() {
                    console.log("colorpicker initiated");
                },
                beforeShow: function() {
                    console.log("before show");
                },
                afterShow: function() {
                    console.log("after show");
                },
                beforeHide: function() {
                    console.log("before hide");
                },
                afterHide: function() {
                    console.log("after hide");
                },
                beforeHourSelect: function() {
                    console.log("before hour selected");
                },
                afterHourSelect: function() {
                    console.log("after hour selected");
                },
                beforeDone: function() {
                    console.log("before done");
                },
                afterDone: function() {
                    console.log("after done");
                }
            })
            .find('input').change(function() {
                console.log(this.value);
            });

        // Manually toggle to the minutes view
        $('#check-minutes').click(function(e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show')
                .clockpicker('toggleView', 'minutes');
        });
        if (/mobile/i.test(navigator.userAgent)) {
            $('input').prop('readOnly', true);
        }

    </script>
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>   
	<!-- calendar specific -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js"></script>
	<script>
	$(document).ready(function() {
		  $('#summernote').summernote();
		  $('select').selectpicker();
		  $("#file").on("change", sendFileByAjax);		  
		});	
	</script>    
	<script type="text/javascript">
			$(document).ready(function()
			{
				$('.date').bootstrapMaterialDatePicker
				({
					time: false,
					clearButton: true,
					format: 'MM/DD/YYYY'
				});
	
				//$.material.init()
			});
	</script>	
 	<script>
	function sendFileByAjax(){
		var form = $("#contact-form")[0];
		console.log('form is', form);
		upfile = new FormData(form);
		console.log(' file uploaded is', upfile);					
		$.ajax({
			type : "POST",
			url : "/sendFileForGLOForm",
			data: new FormData($("#contact-form")[0]),
			enctype: 'multipart/form-data',	
	        processData: false, //prevent jQuery from automatically transforming the data into a query string
	        contentType: false,
	        cache: false,
	        timeout: 600000,
			success : function(result) {
				console.log('success!');	
			}
		});
	} 	
	</script>
</html>
