<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134634547-1"></script>
		<script>
 		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-134634547-1'); 
		</script>
		<!-- script to log user session -->
 		<script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('anrr4o/qahelplicit');</script>
        <title>FortyQ</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="/assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="/assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="/assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="/assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        
        <link href="assets/css/style_m.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">

     <!-- Custom css -->
        <link rel="stylesheet" href="/assets/css/stylesheet.css">

<style type="stylesheet">


</style>

 
    </head>
<body class="inner-page">
<header class="header_mm inner-header">
  <div class="mcontainer">
      <div class="mlogo"><a href="/"><img src="newDesign/img/logo.png" alt="" /></a></div>
    
     
      <div class="legswitch">
            <ul>
                    <li class="lang">
                            <span class="current"><a href = '/lang/:en'>EN</a></span>
                            <ul>     
                                <li><a href = '/lang/:fr'>FR</a></li>
                            </ul>
                        </li>
            </ul>
     </div>
      <div class="searchbox">
         <div class="header-search-form">
          <form id="searchForm">
            <input id="searchText" type="text">
          </form>
          </div>
          <a class="search-toggle d-none d-md-inline-block" id="searchToggle">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
      </div>
         <div class="m_lgn"><a href="/loginLawyer">Expert?</a></div>
      <!--  <div class="mask_qst"><a href="#">Ask your question</a></div>  -->
      
        <div class="mclear"></div>
    </div>
</header>

 <!-- <div th:insert="header :: copy"></div> --> 
	<!-- <div th:insert="headerAutocomplete :: copy"></div> -->
    <!--  loader  -->
    <!--  Header & Menu  -->
    <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
                <!--  Page Header  -->
<!--                 <div id="page-header" class="secondary-background">
                    <div class="container">
                        <div class="row no-margin">
                            <div class="text">
                                <h1 class="white">Contact.</h1>
                                <ul class="breadcrumb white">
                                    <li><a href="#">Home</a></li>
                                    <li>Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--  END Page Header  -->
                
                <!-- home-wrap begins -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <!--  Contact section  -->
                    <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
<!--                                 <div class="text text-left padding-topbottom-null">
                                    <h2>Get in Touch.</h2>
                                </div>
 -->                        </div>
                            <div class="row no-margin padding-onlytop-md">
                            </div>
                        </div>
                        
                        <!--  Accordion and Tabs  -->
                        <div class="row padding-sm bg-image">
                         <div class="container form-center">
                                <!--  Tab  -->
                                
                            <!-- this is the beginning of the signup validation -->
							{{# if signup }}
                                <!-- Nav tabs -->
		                           <ul class="nav nav-tabs center-tab" role="tablist">
		                            <li role="presentation"><a href="#tab-one" aria-controls="tab-one" role="tab" data-toggle="tab">{{__ "signin"}}</a></li>
		                            <li role="presentation" class="active"><a href="#tab-two" aria-controls="tab-two" role="tab" data-toggle="tab">{{__ "signup"}}</a></li>
		                           </ul>
                                <!--  Nav Tabs  -->
                                {{else}}
                                <!-- Nav tabs -->
		                           <ul class="nav nav-tabs center-tab" role="tablist">
		                            <li role="presentation" class="active"><a href="#tab-one" aria-controls="tab-one" role="tab" data-toggle="tab">{{__ "signin"}}</a></li>
		                            <li role="presentation"><a href="#tab-two" aria-controls="tab-two" role="tab" data-toggle="tab">{{__ "signup"}}</a></li>
		                           </ul>
                                <!--  Nav Tabs  -->
							{{/if}}                                

                         {{# if signup}}       
                                
                                <!-- Tab panes -->
                            <div class="tab-content">
	                             <div role="tabpanel" class="tab-pane" id="tab-one">
	                                    <!--  Contact Form  -->
				                        <div class="form-main">
							                  <div class="padding-leftright-null ">
							                   <div class="text padding-md-top-null">
							                    <div class="box-form">
							                    <!-- alert box that signifies that the confirmation mail for user signin has been sent to the user inbox -->
<!-- 		                                         <div class="alert alert-danger alert-dismissible" role="alert">
		                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                                            <strong>Success!</strong> A confirmation mail has been sent to your inbox.
		                                         </div>
 -->		                                         
		                                         <!-- case when the password has been successfully reset and the user is required to login -->
<!-- 		                                         <div class="alert alert-danger alert-dismissible" role="alert">
		                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                                            <strong>Success!</strong> Login here with your new credentials
		                                         </div>
 -->		                                         <!-- end password reset case -->
		                                         
							                     <form id="contact-form" action="/login" role="form" method="POST">
							                     <input type="hidden"/>
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="name">{{__ "email"}}<sup>*</sup></label>
							                        <input class="form-field" name="email" id="email" type="text" placeholder="{{__ 'emailPh'}}"/>
							                       </div>
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="mail">{{__ "password"}}<sup>*</sup></label>
							                        <input class="form-field" name="password" id="password" type="password" placeholder="{{__ 'passwordPh'}}"/>
							                       </div>
							                      </div>
							                      <div class="col-md-12 padding-leftright-null"><p class="error"></p></div>
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                       <label for="messageForm"><input type="checkbox" name="remember-me"/> {{__ "rememberMe"}}</label>
							                        <div class="submit-area padding-onlytop-sm">
							                        <input type="submit" id="submit-contact" class="btn-alt active shadow" value="{{__ 'signin'}}"/>
							                         <div id="msg" class="message"></div>
							                        </div>
							                       </div>
							                      </div>
							                     </form>
							                       <div class="col-md-12 padding-leftright-null">
							                        <a href="/forgotPassword">{{__ "forgotPassword"}}</a>
							                       </div>							                       
							                     </div>
							                    </div>
							                             <!--  END Contact Form  -->
							                   </div>
				                           			<!--  END Tab Panel 1  -->
				                        	</div>
	                        	</div>
	                        	
                            <div role="tabpanel" class="tab-pane active" id="tab-two">  
                             <!--  Contact Form  -->
			                 <div class="padding-leftright-null">
			                  <div class="text padding-md-top-null">
			                    <div class="box-form">
		 							{{# if err }}
										<p class="alert alert-danger">{{ err }}</p>
									{{# if errors }}
		    							{{# each errors }}
		          							<p class="alert alert-danger">{{ this.msg }}</p>
		    							{{/each}}
									{{/if}}                             
									{{/if}}
									{{# if successMessage}}
										<p class="alert alert-success alert-dismissible">{{ successMessage }}</p>
									{{/if}}
			                      <form id="contact-form" action="/signup" role="form" method="POST">
			                       <div class="row no-margin">
<!-- 			                         <div class="col-md-12 padding-leftright-null">
			                           <label for="name">First Name<sup>*</sup></label>
			                           <input class="form-field" name="firstname" id="firstname" th:field="*{firstname}" type="text" placeholder="Your First Name"/>
			                           <p class="alert alert-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
			                          </div>
 -->
 									<!--<div th:if="${#fields.hasErrors('firstname')}"
							          th:errors="*{firstname}"
							          class="validation-message alert alert-danger" role="alert">
							        </div> -->
<!-- 			                         <div class="col-md-12 padding-leftright-null">
			                           <label for="name">Last Name<sup>*</sup></label>
			                           <input class="form-field" name="lastname" id="lastname" th:field="*{lastname}" type="text" placeholder="Your Last Name"/>
			                           <p class="alert alert-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
			                          </div> -->
			                          
			                          	
<!-- 									<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
									    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
									</div> -->
			                          <div class="col-md-12 padding-leftright-null">
			                            <label for="name">{{__ "username"}}<sup>*</sup></label>
			                            <input class="form-field" name="username" id="username" type="text" placeholder="{{__ 'usernamePh'}}"/>
			                            <!-- <p class="alert alert-danger"></p> -->
			                           </div>
			                           <div class="col-md-12 padding-leftright-null">
			                            <label for="mail">{{__ "password"}}<sup>*</sup></label>
			                            <input class="form-field" name="password" id="password" type="password" placeholder="{{__ 'passwordPh'}}"/>
			                            <!-- <p class="alert alert-danger"></p> -->			                            
			                           </div>
			                           <div class="col-md-12 padding-leftright-null">
			                            <label for="mail">{{__ "email"}}<sup>*</sup></label>
			                            <input class="form-field" name="email" id="email" type="text" placeholder="{{__ 'emailPh'}}"/>
			                           </div>			                                                
			                          </div>
			                           <div class="row no-margin">
			                           <div class="col-md-12 padding-leftright-null">
			                            <!-- <label for="messageForm"><input name="isLawyer" id="isLawyer" type="checkbox"/> {{__ "legalExpert"}}</label> -->
			                            <div class="submit-area padding-onlytop-sm">
			                            <div class="col-md-12 padding-leftright-null"><p class="error"></p></div>
			                             <input type="submit" id="submit-contact" name="action" class="btn-alt active shadow" value="{{__ 'signup'}}"/>
			                              <div id="msg" class="message"></div>
                                          </div>
                                           </div>
                                           </div>
                                       </form>
                                         <!-- alert box to signal to user that the email has been sent to their specified email address -->
     	                               </div>
	                                </div>
			                             <!--  END Contact Form  -->
                               		</div>
                        		<!-- END Tab panel -->
                                </div>
                                
                            <!-- take out the error display for the moment -->
<!-- 							{{# if signup }}
								<p class="alert alert-danger">{{ signup }}</p>
                            <div role="tabpanel" class="tab-pane active" id="tab-two"> 
							{{# if errors }}
    							{{# each errors }}
          							<p class="alert alert-danger">{{ this.msg }}</p>
    							{{/each}}
							{{/if}}                             
							{{/if}} -->
                                <!-- Tab panes -->
                                <!--  Tab  -->
                            </div>
                        </div>
                        {{else}}
                            <!-- Tab panes -->
                            <div class="tab-content">
	                             <div role="tabpanel" class="tab-pane active" id="tab-one">
	                                    <!--  Contact Form  -->
				                        <div class="form-main">
							                  <div class="padding-leftright-null ">
							                   <div class="text padding-md-top-null">
							                    <div class="box-form">
						 							{{# if err }}
														<p class="alert alert-danger">{{ err }}</p>
													{{# if errors }}
						    							{{# each errors }}
						          							<p class="alert alert-danger">{{ this.msg }}</p>
						    							{{/each}}
													{{/if}}                             
													{{/if}}
													{{# if successMessage}}
														<p class="alert alert-success alert-dismissible">{{ successMessage }}</p>
													{{/if}}							                    
													{{# if questionAsked}}
														<p class="alert alert-success alert-dismissible">Please register/log in before continuing.</p>
													{{/if}}													
							                     <form id="contact-form" action="/login" role="form" method="POST">
							                     <input type="hidden"/>
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="name">{{__ "email"}}<sup>*</sup></label>
							                        <input class="form-field" name="email" id="email" type="text" placeholder="{{__ 'emailPh'}}"/>
							                       </div>
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="mail">{{__ "password"}}<sup>*</sup></label>
							                        <input class="form-field" name="password" id="password" type="password" placeholder="{{__ 'passwordPh'}}"/>
							                       </div>
							                      </div>
							                      <div class="col-md-12 padding-leftright-null"><p class="error"></p></div>
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                       <label for="messageForm"><input type="checkbox" name="remember-me"/> {{__ "rememberMe"}}</label>
							                        <div class="submit-area padding-onlytop-sm">
							                        <input type="submit" id="submit-contact" class="btn-alt active shadow" value="{{__ 'signin'}}"/>
							                         <div id="msg" class="message"></div>
							                        </div>
							                       </div>
							                      </div>
							                     </form>
							                       <div class="col-md-12 padding-leftright-null">
							                        <a href="/forgotPassword">Mot de passe oublié?</a>
							                       </div>							                       
							                     </div>
							                    </div>
							                             <!--  END Contact Form  -->
							                   </div>
				                           			<!--  END Tab Panel 1  -->
				                        	</div>
	                        	</div>
	                        	
                            <div role="tabpanel" class="tab-pane" id="tab-two">  
                             <!--  Contact Form  -->
			                 <div class="padding-leftright-null">
			                  <div class="text padding-md-top-null">
			                    <div class="box-form">
			                      <form id="contact-form" action="/signup" role="form" method="POST">
			                       <div class="row no-margin">
<!-- 			                         <div class="col-md-12 padding-leftright-null">
			                           <label for="name">First Name<sup>*</sup></label>
			                           <input class="form-field" name="firstname" id="firstname" th:field="*{firstname}" type="text" placeholder="Your First Name"/>
			                           <p class="alert alert-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
			                          </div>
 -->
 									<!--<div th:if="${#fields.hasErrors('firstname')}"
							          th:errors="*{firstname}"
							          class="validation-message alert alert-danger" role="alert">
							        </div> -->
<!-- 			                         <div class="col-md-12 padding-leftright-null">
			                           <label for="name">Last Name<sup>*</sup></label>
			                           <input class="form-field" name="lastname" id="lastname" th:field="*{lastname}" type="text" placeholder="Your Last Name"/>
			                           <p class="alert alert-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
			                          </div> -->
			                          
			                          	
<!-- 									<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
									    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
									</div> -->
			                          <div class="col-md-12 padding-leftright-null">
			                            <label for="name">{{__ "username"}}<sup>*</sup></label>
			                            <input class="form-field" name="username" id="username" type="text" placeholder="{{__ 'usernamePh'}}"/>
			                            <!-- <p class="alert alert-danger"></p> -->
			                           </div>
			                           <div class="col-md-12 padding-leftright-null">
			                            <label for="mail">{{__ "password"}}<sup>*</sup></label>
			                            <input class="form-field" name="password" id="password" type="password" placeholder="{{__ 'passwordPh'}}"/>
			                            <!-- <p class="alert alert-danger"></p> -->			                            
			                           </div>
			                           <div class="col-md-12 padding-leftright-null">
			                            <label for="mail">{{__ "email"}}<sup>*</sup></label>
			                            <input class="form-field" name="email" id="email" type="text" placeholder="{{__ 'emailPh'}}"/>
			                           </div>			                                                
			                          </div>
			                           <div class="row no-margin">
			                           <div class="col-md-12 padding-leftright-null">
			                            <!-- <label for="messageForm"><input name="isLawyer" id="isLawyer" type="checkbox"/> {{__ "legalExpert"}}</label> -->
			                            <div class="submit-area padding-onlytop-sm">
			                            <div class="col-md-12 padding-leftright-null"><p class="error"></p></div>
			                             <input type="submit" id="submit-contact" name="action" class="btn-alt active shadow" value="{{__ 'signup'}}"/>
			                              <div id="msg" class="message"></div>
                                          </div>
                                           </div>
                                           </div>
                                       </form>
                                         <!-- alert box to signal to user that the email has been sent to their specified email address -->
     	                               </div>
	                                </div>
			                             <!--  END Contact Form  -->
                               		</div>
                        		<!-- END Tab panel -->
                                </div>
                                
                            <!-- take out the error display for the moment -->
                                <!-- Tab panes -->
                                <!--  Tab  -->
                        {{/if}}
                        <!--  END Accordion and Tabs  -->
                    </div>
                </div>
                <!-- home-wrap ends -->
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->


<!-- <footer class="mcontainer">
<div class="footer-nav">
      <div class="row">
	      <div class="col-sm-6">
		     <ul>
			     <li><a href="">Payments processed with :</a></li>
				 <li><img src="assets/img/stripe.png" alt="" width="80" /></li>
			 </ul>
		  </div>
		  
		  <div class="col-sm-6 text-right">
		      <ul>
			      <li><a href="https://app.termly.io/document/terms-and-conditions/2d603385-3939-4a0c-8a99-196e9d8da0b1">{{__ "TnC"}}</a></li>
				  <li><a href="https://app.termly.io/document/privacy-policy/c4893091-a42d-45f3-bcba-d003337acb46">{{__ "privacyPolicy"}}</a></li>
				  <li><a href=""> {{__ "contactUs"}}</a></li>
			  </ul>
		  </div>
		  
		  </div>
	  </div>
</div>
   <div class="mfooter_text"><a href="https://ankuj3.wixsite.com/website/cgu">Copyright @ 2019 - Helplicit - Tous droits réservés - CGV</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Mentions Légales</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Contactez-nous</a></div>
</footer> -->
        <!--  END Footer. Class fixed for fixed footer  -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.flexslider-min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/isotope.min.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="/assets/js/jquery.scrollTo.min.js"></script>
        <script src="/assets/js/smooth.scroll.min.js"></script>
        <script src="/assets/js/jquery.appear.js"></script>
        <script src="/assets/js/jquery.countTo.js"></script>
        <script src="/assets/js/jquery.scrolly.js"></script>
        <script src="/assets/js/plugins-scroll.js"></script>
        <script src="/assets/js/imagesloaded.min.js"></script>
        <script src="/assets/js/pace.min.js"></script>
        <!-- <script src="/assets/js/main.js"></script> -->
    
           <script>
      $(document).ready(function(){
        $(".search-toggle").click(function(){
        $(".header-search-form, .m_lgn").toggleClass("search-opened");
        });
      });
        </script>
 <script>
            $(document).ready(function(){
        $(".rich-textarea").one('click keypress', function () {
    $(this).addClass('focused-once');
    $(".contextual-tooltip[data-target=\"#question\"]").addClass("visible");

    $("#intro-text").hide();
    $("#question-contextual-help").show();
});
$(".rich-textarea > .intro, .rich-textarea > .final").click(function(){
    $(this).parent().find('textarea').focus();
});


});
        </script>
</body>
</html>
