<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css for froala editor -->
	<!-- Include CSS for icons. -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	 
	<!-- Include Editor style. -->
	<link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.0/css/froala_style.min.css" rel="stylesheet" type="text/css" />
	<!-- css for froala ends -->
	<!--Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css"/>
	<!-- Custom css -->
	<link rel="stylesheet" href="/css/style.css"/>
	<!-- Manually modified css -->
	<link rel="stylesheet" href="/css/inspector-stylesheet.css"/>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/ionicons.min.css"/>
	<!-- Flexslider -->
	<link rel="stylesheet" href="/css/flexslider.css"/>
	<!-- Owl -->
	<link rel="stylesheet" href="/css/owl.carousel.css"/>
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css"/>
	

<script src="/js/jquery.min.js"></script>
<!-- All js library -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/smooth.scroll.min.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/jquery.scrolly.js"></script>
<script src="/js/plugins-scroll.js"></script>
<script src="/js/imagesloaded.min.js"></script>
<script src="/js/pace.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.autocomplete.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>


<div class="main_container_dashboard">
	<div class="col-md-1 sidemenu" id="newone">
		<div class="col-md-12 paddtop2 font25">
            <div class="bar_div" onclick="myFunction(this); openNav();">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
		</div>
		<a href="#"><div class="col-md-12 paddtop2"><i class="fa fa-th-large hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Dashboard"><span>Dashboard</span></i>
        </div></a>
		<a href="#"><div class="col-md-12 paddtop2"><i class="glyphicon glyphicon-trash hover_blue" data-toggle="tooltip" data-placement="right" title="Deleted Task"><span>DeletedTask</span></i>
        </div></a>
		<a href="#"><div class="col-md-12 paddtop2"><i class="fa fa-file-text-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Invoice"><span>Invoice</span></i>
        </div></a>
        <!-- <a th:if="${projectCreationForm.projectMaster.id}" th:href="@{'/eadmin/chat/'+ ${projectCreationForm.projectMaster.id}}"><div class="col-md-12 paddtop2"><i class="fa fa-commenting-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Chat"><span>Chat</span></i> -->
        <a th:href="@{'/eadmin/chat/'}"><div class="col-md-12 paddtop2"><i class="fa fa-commenting-o hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Chat"><span>Chat</span></i>        
        </div></a>
		<a href="/calendar"><div class="col-md-12 paddtop2"><i class="fa fa-calendar hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Calander"><span>Calander</span></i>
        </div></a>
		<a href="#" onclick="openTimerFunction()"><div class="col-md-12 paddtop2"><i class="fa fa-clock-o  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Timer"><span>Timer</span></i>
		</div></a>        
		<a href="/eadmin/profilePage"><div class="col-md-12 paddtop2"><i class="fa fa-cog hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Settings"><span>Settings</span></i>
        </div></a>
		<a href="#"><div class="col-md-12 paddtop2"><i class="fa fa-credit-card  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Billing"><span>Billing</span></i>
        </div></a>
		<a href="/logout"><div class="col-md-12 paddtop2"><i class="fa fa-sign-out  hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="LogOut"><span>LogOut</span></i>
        </div></a>
		<a href="/mailboxConfig"><div class="col-md-12 plus_last_div paddtop2"><i class="fa fa-envelope hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mailbox"><span class="plus_last_span">Mailbox</span></i>
        </div></a>
		<a href="/createProject"><div class="col-md-12 plus_last_div paddtop2"><i class="fa fa-plus plus_last hover_blue" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="New Project"><span class="plus_last_span">New Project</span></i>
        </div></a>
	</div>
	<div class="col-md-11 col-md-offset-1">

		<div class="col-md-12 upper_header">
			<div class="col-md-3 small_res1">
				<a href="index.html"><img src="/img/logo.png" class="small_res2" width="100%" alt="logo"></img></a>
			</div>
			<div class="col-md-5">
				<input type="search" class="col-md-12 search_box" name="search" placeholder="Search..">
			</div>
			<div class="col-md-1">
				<ul class="noti">
            
            <li id="msg_Container">
                <div id="msg_Counter"></div>   <!--SHOW NOTIFICATIONS COUNT.-->
                
                <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                <div id="msg_Button" class="fa fa-commenting-o hover_blue_big"  title="Messages"></div>    

                <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                <div id="messages">
                    <h3>Messages</h3>
                    <div style="height:250px;">
                    	<div class="noti_box">Hello, This is demo text.</div>
                    	<div class="noti_box">Hello, you have new message please check it out.</div>
                    </div>
                    <div class="seeAll"><a href="#">See All</a></div>
                </div>
            </li>
            
        </ul>
			</div>
			<div class="col-md-1">
				<ul class="noti">
            
            <li id="noti_Container">
                <div id="noti_Counter"></div>   <!--SHOW NOTIFICATIONS COUNT.-->
                
                <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                <div id="noti_Button" class="fa fa-bell hover_blue_big"  title="Notifications"></div>    

                <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                <div id="notifications">
                    <h3>Notifications</h3>
                    <div style="height:250px;">
                    	<div class="noti_box">Hello, This is demo text.</div>
                    	<div class="noti_box">Hello, you have new notification please check it out.</div>
                    	<div class="noti_box">You have new notification.</div>
                    	<div class="noti_box">You have new request. Click and check update.</div>
                    </div>
                    <div class="seeAll"><a href="#">See All</a></div>
                </div>
            </li>
            
        </ul>
			</div>
			<div class="col-md-2">
				<div id="dropdown" class="ddmenu">
				<span th:text="${userName}">Ankuj Arora</span><i class="down"></i>
      			<ul>
        			<li><a href="/eadmin/profilePage">My Profile</a></li>
        			<li><a href="/eadmin/profilePage">Support</a></li>
        			<li><a href="/eadmin/profilePage">Log Out</a></li>
      			</ul>
   	 			</div>
			</div>
		</div>
	                       <form class="form-horizontal row-fluid" method="POST" id="contact-form" enctype="multipart/form-data" action="">	
								<div class="formProjectCreation">
									<div class="control-group col-md-6">
													 <label class="control-label" for="basicinput">Title</label>
									                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your first name here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
									                 <div class="controls">
										                 <input type="text" id="title" placeholder="" class="form-field" /> <span class="help-inline"></span>
									                </div>
									</div>
									
					                 <div class="control-group col-md-6">
					                     <label class="control-label" for="basicinput">Upload Photo</label>
					                     <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="upload your photo here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
					                     <div class="controls">
					                         <input type="file" id="file" placeholder="" name = "file" class="form-field" /> <span class="help-inline"></span>
					                     </div>
					                 </div>
					                 
					             	<div class="clearfix"></div>
						             <div class="control-group col-md-6">
						                 <label class="control-label" for="basicinput">Facebook page link</label>
						                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your email address here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
						                      <div class="controls">
						                          <input type="text" id = "fbPage" placeholder="" name="username" class="form-field" />
						                      </div>
						             </div>	
						             <div class="control-group col-md-6">
						                 <label class="control-label" for="basicinput">Twitter page link</label>
						                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your email address here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
						                      <div class="controls">
						                          <input type="text" id = "twitterPage" placeholder="" name="username" class="form-field" />
						                      </div>
						             </div>							             					             
					             <div class="clearfix"></div>
								<div class="control-group col-md-6">
									<label class="control-label" for="basicinput">Campaign End Date</label>
									<div class="controls">
										<input type="text" 
										 class="span8 date" id = "endDate" placeholder="mm/dd/yyyy"/><span class="help-inline"></span>
									</div>
								</div>	
					             <div class="control-group col-md-6">
					                 <label class="control-label" for="basicinput">Settlement Amount</label>
					                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="insert price of first meeting here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
					                      <div class="controls">
					                          <input class="form-field span8" id = "settlementAmount" type="number" min="0"  placeholder="" /><span class="help-inline"></span>
					                      </div>
					             </div>
				                  <div class="clearfix"></div>
				                  <div class="control-group col-md-12">
				                      <label class="control-label" for="basicinput">Description</label>
				                      <div class="controls">
				                          <textarea class="textara" name = "textarea" rows="3" cols="20"></textarea>
				
				                      </div>
				                  </div>
					</div>
					
					<div class="moduleTask formTask">
							<div class="module-head">
								<h3 class="headingFormh3"></h3>
							</div>
							<div class="module-body taskFormBg">
								<h3 class="headingFormh3">Summary</h3>
								<br/>
						             <div class="control-group col-md-6">
						                 <label class="control-label" for="basicinput">This Alert Affects:</label>
						                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your email address here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
						                      <div class="controls">
						                          <input type="text" placeholder="" name="alertAffects" class="form-field" />
						                      </div>
						             </div>	
						             <div class="control-group col-md-6">
						                 <label class="control-label" for="basicinput">What's Going On?</label>
						                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your email address here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
						                      <div class="controls">
						                          <input type="text" id = "whatsGoingOn" placeholder="" name="username" class="form-field" />
						                      </div>
						             </div>							             					             
					             	<div class="clearfix"></div>	
					             
						             <div class="control-group col-md-6">
						                 <label class="control-label" for="basicinput">What Brands Are Under Investigation?</label>
						                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your email address here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
						                      <div class="controls">
						                          <input type="text" id = "brandsUnderScanner" placeholder="" name="username" class="form-field" />
						                      </div>
						             </div>	
						             <div class="control-group col-md-6">
						                 <label class="control-label" for="basicinput">What You Can Do</label>
						                 <a style="color:black;" href="#" data-toggle="tooltip" data-placement="right" title="type your email address here">	 <i class="fa fa-info-circle" aria-hidden="true"></i></a>
						                      <div class="controls">
						                          <input type="text" id = "whatToDo" placeholder="" name="username" class="form-field" />
						                      </div>
						             </div>							             					             
					            	 <div class="clearfix"></div>						             					
							</div>
						</div>
						<!-- end of module "moduleTask" -->	
										
					<div class="subButton lawyerBtnSub">
							<label for="messageForm"><input name="proofReqd" id="proofReqd" type="checkbox"/> Proof Required?</label>
							<div class="control-group">
								<div class="controls">
								<input type="submit" id="submit-contact" class="btn-alt active shadow" value="Submit">
								</div>
							</div>
					</div>
	</form>

		
	</div>
</div>

		<script>
		    function openTimerFunction() {
		        window.open('/timer', '_blank', 'width=400,height=540, left=250, top=250');
		    }
		</script>
		<script type="text/javascript">
			$("#dropdown").on("click", function(e){
		  e.preventDefault();
		  
		  if($(this).hasClass("open")) {
		    $(this).removeClass("open");
		    $(this).children("ul").slideUp("fast");
		  } else {
		    $(this).addClass("open");
		    $(this).children("ul").slideDown("fast");
		  }
		});
		</script>
		<script>
		    $(document).ready(function () {
		
		        $('#noti_Counter')
		            .css({ opacity: 0 })
		            .text('4')              
		            .css({ top: '-10px' })
		            .animate({ top: '-2px', opacity: 1 }, 500);
		
		        $('#noti_Button').click(function () {
		
		            $('#notifications').fadeToggle('fast', 'linear', function () {
		            });
		
		            $('#noti_Counter').fadeOut('slow');                
		
		            return false;
		        });
		
		        $(document).click(function () {
		            $('#notifications').hide();
		
		        });
		
		        $('#notifications').click(function () {
		            return false;       
		        });
		    });
		</script>
		<script>
		    $(document).ready(function () {
		
		        $('#msg_Counter')
		            .css({ opacity: 0 })
		            .text('2')              
		            .css({ top: '-10px' })
		            .animate({ top: '-2px', opacity: 1 }, 500);
		
		        $('#msg_Button').click(function () {
		
		            $('#messages').fadeToggle('fast', 'linear', function () {
		
		            });
		
		            $('#msg_Counter').fadeOut('slow');            
		
		            return false;
		        });
		
		        $(document).click(function () {
		            $('#messages').hide();
		        });
		
		        $('#massages').click(function () {
		            return false;    
		        });
		    });
		</script>
		<script>
		function openNav() {
		    /*$("#newone").css({"width":"300px","position":"relative","z-index":"1000"});*/
		    $("#newone").toggleClass("open");
		    if ($('#newone').hasClass('open')){
		        $('i').tooltip("disable");  
		    } else {
		        $('i').tooltip("enable");
		      }
		    //$(".main_container_dashboard").find(".open").find('i').tooltip("disable");
		
		}
		
		function closeNav() {
		    document.getElementById("mySidenav").style.width = "0";
		}
		</script>
		<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();   
		});
		</script>
		<script>
		function myFunction(x) {
		    x.classList.toggle("change");
		}
		</script>
		<!-- Include jQuery lib. -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		 
		<!-- Include Editor JS files. -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.0/js/froala_editor.pkgd.min.js"></script>
		
		<!-- Initialize the editor. -->
		<script>
		$(document).ready(function() {
			  $("#file").on("change", sendFileByAjax);
			});	
		  $(function() {
		    $('textarea').froalaEditor({fileUploadURL: 'file_upload', imageUploadURL : 'image_upload'});
			$("#contact-form").submit(function(event) {	
				event.preventDefault();
				var title = $('#title').val();
				console.log('title is ' + title);
				var formData = {
						title : $('#title').val(),
						fbPage : $('#fbPage').val(),
						twitterPage : $('#twitterPage').val(),
						endDate : $('#endDate').val(),
						settlementAmount : $('#settlementAmount').val(),
						alertAffects : $('#alertAffects').val(),
						whatsGoingOn : $('#whatsGoingOn').val(),
						brandsUnderScanner : $('#brandsUnderScanner').val(),
						whatToDo : $('#whatToDo').val(),
						proofReqd : $('#proofReqd').val(),
						description : $('textarea').froalaEditor('html.get')
				}
		    	$.ajax({
					type : "POST",
					contentType : "application/json; charset=utf-8",
					url : "/submitGLOForm",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
						console.log('result ' + result.title);
				        $('#contact-form').append('<p> ' + result.title + '</p>');
					},
					error : function(e) {
						/* $('#contact-form').append('<p> All highlighted fields are required</p>'); */
						console.log("ERROR: ", e);
					}
				});
			});
		 });
		  
		function sendFileByAjax(){
			var form = $("#contact-form")[0];
			console.log('form is', form);
			upfile = new FormData(form);
			console.log(' file uploaded is', upfile);					
			$.ajax({
				type : "POST",
				url : "/sendFileForGLOForm",
				data: new FormData($("#contact-form")[0]),
				enctype: 'multipart/form-data',	
		        processData: false, //prevent jQuery from automatically transforming the data into a query string
		        contentType: false,
		        cache: false,
		        timeout: 600000,
				success : function(result) {
				}
			});
		} 
		</script> 
		
<!-- 		<script>
		  $(function() {
		    $('textarea')
		      .froalaEditor({
		        // Set the save param.
		        saveParam: 'content',
		 
		        // Set the save URL.
		        saveURL: 'http://example.com/save',
		 
		        // HTTP request type.
		        saveMethod: 'POST',
		 
		        // Additional save params.
		        saveParams: {id: 'my_editor'}
		      })
		      .on('froalaEditor.save.before', function (e, editor) {
		        // Before save request is made.
		      })
		      .on('froalaEditor.save.after', function (e, editor, response) {
		        // After successfully save request.
		      })
		      .on('froalaEditor.save.error', function (e, editor, error) {
		        // Do something here.
		      })
		  });
		 
		  $('#saveButton').click (function () {
		    $('textarea').froalaEditor('save.save')
		  })
		</script>	 -->	
<!--  Footer  -->
        <footer id="footer" th:fragment="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="/img/logo_white_judlaw.png" class="normal" alt="logo" style="width: 100%;
    margin-top: 10%;" />
                            <img src="/img/logo_white_judlaw.png" class="retina" alt="logo" style="width: 50%;" />
                        </div>
                        <p>Your legal marketplace </p>
                        <div style="width: 111%;">
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Centerpriser SAS <br/>
                            29 Chemin du Vieux Chêne, 38240 Meylan<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
<!--                             <li><a href="/">FAQ</a></li> -->
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>©2017 <a href="/#">PuredesignThemes</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="/#">Privacy Policy</a></li>
                            <li><a href="/#">Cookie Policy</a></li>
                            <li><a href="/#">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->
</html>