<!DOCTYPE html>
<html lang="en">
    <head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134634547-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-134634547-1');
		</script>
		<!-- script to log user session -->
<!-- 		<script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('anrr4o/qahelplicit');</script>
 -->		<!-- script to log user session ends here -->
				
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{subject}}</title>
		<meta name="description" content={{subject}}>
	    <meta name="keywords" content="Portail blog juridique juridique aide conseil juridique entraide droit tribunal articles forums">
		
        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        
        <link href="assets/css/style_m.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
        
    </head>
    <body>
      
<header class="header_mm">
	<div class="mcontainer">
    	<div class="mlogo"><a href="/"><img src="assets/img/logom.png" alt="" /></a></div>
        <div class="m_lgn"><a href="/login">Connexion</a><span>/</span><a href="/login">Inscription</a></div>
        <div class="mask_qst"><a href="/askQuestion">Posez votre question</a></div>
        <div class="mclear"></div>
    </div>
</header>

        <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
                <!--  Post Header  -->
                <div id="post-header">
                    <div class="bg-image" style="background-image:url(assets/img/news1.jpg)"></div>
                    <div class="container">
                        <div class="row no-margin">
                            <div class="text secondary-background">
                                <div class="post-meta">
                                    <h1 class="white margin-bottom-small">{{subject}}</h1>
                                    <span class="date white">{{date}}</span>
                                    <div class="action">
                                        <a href="javascript:void(0)" id="share-btn"><i class="material-icons white">share</i></a>
                                        <i class="material-icons white">favorite_border</i>
                                    </div>
                                    <div id="share">
                                        <div class="share-icons">
                                            <a href="#" class="share-google">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            </a>
                                            <a href="" class="share-twitter">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a href="" class="share-linkedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                            <a href="" class="share-mail">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  END Post Header  -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <div class="container">
                        <!-- Post Content -->
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
                               <div class="text padding-topbottom-null">
                                   <p>Bonjour,<br>



{{question}}


<br>Cordialement



                                   </p>
                                    <blockquote>
                                    {{response}}
                                   </blockquote>
                                   <div class="author padding-onlytop-sm">
                                       <span>Posé par: <a href="">{{alias}}</a></span>
                                   </div>
<!--                                    <div class="tag">
                                       <span>Tags: <a href="">App</a>, <a href="">Design</a>, <a href="">Creative</a></span>
                                   </div> -->
                               </div>
                            </div>
                        </div>
                        <!-- Post Content -->
                    </div>
                </div>
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->

<footer class="mcontainer">
    <div class="mfooter_text"><a href="https://ankuj3.wixsite.com/website/cgu">Copyright @ 2019 - Helplicit - Tous droits réservés - CGV</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Mentions Légales</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Contactez-nous</a></div>
</footer>
        <!--  END Footer. Class fixed for fixed footer  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>