<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FortyQ</title>
    	<meta name="keywords" content="Free legal forum">
		<meta name="description" content="{{subject}}">
    	<meta name="robots" content="ALL">
    	
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="/assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="/assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="/assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="/assets/css/owl.carousel.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        
        <link href="/assets/css/style_m.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/stylesheet.css">
     <!-- Custom css -->
        <script src="/assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.flexslider-min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/isotope.min.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="/assets/js/jquery.scrollTo.min.js"></script>
        <script src="/assets/js/smooth.scroll.min.js"></script>
        <script src="/assets/js/jquery.appear.js"></script>
        <script src="/assets/js/jquery.countTo.js"></script>
        <script src="/assets/js/jquery.scrolly.js"></script>
        <script src="/assets/js/plugins-scroll.js"></script>
        <script src="/assets/js/imagesloaded.min.js"></script>
        <script src="/assets/js/pace.min.js"></script>
        <script src="/assets/js/main.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>        
    </head>
<body class="inner-page">
 <header class="header_mm inner-header">
  <div class="container">
      <div class="mlogo"><a href="/"><img src="/newDesign/img/logo.png" alt="" /></a></div>
    
     
     <div class="legswitch">
            <ul>
                    <li class="lang">
                            <span class="current"><a href="/lang/:en">En</a></span>
                            <ul>     
                                <li><a href="/lang/:fr">Fr</a></li>
                            </ul>
                        </li>
            </ul>
     </div>
      <div class="searchbox">
         <div class="header-search-form">
          <form id="searchForm">
            <input id="searchText" type="text">
          </form>
          </div>
          <a class="search-toggle d-none d-md-inline-block" id="searchToggle">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
      </div>
         <div class="m_lgn"><a href="/clientDashboard/:none">My cases</a></div>
      <!--  <div class="mask_qst"><a href="#">Ask your question</a></div>  -->
      
        <div class="mclear"></div>
    </div>
</header>

        <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
                <!--  Post Header  -->
                <div id="post-header">
                   <!--  <div class="bg-image" style="background-image:url(//assets/img/news1.jpg)"></div> -->
                    <div class="container">
                        <div class="row no-margin">
                            <div class="text secondary-background">
                                <div class="post-meta">
                                    <h1 class="white margin-bottom-small">{{subject}}</h1>
                                    <span class="date white">{{date}}</span>
                                    <div class="action">
                                        <a href="javascript:void(0)" id="share-btn"><i class="material-icons white">share</i></a>
                                        <i class="material-icons white">favorite_border</i>
                                    </div>
                                    <div id="share">
                                        <div class="share-icons">
                                            <a href="#" class="share-google">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            </a>
                                            <a href="" class="share-twitter">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a href="" class="share-linkedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                            <a href="" class="share-mail">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                          <div class="question-status-bar">
                        lawyer is now reading your question...
                    	</div> -->
                    </div>
                </div>

                 

                <!--  END Post Header  -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <div class="container">
                        <!-- Post Content -->
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
                               <div class="text padding-topbottom-null">
                                   <p>
 										{{{question}}}
                                   </p>
                                   <div class="author padding-onlytop-sm">
                                       <span>Asked by: <a href="">{{username}}</a></span>
                                   </div>
<!--                                    <div class="tag">
                                       <span>Tags: <a href="">App</a>, <a href="">Design</a>, <a href="">Creative</a></span>
                                   </div> -->
                               </div>
                            </div>
                        </div>
                        <!-- Post Content -->
                        
                        <!--  Comments  -->
                        <div class="row no-margin">
                            <div class="col-md-12 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <div id="comments">
                                        <!--  Nav Tabs  -->
											{{#each quoteList}}
											     <div class="ans-block">
											             <h2><a href="/askQuestion/:{{slugURL}}">{{quoteValue}}</a></h2>
													    <div class="col-md-6 update_btn">
														    <a class="dashboard_btn" href="/acceptQuote/:{{quoteID}}">Accept</a>
													    </div>	
													    										             													    <div class="col-md-6 update_btn">
														    <a class="dashboard_btn" href="/rejectQuote/:{{quoteID}}">Reject</a>
													    </div>
													    <div class="col-md-6 update_btn">
														    <a class="dashboard_btn" href="/requestIntroCall/:{{quoteID}}">Request Intro Call</a>
													    </div>													    
											     </div>
											{{/each}} 
                                    </div>
									{{# if successMessage}}
										<p class="alert alert-success alert-dismissible">{{ successMessage }}</p>
									{{/if}}	                                    
                                </div>
                            </div>
                        </div>
                        <!--  END Comments  -->
                    </div>
                </div>
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->

      
		<!-- Initialize the editor. -->
		<script>
		$(document).ready(function() {
			  $('#summernote').summernote();
			});	
		</script>
<!-- <footer class="container">
<div class="footer-nav">
      <div class="row">
	      <div class="col-sm-6">
		     <ul>
			     <li><a href="">Payments processed with :</a></li>
				 <li><img src="/assets/img/stripe.png" alt="" width="80" /></li>
			 </ul>
		  </div>
		  
		  <div class="col-sm-6 text-right">
		      <ul>
			      <li><a href="https://app.termly.io/document/terms-and-conditions/2d603385-3939-4a0c-8a99-196e9d8da0b1">{{__ "TnC"}}</a></li>
				  <li><a href="https://app.termly.io/document/privacy-policy/c4893091-a42d-45f3-bcba-d003337acb46">{{__ "privacyPolicy"}}</a></li>
				  <li><a href=""> {{__ "contactUs"}}</a></li>
			  </ul>
		  </div>
		  
		  </div>
	  </div>
</div>
   <div class="mfooter_text"><a href="https://ankuj3.wixsite.com/website/cgu">Copyright @ 2019 - Helplicit - Tous droits réservés - CGV</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Mentions Légales</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Contactez-nous</a></div>
</footer> -->
        <!--  END Footer. Class fixed for fixed footer  -->


         <script>
      $(document).ready(function(){
        $(".search-toggle").click(function(){
        $(".header-search-form, .m_lgn").toggleClass("search-opened");
        });
      });
        </script>
 <script>
            $(document).ready(function(){
        $(".rich-textarea").one('click keypress', function () {
    $(this).addClass('focused-once');
    $(".contextual-tooltip[data-target=\"#question\"]").addClass("visible");

    $("#intro-text").hide();
    $("#question-contextual-help").show();
});
$(".rich-textarea > .intro, .rich-textarea > .final").click(function(){
    $(this).parent().find('textarea').focus();
});


});
        </script>
    </body>
</html>