<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134634547-1"></script>
		<script>
 		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-134634547-1'); 
		</script>
		<!-- script to log user session -->
 		<script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('anrr4o/qahelplicit');</script>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Ask a Legal Expert & Get Answers in 42 minutes | FortyQ</title>
       
		<meta name="description" content="Our handpicked experts answer any legal question in 42 minutes flat, for € 4.20.">
    	<meta name="keywords" content="Ask an Expert, Ask Questions Get Answers, Ask A Question Online, Ask Questions Online, Question And Answer, Ask A Question, Ask An Expert, Ask Questions, ask a legal question, Get Answers, Ask Experts">
    			
        <!-- Open Graph data -->
		<meta property="og:title" content="Assistance juridique - Réponse précise en 42 minutes | Helplicit" />
		<meta property="og:type" content="article" />
		<meta property="og:locale" content="en_EN" />
		<meta property="og:url" content="https://www.fortyq.com/" />
		<meta property="og:description" content="Our handpicked experts answer any legal question in 42 minutes flat, for € 4.20." />
		<meta property="og:site_name" content="Helplicit" /><meta property="article:publisher" content="https://www.facebook.com/helplicit" />

       	<link rel="shortcut icon" href="assets/img/logo-comments.png" type="image/x-icon"/>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        
        <link href="assets/css/style_m.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">

     <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/stylesheet.css">

<style type="stylesheet">
</style>
</head>
<body class="inner-page">
<header class="header_mm">
	<div class="mcontainer ">
    	<div class="mlogo"><a href="/"><img src="assets/img/logo-new.png" alt="" /></a></div>
	  
     
		 <div class="legswitch">
	          <ul>
	                  <li class="lang">
                            <span class="current"><a href="/lang/:en">En</a></span>
                            <ul>     
                                <li><a href="/lang/:fr">Fr</a></li>
                            </ul>
                        </li>
						</ul>
	   </div>
		  <div class="searchbox">
				 <div class="header-search-form">
					<form id="searchForm">
					  <input id="searchText" type="text">
					</form>
				  </div>
					<a class="search-toggle d-none d-md-inline-block" id="searchToggle">
					  <i class="fa fa-search" aria-hidden="true"></i>
					</a>
			</div>
			   <div class="m_lgn"><a href="/loginLawyer">Expert?</a></div>
      <!--  <div class="mask_qst"><a href="#">Ask your question</a></div>  -->
			
        <div class="mclear"></div>
    </div>
</header>

 <!-- <div th:insert="header :: copy"></div> --> 
	<!-- <div th:insert="headerAutocomplete :: copy"></div> -->
    <!--  loader  -->
    <!--  Header & Menu  -->
    <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
                <!--  Page Header  -->
<!--                 <div id="page-header" class="secondary-background">
                    <div class="container">
                        <div class="row no-margin">
                            <div class="text">
                                <h1 class="white">Contact.</h1>
                                <ul class="breadcrumb white">
                                    <li><a href="#">Home</a></li>
                                    <li>Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--  END Page Header  -->
                
                <!-- home-wrap begins -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <!--  Contact section  -->
                    <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
<!--                                 <div class="text text-left padding-topbottom-null">
                                    <h2>Get in Touch.</h2>
                                </div>
 -->                        </div>
                            <div class="row no-margin padding-onlytop-md">
                            </div>
                        </div>
                        
                        <!--  Accordion and Tabs  -->
                        <div class="row padding-sm bg-image">
                         <div class="container form-center">
	                                    <!--  Contact Form  -->
				                        <div class="form-main">
							                  <div class="padding-leftright-null ">
							                   <div class="text padding-md-top-null">
							                   <h3>Reset Password Form</h3>
							                    <div class="box-form">
					 							{{# if err }}
													<p class="alert alert-danger">{{ err }}</p>	
												{{/if}}						                    
							                    <!-- alert box that signifies that the confirmation mail for user signin has been sent to the user inbox -->
							                     <form id="contact-form" action="/reset" role="form" method="POST">
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="name">Password<sup>*</sup></label>
							                        <input class="form-field" name="password" id="password" type="password" placeholder="Password"/>
							                       </div>
							                      </div>
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="name">Confirm Password<sup>*</sup></label>
							                        <input class="form-field" name="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm Password"/>
							                       </div>
							                      </div>							                      
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <div class="submit-area padding-onlytop-sm">
							                        <input type="submit" id="submit-contact" class="btn-alt active shadow" value="Send"/>
							                         <div id="msg" class="message"></div>
							                        </div>
							                       </div>
							                      </div>							                      
							                      <div class="col-md-12 padding-leftright-null"><p class="error"></p></div>
							                      <input type="text" hidden="true" value="{{username}}" name="username" id="username">							                      
							                     </form>
							                     </div>
							                    </div>
							                   </div>
				                        	</div>
                        </div>
                        <!--  END Accordion and Tabs  -->
                    </div>
                </div>
                <!-- home-wrap ends -->
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->
        <!--  Footer  -->
		<!-- <div th:insert="footer :: copy"></div> -->

		<!--  Footer  -->
<footer class="mcontainer">
<div class="footer-nav">
      <div class="row">
	      <div class="col-sm-6">
		     <ul>
			     <li><a href="">Payments processed with :</a></li>
				 <li><img src="assets/img/stripe.png" alt="" width="80" /></li>
			 </ul>
		  </div>
		  
		  <div class="col-sm-6 text-right">
		      <ul>
			      <li><a href="">CGV</a></li>
				  <li><a href=""> Mentions Légales</a></li>
				  <li><a href=""> Contactez-nous</a></li>
			  </ul>
		  </div>
		  
		  </div>
	  </div>
</div>
   <!-- <div class="mfooter_text"><a href="https://ankuj3.wixsite.com/website/cgu">Copyright @ 2019 - Helplicit - Tous droits réservés - CGV</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Mentions Légales</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Contactez-nous</a></div> -->
</footer>

        <!--  END Footer. Class fixed for fixed footer  -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.flexslider-min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/isotope.min.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="/assets/js/jquery.scrollTo.min.js"></script>
        <script src="/assets/js/smooth.scroll.min.js"></script>
        <script src="/assets/js/jquery.appear.js"></script>
        <script src="/assets/js/jquery.countTo.js"></script>
        <script src="/assets/js/jquery.scrolly.js"></script>
        <script src="/assets/js/plugins-scroll.js"></script>
        <script src="/assets/js/imagesloaded.min.js"></script>
        <script src="/assets/js/pace.min.js"></script>
        <!-- <script src="/assets/js/main.js"></script> -->
    
           <script>
      $(document).ready(function(){
        $(".search-toggle").click(function(){
        $(".header-search-form, .m_lgn").toggleClass("search-opened");
        });
      });
        </script>
 <script>
            $(document).ready(function(){
        $(".rich-textarea").one('click keypress', function () {
    $(this).addClass('focused-once');
    $(".contextual-tooltip[data-target=\"#question\"]").addClass("visible");

    $("#intro-text").hide();
    $("#question-contextual-help").show();
});
$(".rich-textarea > .intro, .rich-textarea > .final").click(function(){
    $(this).parent().find('textarea').focus();
});


});
        </script>
</body>
</html>