<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Judl.aw</title>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		
	<!--Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css"/>
	<!-- Custom css -->
	<link rel="stylesheet" href="/css/style.css"/>
	<!-- Manually modified css -->
	<link rel="stylesheet" href="/css/inspector-stylesheet.css"/>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/ionicons.min.css"/>
	<!-- Flexslider -->
	<link rel="stylesheet" href="/css/flexslider.css"/>
	<!-- Owl -->
	<link rel="stylesheet" href="/css/owl.carousel.css"/>
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css"/>
</head>
<body>
<header id="header" th:fragment="copy">
	<div class="top-nav">
		<!--  Header Logo  -->
		<div id="logo">
			<a class="navbar-brand" href="/index.html">
				<img src="/img/logo.png" class="normal" alt="logo"></img>
                <img src="/img/logo.png" class="retina" alt="logo"></img>
				<!-- <img src="img/logo@2x.png" class="retina" alt="logo"></img> -->
			</a>
		</div>
        <button class="index_search_menu">
            <i class="fa fa-search"></i>
        </button>
        <div id="IndexsearchBoxOpen" style="display: none">
            <form action="/search" method="GET">
                <input type="search" id="autocomplete-inputLocation" placeholder="City Name" class="autocomplete col-xs-12" name="franceCity" maxlength="25">
                <input type="search" id="autocomplete-inputDomainName" placeholder="Area of Practice" class="autocomplete col-xs-12" name="franceDomain" maxlength="60">
                <button type="submit" class="col-xs-12">SEARCH</button>
            </form>
        </div>
		<div class="language">
			<ul class="right-menu">
					<li class="lang">
						<span class="current">
							<a href="/#">En</a>
						</span>
						<ul>
							<li>
								<a href="/#">Fr</a>
							</li>
						</ul>
					</li>
			</ul>
		</div>
</div>
<!-- Include CSS files -->
</header>

 <!-- <div th:insert="header :: copy"></div> --> 
	<!-- <div th:insert="headerAutocomplete :: copy"></div> -->
    <!--  loader  -->
    <!--  Header & Menu  -->
    <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
                <!--  Page Header  -->
<!--                 <div id="page-header" class="secondary-background">
                    <div class="container">
                        <div class="row no-margin">
                            <div class="text">
                                <h1 class="white">Contact.</h1>
                                <ul class="breadcrumb white">
                                    <li><a href="#">Home</a></li>
                                    <li>Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--  END Page Header  -->
                
                <!-- home-wrap begins -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <!--  Contact section  -->
                    <div class="container">
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
<!--                                 <div class="text text-left padding-topbottom-null">
                                    <h2>Get in Touch.</h2>
                                </div>
 -->                        </div>
                            <div class="row no-margin padding-onlytop-md">
                            </div>
                        </div>
                        
                        <!--  Accordion and Tabs  -->
                        <div class="row padding-sm bg-image">
                         <div class="container form-center">
	                                    <!--  Contact Form  -->
				                        <div class="form-main">
							                  <div class="padding-leftright-null ">
							                   <div class="text padding-md-top-null">
							                   <h3>Reset Password Form</h3>
							                    <div class="box-form">
					 							{{# if err }}
													<p class="alert alert-danger">{{ err }}</p>	
												{{/if}}						                    
							                    <!-- alert box that signifies that the confirmation mail for user signin has been sent to the user inbox -->
							                     <form id="contact-form" action="/reset" role="form" method="POST">
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="name">Password<sup>*</sup></label>
							                        <input class="form-field" name="password" id="password" type="password" placeholder="Password"/>
							                       </div>
							                      </div>
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <label for="name">Confirm Password<sup>*</sup></label>
							                        <input class="form-field" name="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm Password"/>
							                       </div>
							                      </div>							                      
							                      <div class="row no-margin">
							                       <div class="col-md-12 padding-leftright-null">
							                        <div class="submit-area padding-onlytop-sm">
							                        <input type="submit" id="submit-contact" class="btn-alt active shadow" value="Send"/>
							                         <div id="msg" class="message"></div>
							                        </div>
							                       </div>
							                      </div>							                      
							                      <div class="col-md-12 padding-leftright-null"><p class="error" th:if="${errorMessage}" th:text="${errorMessage}"></p></div>
							                      <input type="text" hidden="true" value="{{username}}" name="username" id="username">							                      
							                     </form>
							                     </div>
							                    </div>
							                   </div>
				                        	</div>
                        </div>
                        <!--  END Accordion and Tabs  -->
                    </div>
                </div>
                <!-- home-wrap ends -->
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->
        <!--  Footer  -->
		<!-- <div th:insert="footer :: copy"></div> -->

		<!--  Footer  -->
        <footer id="footer" th:fragment="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="img/logo_white_judlaw.png" class="normal" alt="logo" />
                            <img src="img/logo_white_judlaw.png" class="retina" alt="logo" />
                        </div>
                        <p>Your legal marketplace </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Centerpriser SAS <br/>
                            29 Chemin du Vieux Chêne, 38240 Meylan<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
<!--                             <li><a href="/">FAQ</a></li> -->
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>©2017 <a href="/#">PuredesignThemes</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="/#">Privacy Policy</a></li>
                            <li><a href="/#">Cookie Policy</a></li>
                            <li><a href="/#">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->


<script src="js/jquery.min.js"></script>
<!-- All js library -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/smooth.scroll.min.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/jquery.scrolly.js"></script>
<script src="/js/plugins-scroll.js"></script>
<script src="/js/imagesloaded.min.js"></script>
<script src="/js/pace.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.autocomplete.js"></script>
</body>
</html>