<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134634547-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-134634547-1');
		</script>
		<!-- script to log user session -->
<!-- 		<script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('anrr4o/qahelplicit');</script>
 -->		<!-- script to log user session ends here -->
				
        <title>Moteur de recherche juridique gratuit - 180,000+ questions et réponses | Helplicit</title>
		<meta name="description" content="Moteur de recherche juridique gratuit - 180,000+ questions et réponses">
    	<meta name="keywords" content="Moteur recherche juridique gratuit">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        
        <link href="assets/css/style_m.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
        
    </head>
    <body>
      
<header class="header_mm">
	<div class="mcontainer">
    	<div class="mlogo"><a href="/"><img src="assets/img/logom.png" alt="" /></a></div>
        <div class="m_lgn"><a href="/login">Connexion</a><span>/</span><a href="/login">Inscription</a></div>
        <div class="mask_qst"><a href="/askQuestion">Posez votre question</a></div>
        <div class="mclear"></div>
    </div>
</header>

<div class="mmidd_sec">
	<div class="mcontainer">
        <div class="mboxes_part">
        <div class="msearch_box">
        	<form method="post" action="/search">
        		<input name="question" type="text" placeholder="{{queryString}}" class="m_srch_bx">
                <a><img src="assets/img/baseline_search_black_18dp.png" alt=""></a>
                <div class="mbtn"><button type="Search" form="form1" value="Search" hidden="true">Rechercher</button></div>                
            </form>
        </div>
        <div class="mfetch_dt">15 premiers résultats</div>
        {{#each hits}}         
        	<a href="{{pageURL}}" class="mpage2_box" target="_blank">
        	<div class="m_left">
            	<div class="m_jump"><img src="assets/img/baseline_open_in_new_black_18dp.png" alt=""></div>
            	<div class="heading4">{{title}}</div>
                <div class="para4">{{answer}}</div>
                <div class="m_src_txtim">Question posée sur <img src="{{image}}" alt=""></div>
                <div class="mclear"></div>
            </div>
            </a>
   		{{/each}}             
    	</div>
    </div>
</div>

<footer class="mcontainer">
    <div class="mfooter_text"><a href="https://ankuj3.wixsite.com/website/cgu">Copyright @ 2019 - Helplicit - Tous droits réservés - CGV</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Mentions Légales</a><a href="https://ankuj3.wixsite.com/website/legal-mentions">- Contactez-nous</a></div>
</footer>
        <!--  END Footer. Class fixed for fixed footer  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>