
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bussible HTML Template</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
      
        <!--  loader  -->
        <div id="myloader">
            <div class="loader">
                <div class="grid">
                    <div class="cube cube1"></div>
                    <div class="cube cube2"></div>
                    <div class="cube cube3"></div>
                    <div class="cube cube4"></div>
                    <div class="cube cube5"></div>
                    <div class="cube cube6"></div>
                    <div class="cube cube7"></div>
                    <div class="cube cube8"></div>
                    <div class="cube cube9"></div>
                </div>
            </div>
        </div>
        
        <!--  Header & Menu  -->
        <header id="header">
            <div class="top-nav">
                <!--  Header Logo  -->
                <div id="logo">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png" class="normal" alt="logo">
                        <img src="assets/img/logo@2x.png" class="retina" alt="logo">
                    </a>
                </div>
                <!--  END Header Logo  -->
                <div class="secondary-menu">
                    <ul>
                        <li class="mail"><i class="fa fa-envelope" aria-hidden="true"></i><a href="maito:info@domain.com">info@domain.com</a></li>
                        <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+39 123456789</li>
                        <li class="lang">
                            <span class="current"><a href="#">En</a></span>
                            <ul>     
                                <li><a href="#">It</a></li>
                            </ul>
                        </li>
                        <!-- Search Icon -->
                        <li class="search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <nav class="navbar navbar-default">
                <!--  Classic menu, responsive menu classic  -->
                <div id="menu-classic">
                    <div class="menu-holder">
                        <ul>
                            <li class="submenu">
                                <a href="javascript:void(0)">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Home Classic</a></li>
                                    <li><a href="index-corporate.html">Home Corporate</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="services.html">Services</a>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0)">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="career.html">Career</a>
                                    </li>
                                    <li><a href="resources.html">Resources</a>
                                    </li>
                                    <li><a href="timeline.html">Timeline</a></li>
                                    <li><a href="page-sidebar-left.html">Page Sidebar 1</a></li>
                                    <li><a href="page-sidebar-right.html">Page Sidebar 2</a></li>
                                    <li><a href="page-image-header.html">Image Header</a></li>

                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0)">Portfolio</a>
                                <ul class="sub-menu">
                                    <li><a href="portfolio-two-columns.html">Two Columns</a></li>
                                    <li><a href="portfolio-three-columns.html">Three Columns</a></li>
                                    <li><a href="portfolio-four-columns.html">Four Columns</a></li>
                                    <li><a href="project-1.html">Project 1</a></li>
                                    <li><a href="project-2.html">Project 2</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0)" class="active-item">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog Classic</a></li>
                                    <li><a href="blog-sidebar.html">Blog Sidebar </a></li>
                                    <li><a href="single-post.html">Post</a></li>
                                    <li><a href="single-post-video.html">Post Video</a></li>
                                    <li><a href="single-post-slider.html">Post Slider</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="elements.html">Elements</a>
                            </li>
                            <li>
                                <a href="contact.html">Contacts</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  END Classic menu, responsive menu classic  -->
                <!--  Button for Responsive Menu Classic  -->
                <div id="menu-responsive-classic">
                    <div class="menu-button">
                        <span class="bar bar-1"></span>
                        <span class="bar bar-2"></span>
                        <span class="bar bar-3"></span>
                    </div>
                </div>
                <!--  END Button for Responsive Menu Classic  -->
                <div class="secondary-menu-mobile">
                    <ul>
                        <li class="mail"><i class="fa fa-envelope" aria-hidden="true"></i><a href="maito:info@domain.com">info@domain.com</a></li>
                        <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+39 123456789</li>
                        <li class="lang">
                            <span class="current"><a href="#">En</a></span>
                            <ul>     
                                <li><a href="#">It</a></li>
                            </ul>
                        </li>
                        <!-- Search Icon -->
                        <li class="search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="header-searchform">
                <form class="search-form">
                    <div class="form-input">
                        <input type="text" placeholder="Search...">
                        <span class="form-button-close">
                            <button type="button"><i class="material-icons">close</i></button>
                        </span>
                        <span class="form-button">
                            <button type="button">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </header>
        <!--  END Header & Menu  -->
            
        <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
                <!--  Post Header  -->
                <div id="post-header">
                    <div class="bg-image" style="background-image:url(assets/img/single-post.jpg)"></div>
                    <div class="container">
                        <div class="row no-margin">
                            <div class="text secondary-background">
                                <div class="post-meta">
                                    <h1 class="white margin-bottom-small">Meetup in Rome.</h1>
                                    <ul class="categories white">
                                        <li><a href="">Tech</a></li>
                                        <li><a href="">Social</a></li>
                                    </ul>
                                    <span class="date white">02 November 2017</span>
                                    <div class="action">
                                        <a href="javascript:void(0)" id="share-btn"><i class="material-icons white">share</i></a>
                                        <i class="material-icons white">favorite_border</i>
                                    </div>
                                    <div id="share">
                                        <div class="share-icons">
                                            <a href="#" class="share-google">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            </a>
                                            <a href="" class="share-twitter">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                            <a href="" class="share-linkedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                            <a href="" class="share-mail">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  END Post Header  -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <div class="container">
                        <!-- Post Content -->
                        <div class="row no-margin padding-lg">
                            <div class="col-md-12 padding-leftright-null">
                               <div class="text padding-topbottom-null">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                   </p>
                                   <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt non ex neque dignissimos magnam enim! Veritatis ea mollitia facere incidunt, aperiam voluptatem architecto ab atque nihil sapiente exercitationem similique nostrum repellendus nesciunt, impedit totam id consequuntur sequi, asperiores labore!
                                       <cite><a href="#">Joe Doe</a></cite>
                                   </blockquote>
                                   <h3 class="margin-bottom-small">Business Goals</h3>
                                   <p>Quid ait <b>Aristoteles reliquique</b> Platonis alumni? Praeteritis, inquit, gaudeo. <mark>Cetera illa adhibebat, quibus demptis negat</mark> se Epicurus intellegere quid sit bonum. Hoc enim constituto in philosophia constituta sunt omnia. Et non ex maxima parte de tota iudicabis? Tum ille timide vel potius verecunde: Facio, inquit.</p>
                                   <section class="grid-images padding-md padding-md-bottom-null">
                                       <div class="row">
                                           <div class="col-md-6">
                                               <div class="image simple-shadow" style="background-image:url(assets/img/news1.jpg)">
                                                   <a class="lightbox-image" href="assets/img/news1.jpg"></a>
                                               </div>
                                           </div>
                                           <div class="col-md-6">
                                               <div class="image simple-shadow" style="background-image:url(assets/img/news2.jpg)">
                                                   <a class="lightbox-image" href="assets/img/news2.jpg"></a>
                                               </div>
                                           </div>
                                       </div>
                                   </section>
                                   <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                   </p>
                                   <ul class="post">
                                       <li>Lorem ipsum dolor: Lorem ipsum</li>
                                       <li>Lorem ipsum dolor: Lorem ipsum</li>
                                       <li>Lorem ipsum dolor: Lorem ipsum</li>
                                       <li>Lorem ipsum dolor: Lorem ipsum</li>
                                   </ul>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                   </p>
                                   <div class="author padding-onlytop-sm">
                                       <span>Posted by: <a href="">Admin</a></span>
                                   </div>
                                   <div class="tag">
                                       <span>Tags: <a href="">App</a>, <a href="">Design</a>, <a href="">Creative</a></span>
                                   </div>
                               </div>
                            </div>
                        </div>
                        <!-- Post Content -->
                        <!--  Comments  -->
                        <div class="row no-margin">
                            <div class="col-md-12 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <div id="comments">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#tab-one" aria-controls="tab-one" role="tab" data-toggle="tab" aria-expanded="true">All comments</a></li>
                                            <li role="presentation" class=""><a href="#tab-two" aria-controls="tab-two" role="tab" data-toggle="tab" aria-expanded="false">Leave a comment</a></li>
                                        </ul>
                                        <!--  Nav Tabs  -->
                                        <!-- Tab panes -->
                                        <div class="tab-content no-margin-bottom">
                                            <div role="tabpanel" class="tab-pane padding-md active" id="tab-one">
                                                <div class="comment">
                                                    <div class="row margin-null">
                                                        <div class="col-md-12 padding-leftright-null">
                                                            <img src="assets/img/comment3.jpg" alt="">
                                                            <div class="content">
                                                                <div class="header">
                                                                    <span class="comment-author">
                                                                        Asia Rossi
                                                                    </span>
                                                                    <span class="comment-btn">
                                                                        <a href="#"><i class="material-icons">reply</i></a>
                                                                    </span>
                                                                </div>
                                                                <span class="comment-date">
                                                                    12 November 2017
                                                                </span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quo fuga corporis sunt voluptate, quia, beatae voluptates est possimus impedit eveniet quaerat nulla sapiente. Omnis odit quas est fuga nam.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment reply">
                                                    <div class="row margin-null">
                                                        <div class="col-md-10 col-md-offset-2 padding-leftright-null">
                                                            <img src="assets/img/comment1.jpg" alt="">
                                                            <div class="content">
                                                                <div class="header">
                                                                    <span class="comment-author">
                                                                        Joe Doe
                                                                    </span>
                                                                    <span class="comment-btn">
                                                                        <a href="#"><i class="material-icons">reply</i></a>
                                                                    </span>
                                                                </div>
                                                                <span class="comment-date">
                                                                    12 November 2017
                                                                </span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quo fuga corporis sunt voluptate, quia, beatae voluptates est possimus impedit eveniet quaerat nulla sapiente. Omnis odit quas est fuga nam.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment">
                                                    <div class="row">
                                                        <div class="col-md-12 padding-leftright-null">
                                                            <img src="assets/img/comment2.jpg" alt="">
                                                            <div class="content">
                                                                <div class="header">
                                                                    <span class="comment-author">
                                                                        Jessica Brown
                                                                    </span>
                                                                    <span class="comment-btn">
                                                                        <a href="#"><i class="material-icons">reply</i></a>
                                                                    </span>
                                                                </div>
                                                                <span class="comment-date">
                                                                    12 November 2017
                                                                </span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quo fuga corporis sunt voluptate, quia, beatae voluptates est possimus impedit eveniet quaerat nulla sapiente. Omnis odit quas est fuga nam.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane padding-md" id="tab-two">
                                                <section class="comment-form">
                                                    <form id="contact-form">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="name">Name <sup>*</sup></label>
                                                                <input class="form-field" name="name" id="name" type="text" placeholder="Your name">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="mail">Email <sup>*</sup></label>
                                                                <input class="form-field" name="mail" id="mail" type="text" placeholder="Your Email">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label for="messageForm">Message <sup>*</sup></label>
                                                                <textarea class="form-field" name="messageForm" id="messageForm" rows="6" placeholder="Your Message"></textarea>
                                                                <div class="submit-area">
                                                                    <input type="submit" id="submit-contact" class="btn-alt active" value="Submit">
                                                                    <div id="msg" class="message"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  END Comments  -->
                    </div>
                </div>
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->
        

        <!--  Footer  -->
        <footer>
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="assets/img/logo_white.png" class="normal" alt="logo">
                            <img src="assets/img/logo_white@2x.png" class="retina" alt="logo">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Bussible Company <br>
                            322 Moon St, Venice, 1231, Italy<br>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="">Home</a></li>
                            <li><a href="">Who we are</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID">
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>©2017 <a href="#">PuredesignThemes</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Cookie Policy</a></li>
                            <li><a href="#">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>