<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
	<title>Demo</title>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Bootstrap -->
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>

<!-- Custom css -->
<link rel="stylesheet" href="css/style.css"/>

<!-- Manually modified css -->
<link rel="stylesheet" href="css/inspector-stylesheet.css"/>

<!-- Font Awesome -->
<link rel="stylesheet" href="css/font-awesome.min.css"/>

<link rel="stylesheet" href="css/ionicons.min.css"/>

<!-- Flexslider -->
<link rel="stylesheet" href="css/flexslider.css"/>

<!-- Owl -->
<link rel="stylesheet" href="css/owl.carousel.css"/>

<!-- Magnific Popup -->
<link rel="stylesheet" href="css/magnific-popup.css"/>

<script src="js/jquery.min.js"></script>
<!-- All js library -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/smooth.scroll.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.scrolly.js"></script>
<script src="js/plugins-scroll.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/pace.min.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.autocomplete.js"></script>
<script src="js/alllib.js" type="text/javascript"></script>
</head>
		<header id="header" th:fragment="copy">
			<div class="top-nav">
				<!--  Header Logo  -->
				<div id="logo">
					<a class="navbar-brand" href="/index.html">
						<img src="img/logo.png" class="normal" alt="logo"></img>
		                <img src="img/logo.png" class="retina" alt="logo"></img>
						<!-- <img src="img/logo@2x.png" class="retina" alt="logo"></img> -->
					</a>
				</div>
		        <!-- display name of logged in user -->
		</div>
		</header>		
       <div id="main-wrap">
            <!--  Page Content  -->
            <div id="page-content" class="header-static">
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <div class="container">
                        <!-- Post Content -->
                        <div class="row no-margin padding-lg">
                        	<div class="text">
                        		<h1>Terms and Conditions.</h1>
                        	</div>
                            <div class="col-md-12 padding-leftright-null">
                               <div class="text padding-topbottom-null">
								<h2 class="margin-bottom-small">Welcome to Helplicit</h2>
									<p class="margin-bottom-small">These terms and conditions outline the rules and regulations for the use of Helplicit's Website.</p> <br /> 
									<span style="text-transform: capitalize;"> Helplicit</span> is located at:<br /> 
									<address> , <br /> - , <br />
									</address>
									<p class="margin-bottom-small">By accessing this website we assume you accept these terms and conditions in full. Do not continue to use Helplicit's website 
									if you do not accept all of the terms and conditions stated on this page.</p>
									<p class="margin-bottom-small">The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice
									and any or all Agreements: “Client”, “You” and “Your” refers to you, the person accessing this website
									and accepting the Company’s terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers
									to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client
									or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake
									the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
									of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect
									of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law
									of . Any use of the above terminology or other words in the singular, plural,
									capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p><h2 class="margin-bottom-small">Cookies</h2>
									<p class="margin-bottom-small">We employ the use of cookies. By using Helplicit's website you consent to the use of cookies 
									in accordance with Helplicit’s privacy policy.</p><p>Most of the modern day interactive web sites
									use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
									to enable the functionality of this area and ease of use for those people visiting. Some of our 
									affiliate / advertising partners may also use cookies.</p><h2 class="margin-bottom-small">License</h2>
									<p class="margin-bottom-small">Unless otherwise stated, Helplicit and/or it’s licensors own the intellectual property rights for
									all material on Helplicit. All intellectual property rights are reserved. You may view and/or print
									pages from http://www.helplicit.com for your own personal use subject to restrictions set in these terms and conditions.</p>
									<p class="margin-bottom-small">You must not:</p>
									<ol>
										<li>Republish material from http://www.helplicit.com</li>
										<li>Sell, rent or sub-license material from http://www.helplicit.com</li>
										<li>Reproduce, duplicate or copy material from http://www.helplicit.com</li>
									</ol>
									<p>Redistribute content from Helplicit (unless content is specifically made for redistribution).</p>
								<h2 class="margin-bottom-small">User Comments</h2>
									<ol>
										<li>This Agreement shall begin on the date hereof.</li>
										<li>Certain parts of this website offer the opportunity for users to post and exchange opinions, information,
										material and data ('Comments') in areas of the website. Helplicit does not screen, edit, publish
										or review Comments prior to their appearance on the website and Comments do not reflect the views or
										opinions ofHelplicit, its agents or affiliates. Comments reflect the view and opinion of the
										person who posts such view or opinion. To the extent permitted by applicable laws Helplicitshall
										not be responsible or liable for the Comments or for any loss cost, liability, damages or expenses caused
										and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this
										website.</li>
										<li>Helplicitreserves the right to monitor all Comments and to remove any Comments which it considers
										in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms and Conditions.</li>
										<li>You warrant and represent that:
											<ol>
												<li>You are entitled to post the Comments on our website and have all necessary licenses and consents to
														do so;</li>
												<li>The Comments do not infringe any intellectual property right, including without limitation copyright,
													patent or trademark, or other proprietary right of any third party;</li>
												<li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material
													or material which is an invasion of privacy</li>
												<li>The Comments will not be used to solicit or promote business or custom or present commercial activities
													or unlawful activity.</li>
												</ol>
											</li>
										<li>You hereby grant to <strong>Helplicit</strong> a non-exclusive royalty-free license to use, reproduce,
										edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats
										or media.</li>
									</ol>
								<h2 class="margin-bottom-small">Hyperlinking to our Content</h2>
									<ol>
										<li>The following organizations may link to our Web site without prior written approval:
											<ol>
											<li>Government agencies;</li>
											<li>Search engines;</li>
											<li>News organizations;</li>
											<li>Online directory distributors when they list us in the directory may link to our Web site in the same
												manner as they hyperlink to the Web sites of other listed businesses; and</li>
											<li>Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls,
												and charity fundraising groups which may not hyperlink to our Web site.</li>
											</ol>
										</li>
									</ol>
									<ol start="2">
										<li>These organizations may link to our home page, to publications or to other Web site information so long
											as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or
											approval of the linking party and its products or services; and (c) fits within the context of the linking
											party's site.
										</li>
										<li>We may consider and approve in our sole discretion other link requests from the following types of organizations:
											<ol>
												<li>commonly-known consumer and/or business information sources such as Chambers of Commerce, American
													Automobile Association, AARP and Consumers Union;</li>
												<li>dot.com community sites;</li>
												<li>associations or other groups representing charities, including charity giving sites,</li>
												<li>online directory distributors;</li>
												<li>internet portals;</li>
												<li>accounting, law and consulting firms whose primary clients are businesses; and</li>
												<li>educational institutions and trade associations.</li>
											</ol>
										</li>
									</ol>
									<p class="margin-bottom-small">We will approve link requests from these organizations if we determine that: (a) the link would not reflect
									unfavorably on us or our accredited businesses (for example, trade associations or other organizations
									representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed
									to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to us from
									the visibility associated with the hyperlink outweighs the absence of <?=$companyName?>; and (d) where the
									link is in the context of general resource information or is otherwise consistent with editorial content
									in a newsletter or similar product furthering the mission of the organization.</p>
								
									<p class="margin-bottom-small">These organizations may link to our home page, to publications or to other Web site information so long as
									the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval
									of the linking party and it products or services; and (c) fits within the context of the linking party's
									site.</p>
								
									<p class="margin-bottom-small">If you are among the organizations listed in paragraph 2 above and are interested in linking to our website,
									you must notify us by sending an e-mail to <a href="mailto:contact@helplicit.com" title="send an email to contact@helplicit.com">contact@helplicit.com</a>.
									Please include your name, your organization name, contact information (such as a phone number and/or e-mail
									address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site,
									and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.</p>
								
									<p class="margin-bottom-small">Approved organizations may hyperlink to our Web site as follows:</p>
								
									<ol>
										<li>By use of our corporate name; or</li>
										<li>By use of the uniform resource locator (Web address) being linked to; or</li>
										<li>By use of any other description of our Web site or material being linked to that makes sense within the
											context and format of content on the linking party's site.</li>
									</ol>
									<p class="margin-bottom-small">No use of Helplicit’s logo or other artwork will be allowed for linking absent a trademark license
									agreement.</p>
								<h2 class="margin-bottom-small">Iframes</h2>
									<p class="margin-bottom-small">Without prior approval and express written permission, you may not create frames around our Web pages or
									use other techniques that alter in any way the visual presentation or appearance of our Web site.</p>
								<h2 class="margin-bottom-small">Reservation of Rights</h2>
									<p class="margin-bottom-small">We reserve the right at any time and in its sole discretion to request that you remove all links or any particular
									link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also
									reserve the right to amend these terms and conditions and its linking policy at any time. By continuing
									to link to our Web site, you agree to be bound to and abide by these linking terms and conditions.</p>
								<h2 class="margin-bottom-small">Removal of links from our website</h2>
									<p class="margin-bottom-small">If you find any link on our Web site or any linked web site objectionable for any reason, you may contact
									us about this. We will consider requests to remove links but will have no obligation to do so or to respond
									directly to you.</p>
									<p class="margin-bottom-small">Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness
									or accuracy; nor do we commit to ensuring that the website remains available or that the material on the
									website is kept up to date.</p>
								<h2 class="margin-bottom-small">Content Liability</h2>
									<p class="margin-bottom-small">We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify
									and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any
									page on your Web site or within any context containing content or materials that may be interpreted as
									libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or
									other violation of, any third party rights.</p>
								<h2 class="margin-bottom-small">Disclaimer</h2>
									<p class="margin-bottom-small">To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:</p>
									<ol>
									<li>limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
									<li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
									<li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
									<li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
									</ol>
									<p class="margin-bottom-small">The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a)
									are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or
									in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort
									(including negligence) and for breach of statutory duty.</p>
									<p>To the extent that the website and the information and services on the website are provided free of charge,
									we will not be liable for any loss or damage of any nature.</p>
								<h2 class="margin-bottom-small"></h2>
									<p></p>
								<h2 class="margin-bottom-small">Credit & Contact Information</h2>
									<p class="margin-bottom-small">This Terms and conditions page was created at <a style="color:inherit;text-decoration:none;cursor:text;"
										href="https://termsandconditionstemplate.com">termsandconditionstemplate.com</a> generator. If you have
									any queries regarding any of our terms, please contact us.</p>		
                                           
                               </div>
                            </div>
                        </div>
                        <!-- Post Content -->
                    </div>
                </div>
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->    

        
        
<!--  Footer  -->
        <footer id="footer" th:fragment="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-3 text">
                        <div class="logo">
                            <img src="img/logo_white_judlaw.png" class="normal" alt="logo" />
                            <img src="img/logo_white_judlaw.png" class="retina" alt="logo" />
                            <!-- <img src="img/logo_white@2x.png" class="retina" alt="logo" /> -->
                        </div>
                        <p>Your legal marketplace </p>
                        <div>
                            <ul class="social">
                                <li>Find us on</li>
                                <li><a href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Head Office</h4>
                        <p>Centerpriser SAS <br/>
                            29 Chemin du Vieux Chêne, 38240 Meylan<br/>
                            Mon. - Fri., 9 a.m. - 6.00 p.m.</p>
                    </div>
                    <div class="col-md-2 text small">
                        <h4 class="heading white margin-bottom-small weight-300">Important link</h4>
                        <ul class="info">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/services.html">Services</a></li>
<!--                             <li><a href="/">FAQ</a></li> -->
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text">
                        <h4 class="heading white margin-bottom-small weight-300">News Subscribtion</h4>
                        <p>Subscribe to our newsletter to get all our news in your inbox.</p>
                        <div id="newsletter-form">
                            <form class="search-form">
                                <div class="form-input">
                                    <input type="text" placeholder="Your email ID"/>
                                    <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="copy">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-6 text">
                        <p>©2017 <a href="/#">Centerpriser</a>. All rights reserved. </p>
                    </div>
                    <div class="col-md-6 text text-right">
                        <ul>
                            <li><a href="/privacyPolicy">Privacy Policy</a></li>
                            <li><a href="/#">Cookie Policy</a></li>
                            <li><a href="/#">Term and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Footer. Class fixed for fixed footer  -->        