#top,
  #calendar.fc-unthemed {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  }

  #top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
    color: #000;
  }

  #top .selector {
    display: inline-block;
    margin-right: 10px;
  }

  #top select {
    font: inherit; /* mock what Boostrap does, don't compete  */
  }

  .left { float: left }
  .right { float: right }
  .clear { clear: both }

  #calendar {
    padding: 0 10px;
  }
  .fc-content{
    background-color: #3367D6;
  }

@media (min-width: 481px) and (max-width: 768px) {
  .fc-toolbar.fc-header-toolbar{
    margin-top: 3em;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #calendar{
    padding: 0px;
    margin-top: 3em;
  }
}