body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #666;
}

a {
  color: #444444;
}
.mclear {
  clear: both;
}
.mcontainer {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}
.header_mm {
  width: 100%;
  position: fixed;
  background: #fff;
  padding-bottom: 40px;
}
.mheader {
  background: #eff1f2;
  border-bottom: 3px solid #a0138e;
  min-height: 49px;
  position: fixed;
  width: 100%;
}
.mheader_cen {
  margin: 0 auto;
  display: table;
}
.mheader_text {
  color: #20303c;
  line-height: 47px;
  font-size: 14px;
  float: left;
}
.mheader_text span img {
  margin: 0px 5px;
}
.mstart_nw {
  margin: 6px 0 0px 15px;
}
.mstart_nw a {
  border: 1px solid #414141;
  border-radius: 20px;
  line-height: 33px;
  display: block;
  color: #414141;
  padding: 0 22px;
  font-size: 14px;
  text-decoration: none;
}
.mstart_nw a:hover {
  background: #414141;
  color: #fff;
}
.mmidd_sec {
  padding: 50px 0 0;
}
.mlogo {
  background: #fff;
  float: left;
  padding: 10px 0 0;
}
.m_lgn {
  float: right;
  font-size: 14px;
  padding: 17px 0 0;
  color: #414141;
}
.m_lgn a {
  text-decoration: none;
  color: #414141;
}
.m_lgn span {
  padding: 0 2px;
  display: inline-block;
}
.mask_qst {
  float: right;
  padding: 9px 50px 0 0;
}
.mask_qst a {
  line-height: 34px;
  padding: 0 27px;
  background: #414141;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  font-size: 13px;
}
.mask_qst a:hover {
  background: #c9b4bd;
  color: #414141;
}
.mform_sec {
  padding: 122px 0 0;
}
.mform_part {
  width: 650px;
  float: left;
}
.mform1 {
  margin: 0;
  padding: 0;
}
.mown_law {
  color: #414141;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 700;
}
.mbigest_repo {
  color: #575757;
  font-size: 18px;
  padding: 15px 0 0;
}
.minput_text {
  margin: 65px 0 0;
}
.mform1 .minput_text input[type="text"] {
  background: #fff;
  height: 44px;
  border: 1px solid #c6e2f7;
  margin: 0;
  padding: 0 2%;
  width: 96%;
  box-shadow: 0 0 5px #444;
  border-radius: 5px;
  color: #b6c1cd;
  font-size: 16px;
}
/* 	*/
.mform1 .mbtn input[type="button"] {
  background: #414141;
  border: 0;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  line-height: 40px;
  margin: 0;
  min-height: 40px;
  padding: 0 85px;
}
.mform1 .mbtn input[type="button"]:hover {
  background: #c9b4bd;
  color: #414141;
}
.mform1 .mbtn button {
  background: #414141;
  border: 0;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 40px;
  margin: 0;
  min-height: 40px;
  padding: 0 85px;
}
.mform1 .mbtn button:hover {
  background: #c9b4bd;
  color: #414141;
}
.mcartoon {
  width: 268px;
  float: right;
}
.mfooter_text {
  padding: 32px 0 15px;
  text-align: center;
  text-decoration: underline;
}
.mfooter_text a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
}

.mboxes_part {
  padding: 10px 0 0;
}
.mpage2_box .heading4 {
  margin: 0;
  font-weight: normal;
  font-size: 21px;
  color: #000;
  padding: 10px 0 8px;
  line-height: 30px;
}
.mpage2_box .heading4 a {
  color: #000;
  text-decoration: none;
}
.mpage2_box .para4 {
  margin: 0;
  font-weight: normal;
  font-size: 17px;
  color: #414141;
  padding: 0;
  text-align: left;
  padding-bottom: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  max-height: 150px;
  overflow: hidden;
}
.mpage2_box .para4 a {
  color: #414141;
  text-decoration: none;
}
.mpage2_box .para4 a:hover,
.mpage2_box .heading4 a:hover {
  text-decoration: underline;
}
.for_mob {
  display: none;
}
footer {
  background: none;
}

.msearch_box {
  max-width: 568px;
  margin: 30px auto 0;
  /*border:1px solid #ff4040;*/
  border-radius: 5px;
  height: 44px;
  box-shadow: 0 0 8px #959595;
}
.m_srch_bx {
  height: 42px;
  margin: 0 0 0 12px;
  padding: 0;
  border: 0;
  width: 90%;
  color: #b6c1cd;
}
.msearch_box a {
  float: right;
  margin: 13px 13px 0 0;
}
.mfetch_dt {
  color: #000;
  max-width: 568px;
  margin: 20px auto;
  font-size: 18px;
}
.mpage2_box {
  max-width: 568px;
  min-height: 270px;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  margin: 0 auto 60px;
  padding: 0 35px;
  text-align: center;
  position: relative;
  display: block;
}
.m_jump {
  position: absolute;
  right: 15px;
  top: 11px;
}
.m_src_txtim {
  margin: 85px 0 0;
  font-weight: normal;
  font-size: 17px;
  color: #414141;
  letter-spacing: 1px;
  text-align: left;
  overflow: hidden;
  line-height: 30px;
  float: left;
}
.m_src_txtim img {
  max-width: 84px;
  float: right;
  padding-top: 0px;
  padding-left: 5px;
  max-height: 35px;
}
.mpage2_box.last {
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  img {
    max-width: 100%;
  }
  .mcontainer {
    padding: 0 15px;
  }
  .mform_part {
    width: 60%;
  }
  .mcartoon {
    width: 35%;
  }
  .for_mob {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  img {
    max-width: 100%;
  }
  .mcontainer {
    padding: 0 10px;
  }
  .mheader {
    position: inherit;
    padding: 0 0 10px;
  }
  .mheader_text {
    float: none;
    text-align: center;
    line-height: 22px;
    padding: 14px 0 3px;
  }
  .mstart_nw {
    float: none;
    margin: 5px 0 5px;
  }
  .mstart_nw a {
    text-align: center;
  }
  .mmidd_sec {
    padding: 70px 0 0;
  }
  .mlogo {
    text-align: center;
    position: inherit;
  }
  .mform_sec {
    padding: 45px 0 0;
  }
  .mform_part {
    width: auto;
    float: none;
  }
  .minput_text {
    margin: 29px 0 0;
  }
  .mform1 .mbtn {
    padding: 18px 0 36px;
    text-align: center;
  }
  .mform1 .mbtn input[type="button"] {
    display: block;
    /* width: 100%; */
    border-radius: 5px;
    display: inline-block;
  }
  .mcartoon {
    display: none;
  }
  .mfooter_text {
    padding: 32px 0 20px;
    line-height: 28px;
  }

  .mform1 {
    margin: 0;
    padding: 0 20px;
  }

  .header_mm .mcontainer {
    padding: 0 20px;
  }
  .mboxes_part {
    padding: 10px 0 0;
  }

  .mform1 {
    margin: 0;
    padding: 0;
  }
  .header_mm .mcontainer {
    padding: 0 20px;
  }
  .mboxes_part {
    padding: 10px 0 0;
  }

  /*.mown_law {
    text-align: center;
}*/
  .mbigest_repo {
    text-align: center;
  }
  .mask_qst {
    padding-right: 0;
    padding-top: 15px;
  }
  .mask_qst a {
    padding: 0 10px;
    font-size: 13px;
  }
  .m_lgn {
    padding-left: 15px;
    margin-top: 4px;
    display: none;
  }

  .mform1 .minput_text input[type="text"] {
    margin: auto;
    display: table;
    width: 98%;
  }
  .for_mob {
    display: block;
  }
  .display_none_d {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  img {
    max-width: 100%;
  }
  .mcontainer {
    padding: 0 5px;
  }
  .mfooter_text {
    padding: 32px 0 20px;
  }
  .mheader {
    position: inherit;
    padding: 0 0 10px;
  }
  .mheader_text {
    float: none;
    text-align: center;
    line-height: 22px;
    padding: 14px 0 3px;
  }
  .mstart_nw {
    float: none;
    margin: 5px 0 5px;
  }
  .mstart_nw a {
    text-align: center;
  }
  .mmidd_sec {
    padding: 70px 0 0;
  }
  .mlogo {
    text-align: center;
    position: inherit;
  }
  .mform_sec {
    padding: 45px 0 0;
  }
  .mform_part {
    width: auto;
    float: none;
  }
  .minput_text {
    margin: 29px 0 0;
  }
  .mform1 .mbtn {
    padding: 18px 0 36px;
    text-align: center;
  }
  .mform1 .mbtn input[type="button"] {
    display: block;
    /* width: 100%; */
    border-radius: 5px;
    display: inline-block;
  }
  .mcartoon {
    display: none;
  }
  .mfooter_text {
    padding: 32px 10px 20px;
    line-height: 28px;
  }

  .mform1 {
    margin: 0;
    padding: 0 0px;
  }
  .header_mm .mcontainer {
    padding: 0 15px;
  }
  .mboxes_part {
    padding: 10px 5px 0;
  }

  /*.mown_law {
    text-align: center;
}*/
  .mbigest_repo {
    text-align: center;
  }
  .mask_qst {
    padding-right: 0;
    padding-top: 15px;
  }
  .mask_qst a {
    padding: 0 10px;
    font-size: 13px;
  }
  .m_lgn {
    padding-left: 15px;
    margin-top: 4px;
    display: none;
  }
  .header_mm {
    padding-bottom: 25px;
  }
  .mform1 .minput_text input[type="text"] {
    margin: auto;
    display: table;
    width: 98%;
  }
  .for_mob {
    display: block;
  }
  .display_none_d {
    display: none;
  }
  .m_srch_bx {
    width: 80%;
  }
}

@media screen and (min-width: 767px) {
  .mform_sec {
    display: flex;
    flex-wrap: wrap;
  }

  .mform_part {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 25px;
  }

  .fbrwbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-nav .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .mform1 {
    padding: 0 15px;
  }
  /*.mown_law, .mbigest_repo, .minput_text, .mform1 .mbtn {
		text-align:left !important;
	}*/
}

@media screen and (max-width: 575px) {
  header.header_mm {
    padding: 10px 0;
  }

  header.header_mm .mlogo {
    padding: 5px 0 0 !important;
  }

  .header_mm .legswitch,
  .header_mm .searchbox,
  .header_mm .m_lgn {
    padding-top: 8px !important;
    margin-top: 0;
  }
  header.header_mm .legswitch .lang span.current a {
    padding: 0;
  }

  .header_mm .searchbox .header-search-form {
    left: -311px;
    top: 0;
  }
  .footerFb-reviwe {
    text-align: left;
  }
  .fbrwbox span {
    padding: 0 20px;
  }

  .header-search-form #searchForm input {
    border-bottom: 0;
    background: #fff;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
  }

  .lang {
    padding-right: 0;
  }
  .header-search-form #searchForm {
    padding-left: 15px;
  }

  .lang ul {
    width: 40px;
    padding: 8px;
  }
  /*.mown_law {
	    margin-bottom: 18px;
	        color: #fff;
	}
	.mown_law p {
	    color: #fff;
	}
	.mown_law p a {
    color: #ffff;
}*/
  .mform1 .mbtn {
    margin: 0 auto;
  }
  .fbrwbox {
    text-align: center;
  }
  .mform1 .mbigest_repo,
  .mform1 .minput_text {
    text-align: left;
  }

  .rich-textarea textarea::-webkit-input-placeholder {
    color: #fff;
  }

  .rich-textarea textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }

  .rich-textarea textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }

  .rich-textarea textarea:-ms-input-placeholder {
    color: #fff;
  }

  .rich-textarea textarea::placeholder {
    color: #fff;
  }

  /*.mform1 .focused-once .mbigest_repo, .mform1 .focused-once .minput_text {
				    color: #fff;
		}*/
}

.answered-block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.Q-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  position: relative;
}

.Q-box a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.Q-box:first-child {
  margin-top: 15px;
}
.Q-box:last-child {
  margin-bottom: 17px;
}
.Q-box p {
  margin: 0;
}

.answered-Q {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin-top: 20px;
}
.Lawyers-img {
  width: 50px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  height: 50px;
  font-size: 11px;
  text-align: center;
}

.lawr-cnt {
  font-size: 12px;
  text-align: center;
  position: relative;
}

.lawr-cnt a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.q-cnt {
  width: calc(100% - 65px);
}

.Lawyer-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 17px;
  margin-top: 20px;
}

.Lawr-img {
  width: 100px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  height: 100px;
  font-size: 11px;
  text-align: center;
  margin-bottom: 5px;
}

.mown_law p a {
  font-weight: 600;
}
.mown_law p {
  margin: 0;
  /* font-style: italic; */
}

.mform_part form {
  height: 100%;
}

@media screen and (max-width: 575px) {
  body .header_mm {
    background: #fff;
    /*box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);*/
  }

  .mform1 {
    margin-top: 30px;
  }
  .mcontainer.answered-block {
    padding: 40px 20px !important;
  }

  .answered-Q {
    margin-bottom: 40px;
  }

  .Lawyer-details {
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    flex-flow: column;
  }

  .Lawr-img {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin: 0 auto;
    max-width: 250px;
  }

  .lawr-cnt {
    margin-bottom: 30px;
  }

  /*.mform_sec{
	background: linear-gradient(to right, #3fcbf5 0%, #204ee3 100%) !important;
}

.mform1 .rich-textarea textarea{
	color: #fff;
}*/
}

.bg-image {
  background-position: center !important;
  min-height: 560px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .form-container {
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
  }
}

.question-status-bar {
  margin-top: 10px;
}

.upvotebtn {
  line-height: 1;
  text-align: center;
  float: right;
}
.mcartoon img {
  max-width: 100%;
}
.footerFb-reviwe .fbrwbox span {
  color: #414141;
  font-size: 32px;
  line-height: 50px;
  font-weight: 700;
}
.box-services {
  margin-left: 0;
  margin-right: 0;
}
.box-services .box-service {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  border-radius: 0;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 20px;
  height: 100%;
  min-height: 327px;
}
.box-services .box-service > img {
  width: 109px;
}
.mform_part {
  width: 490px;
  max-width: 100%;
  flex: 0 0 50.4%;
}
.mcartoon {
  width: 470px;
  max-width: 100%;
  flex: 0 0 49.6%;
}
.mform1 .mbtn button {
  margin-top: 30px;
  width: 352px;
  max-width: 100%;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat", sans-serif;
}
.box-service p {
  font-size: 14px;
  line-height: 1.5em;
  text-align: left;
}
.box-service h3 {
  font-size: 20px;
}
.row.box-services,
.row.padding-lg {
  display: flex;
  flex-wrap: wrap;
}
.row.padding-lg {
  padding-top: 0 !important;
}
.row.padding-lg h2 {
  flex: 0 0 100%;
  padding: 0 15px;
  font-size: 35px;
}
.answered-block h3 {
  font-size: 35px;
  line-height: 45px;
}
.smallbox {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.answered-block h3 {
  margin-bottom: 20px;
}
.row.box-services:before,
.row.box-services:after,
.row.padding-lg:before,
.row.padding-lg:after {
  content: initial;
}

.mown_law{
	letter-spacing: normal;
	line-height: normal;
}
.mown_law p{
	padding-top: 10px;
}
.toplist{
	padding-left: 0;
	margin:0;
	list-style: none;
}
.toplist li{
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	color: #000;
	margin-top:30px; 
}
.innner-box{
	width: 235px;
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
}
.ib-icon{
	max-width: 100%;
}
.ib-title{
	color:#577083;
	font-size:20px;
	margin: 25px 0;
}
.ib-text{
	color:#577083;
	font-size: 14px;
	text-align: left;
	line-height: 24px;
}
.how-it-works{
	margin-top: 100px;
}
.how-it-works h2{
	margin-bottom: 40px;
}
.plan-box{
	border: 1px solid #fff;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
	width: 225px;
	max-width: 100%;
	padding: 15px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.ptitle{
	color:#577083;
	font-size:20px;
}
.pprice{
	font-size: 16px;
	color: #000;
	margin: 20px 0;
	font-weight: 700;
}
.plan-box ul{
	list-style: disc;
	text-align: left;
	padding:0 25px;
}
.plan-box ul li{
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	color: #000;
	margin-bottom:5px; 
}
.ptext{
	font-size: 14px;
	color: #000;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: left;
	padding: 0 15px;
}
.mbtn a.custbtn{
	background: #414141;
	border: 0;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	line-height: 40px;
	margin: 0;
	min-height: 40px;
	margin-top: 30px;
	max-width: 100%;
	padding: 0 20px;
}
.mbtn a.custbtn:hover{
	background: #c9b4bd;
	color: #414141;
}
.plan-box .mbtn a.custbtn{
	width: 100%;
}
.fimg{
	display: inline-block;
	vertical-align: middle;
	margin: 10px 15px;
}
.footer-images{
	margin-bottom: 20px;
}
footer h2{
	font-size: 32px;
	margin-bottom: 20px;
}
.mform1 .mbtn{
	max-width: 100%;
}
.footer-copy-text{
	font-size: 15px;
	color: #000;
	text-align: center;
	font-weight: 500;
	padding: 10px 0;
}
.footer-copy-text a{
	color: #000;
	text-decoration: underline;
}
.trustpilot{
	flex: 0 0 100%;
}
.legswitch li ul li{
	padding-left: 0;
}
.trustpilot{
	text-align: right;
	padding-right: 15px;
}
.trustpilot span{
	color: #414141;
	font-size: 26px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 20px;
}
.trustpilot img{
	vertical-align: middle;
}
@media all and (max-width: 900px) {
  .box-services .box-service {
    min-height: 263px;
  }
  .box-services .col-md-6,
  .box-services .col-xs-6 {
    margin-bottom: 30px;
  }
  .row.padding-lg h2 {
    padding: 0 30px;
  }
  .box-services .col-xs-6 {
    flex-basis: 50%;
  }
}
@media all and (max-width: 767px) {
  .padding-left-null {
    padding-left: 15px !important;
  }
  .padding-right-null {
    padding-right: 15px !important;
  }
  .row.padding-lg h2 {
    padding-bottom: 50px;
    text-align: center;
  }
  .box-services.padding-onlytop-md {
    padding-top: 0 !important;
  }
  .row.padding-lg {
    display: block;
  }
  .mcontainer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .box-services .box-service {
    min-height: inherit;
    max-width: 65%;
    margin: 0 auto;
  }
  .box-services .col-md-6 {
    flex: 0 0 100%;
  }
  .smallbox {
    max-width: 100%;
  }
  .answered-block h3,
  .row.padding-lg h2,
  .footerFb-reviwe .fbrwbox span,footer h2 {
    font-size: 28px !important;
  }
  /*footer h2{
	text-align: center;
  }*/
  .footer-images{
	/*text-align: center;*/
	padding: 0 15px;
  }
  .trustpilot{
	margin-top: 0;
	text-align: center;
  }
}
@media all and (max-width: 330px) {
	header.header_mm .mlogo{
		padding-top: 0 !important
	}
	header.header_mm .mlogo img{
		max-width: 75%;
	}
	.footer-nav ul{
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
