body{
    background: white;
    /*line-height: 0px;*/
}
/* NavBar */
.navbar{
    background: #3367D6;
    border-color: #3367D6;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-header .navbar-brand {
    float:none;
    color: white;
    font-weight: bold;
}

/* Content */
.container .row .col-centered{
    float: none;
    margin: 0 auto;
}

label{
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 13px;
}

input[type="checkbox"], input[type="radio"]{
    position: absolute;
    right: 9000px;
}

/*Check box*/
input[type="checkbox"] + .label-text:before{
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
    content: "\f14a";
    color: #2980b9;
    animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
    color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
    content: "\f0c8";
    color: #ccc;
}

/* Timer */
.timer{
    background: transparent;
    border-color: transparent;
    font-size: 40px;
}

.well{
    box-shadow: inset 0 0px 0px , 0 0px 0;
    padding: 0px;
    margin-bottom: 0px;
    text-align: right;
}

.timer-buttons{
    padding: 0px;
    margin-top: 10px;
    text-align: right;
}

/* Buttons*/
button{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}

.save-button{
    margin-left: 70%;
    margin-bottom: 3%;
}

.form-check {
    text-align: left;
    margin-left: 25px;
}

.selectors{
    margin-right: 20px;
    margin-left: 20px;
}

.form-control{
    margin: 5px;
}

textarea{
    height: 150px;
}

.billable{
    margin-left: 5px;
}

@media only screen and (max-width: 601px) {
    .timer{
        font-size: 40px;
        padding-right: 48%;
    }

    .well{
        box-shadow: inset 0 0px 0px , 0 0px 0;
    }

    .timer-buttons{
        position: absolute;
        top: 0px;
        left: 60%;
    }
}

@media only screen and (max-width: 2000px) {
    .selectors{
        margin-right: 20px;
        margin-left: 10px;
    }

    #select-box {
        width: 97%;
    }

    #checkboxes{
        margin-left: 0.2%;
    }
}

@media only screen and (max-width: 1200px) {
    .well{
        text-align: center;
    }

    .timer-buttons {
        position: absolute;
        left: 59%;
        top: 0px;
         text-align: center;
    }
}

@media only screen and (max-width: 992px) {
    .well{
        text-align: center;
    }

    .timer-buttons {
        position: absolute;
        left: 62%;
        top: 0px;
        text-align: center;
    }
}