.inner-page {
    background: transparent !important;
}

.inner-page{
.inner-header{
      position: relative !important; 	
      box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
       padding: 0;
    margin-bottom: 30px;
	.lang span.current a{
	  color: #444;
	}
	#searchToggle {
	    cursor: pointer;
	    color: #444;
	}
	.m_lgn, .m_lgn a{
	   color: #444 !important;
	}
}

}



.dash-cntArea {
    max-width: 71.25em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    display: flex;
    flex-flow: row-reverse;
}
.dash-cntArea::after {
  clear: both;
  content: "";
  display: table;
}

.dash-cntArea .main {
  float: left;
  display: block;
  width: 74.5161011526%;
  padding: 0 20px;
}



.us-head {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    padding: 10px 20px;
    margin-bottom: 30px;
}

.user-detail {
    display: flex;
    align-items: center;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    overflow: hidden;
    margin-right: 10px;
}

.user-image img{
   width: 100%;
}

.ans-block {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    padding: 10px 20px;
    margin-bottom: 30px;
}
.ans-title {
    font-size: 14px;
}
.ans-block h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 600;
}
.user-detail .name {
    font-size: 14px;
}
.name span {
    display: block;
     font-size: 12px;
}

.us-head h3{
	    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #777;
}

.ans-block .imgBox {
    width: 100%;
    padding: 20px 0;
}

@media screen and (max-width: 980px) {
 .dash-cntArea .main {
    float: left;
    display: block;
    margin-right: 2.3317410822%;
    width: 100%;
  }
 
}
.dash-cntArea .sidebar {
  float: left;
  display: block;
  width: 23.5483034577%;
  position: relative;
  min-height: 1px;
}

@media screen and (max-width: 980px) {
  .dash-cntArea .sidebar {
    float: left;
    display: block;
    margin-right: 2.3317410822%;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
.dash-cntArea{
	display: block;
}
	.inner-page .inner-header {
	    padding: 10px 0;
	}
}
.dash-cntArea div .sticky-sidebar {
  min-height: calc(100vh - 100px);
  width: 100%;
  padding: 2rem 20px;
  position: absolute;
  top: 0;
  bottom: auto;
  float: none;
  Background-color: #477DCA;
  color: white;
      display: flex;
    align-items: center;
}

.dash-cntArea div .sticky-sidebar  a{
	color:#fff;
	    margin: 10px 0;
    display: inline-block;
     font-size: 0;
}

.dash-cntArea div .sticky-sidebar a i {
    width: 20px;
        display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.dash-cntArea div .sticky-sidebar a span{
    width: calc(100% - 20px);
        display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

@media screen and (max-width: 1024px) {
		.dash-cntArea div .sticky-sidebar {
		     min-height: inherit;
		  }

  }
@media screen and (max-width: 980px) {
  .dash-cntArea div .sticky-sidebar {
    position: relative;
    top: auto;
    bottom: auto;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 16.688em;
  }

  .bg-image{
        background: none !important;
      }
}



.form-main .text.padding-md-top-null:focus, .form-main:focus  {
    outline: none;
    border: 0;
    box-shadow: none;
}



:focus {
    outline: 0 !important;
}



