/*-------------------------------------------------*/
/* =  1.Reset
/*-------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1; 
    }

body{
   font-family: 'Montserrat', sans-serif !important;
}

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote, q {
    quotes: none;
    &:before, &:after, {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0; 
}
a {
    &:focus {
        text-decoration: none;
    }
}


 .header-search-form {
    position: absolute;
    width: 300px;
    left: -310px;
    top: 8px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.header-search-form #searchForm {
    padding-left: 50px;
}

.header-search-form #searchForm input {
    padding: 8px 20px 7px 20px;
    background-color: transparent;
    color: #000;
    width: 100%;
    border: 0;
    border-radius: 3%;
    border-bottom: 1px solid #000;
    outline: none;
}

.header-search-form.search-opened {
    visibility: visible;
    opacity: 1;
}

.searchbox {
    float: right;
    padding: 17px 20px 0;
     position: relative;
}

a#searchToggle {
    cursor: pointer;
	/*color: #fff;*/
}

.m_lgn.search-opened {
    display: none;
}

.m_lgn {
    padding: 17px 20px 0 !important;
	color: #fff !important;
}
/*.m_lgn a {
    color: #fff !important;
}*/


.mmidd_sec {
    padding: 50px 0 0;
   min-height: calc(100vh - 65px);
    @include flex-center;
        flex-wrap: wrap;
}


.mform_sec {
    padding: 70px 0 0 !important;
}



.footer-nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.footer-nav ul li a{
    font-size: 14px;
    color: #000;
}


.legswitch {
    float: right;
}

.lang {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 15px;
    position: relative;
}

.lang span {
    display: block;
}

.lang span.current a {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 21px 0;
	    /*color: #fff;*/
}

.lang ul {
    display: block;
    visibility: hidden;
    z-index: 90;
    position: absolute;
    top: 88px;
    opacity: 0;
    left: 0px;
    width: 55px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 16px;
    transition: all .4s ease;
}

.lang ul li a {
    margin-left: 0;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color: #757575;
}

li.lang:hover ul {
    visibility: visible;
    top: 40px;
    opacity: 1;
    transition: all .4s ease;
}

.footerFb-reviwe {
    display: block;
        width: 100%;
    text-align: right;
}
.footerFb-reviwe span {
    display: inline-block;
    vertical-align: middle;
    }
.fbBox {
    display: inline-block;
    vertical-align: middle;
    max-width: 390px;
    padding: 15px 15px;
        height: 140px;
}

/*.mown_law {
    max-width: 400px;
}*/

marquee{
        height: 120px;
}

marquee iframe{
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .10);
}

.footer-nav {
    padding-bottom: 20px;
}

.legswitch{
    float: right;
    font-size: 14px;
    padding: 17px 0 0;
    color: #414141;
}

body .header_mm {
    background: transparent;
}

/*.mform1 .mbtn button{
  	background: rgba(63,203,245,1)!important;
	background: -moz-linear-gradient(left, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%)!important;
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(63,203,245,1)), color-stop(100%, rgba(32,78,227,1)))!important;
	background: -webkit-linear-gradient(left, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%)!important;
	background: -o-linear-gradient(left, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%)!important;
	background: -ms-linear-gradient(left, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%)!important;
	background: linear-gradient(to right, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fcbf5', endColorstr='#204ee3', GradientType=1 )!important;
	transition: all .5s ease-in-out;
}

.mform1 .mbtn button:hover{
  color: #fff !important;
background: rgba(63,203,245,1)!important;
background: -moz-linear-gradient(top, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%)!important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(63,203,245,1)), color-stop(100%, rgba(32,78,227,1)))!important;
background: -webkit-linear-gradient(top, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%)!important;
background: -o-linear-gradient(top, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%)!important;
background: -ms-linear-gradient(top, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%)!important;
background: linear-gradient(to bottom, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fcbf5', endColorstr='#204ee3', GradientType=0 )!important;
}*/

 @media screen and (min-width:1200px) {
		body {
			background-size: 90% !important;
		}
 }
   @media screen and (max-width:575px) {

            .header-search-form {
                left: -286px;
                top: 50px;
            }
         .footer-nav ul{
             text-align: center !important;
         }

         .footerFb-reviwe {
                text-align: center;
            }

            .minput_text {
                  text-align: center;
                }

                .mlogo {
                    max-width: 120px;
                }

                .searchbox {
                    padding: 17px 0 0;
                }

                .m_lgn {
                    padding-left:0 !important;
                    display: block !important;
                }
				
				body {
					background: transparent !important;
				}
				
				
					.mown_law {
						font-size: 28px !important;
						line-height: 36px !important;
						/*color: #fff !important;*/
					}
					
					.mmidd_sec {
						   min-height: calc(100vh - 90px);
						   overflow: hidden;
						   padding: 0 !important;
						}
						
				   /* .mbigest_repo, .minput_text{
						color: #fff !important;
						}
						*/

				 /* .mform_sec, body .header_mm{
						background: rgba(63,203,245,1);
						background: -moz-linear-gradient(left, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%);
						background: -webkit-gradient(left top, right top, color-stop(0%, rgba(63,203,245,1)), color-stop(100%, rgba(32,78,227,1)));
						background: -webkit-linear-gradient(left, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%);
						background: -o-linear-gradient(left, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%);
						background: -ms-linear-gradient(left, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%);
						background: linear-gradient(to right, rgba(63,203,245,1) 0%, rgba(32,78,227,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fcbf5', endColorstr='#204ee3', GradientType=1 );
					}*/
					
					.mmidd_sec .mcontainer {
						padding: 0 !important;
					}
					
                  .footerFb-reviwe span {
						font-size: 18px;
						color: #000;
                            text-align: left;
					}
					
			.mlogo {
				padding: 10px 6px 0 !important;
			}		
          footer.mcontainer{
		     padding: 0 15px;
		  }
		  /*.mform_sec .mform1 .mbtn button {
				background: #ffff !important;
				color: #204ee3;
				font-size: 15px;
                font-weight: 600;
				    padding: 0 45px;
			}*/

            .m_lgn a {
                color: #000 !important;
            }
            #searchToggle i {
                    color: #000;
                }
            .lang span.current a {
                color: #000;
            } 
    }
	

.mform1 {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

      .rich-textarea {
            width: 100%;
            border: 2px solid #d1d1d1;
            max-width: 450px;
            border-radius: 3px;

            textarea {
                    resize: none;
                    width: 100%;
                    border: 0;
                    padding: 15px;
                    background: transparent;
                }

        } 
        .minput_text {
            margin: 15px 0 0;
        }

        .mbigest_repo{
           display:none;
           padding-left:15px;
        }
          
           .minput_text{
                   display:none;
                   padding-left:15px;
                   padding-bottom:15px;
                }


   & .focused-once{
         .mbigest_repo, .minput_text{
           display:block;
        }
   }
}

	
textarea:focus {
    box-shadow: none;
    outline: none;
}