/* GLOBAL STYLES
-------------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 148px;
  color: #5a5a5a;
  font-family: 'Inter', sans-serif;
}
.clear_all{
  clear:both;
}
.top-bar-left{
  float: left;
}
.top-bar-right{
  float: right;
}
.top-bar{
  padding: 10px 0 12px 0;
  /*position: fixed;*/
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #e6f4ff;
  font-size: 0.75em;
  color: #6e7d96;
}
.fixed-top {
  top: 40px;
}
@media (max-width: 48em) {
  .fixed-top {
    top: 63px;
  }
}
.navbar{
  padding: 25px;
  background-color: #fff;
  border-bottom: 1px #e6f4ff solid;
  transition: color .05s ease-in-out,background-color .05s ease-in-out,border-color .05s ease-in-out,box-shadow .05s ease-in-out,all .05s ease-in-out;
}
.nav-sml{
  padding: 15px 25px;
  /*edit*/top: 0px;
  transition: color .05s ease-in-out,background-color .05s ease-in-out,border-color .05s ease-in-out,box-shadow .05s ease-in-out,all .05s ease-in-out;
}
.navbar-light .navbar-nav .nav-link{
  color: #0f0546;
  font-weight: 700;
  font-size: 14px;
  padding: 0px 25px;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #454df6;
}
.top-bar-link{
  color: #6e7d96;
  margin-left: 30px;
}
.top-bar-link:hover{
  color: #454df6;
  text-decoration: none;
}
.login-icon{
  margin-right: 5px;
}
.top-bar-link-blue{
  color: #0f0546;
  font-weight: 700;
}
.top-bar-link-blue:hover{
  text-decoration: none;
  color: #454df6;
}
.submit-btn{
  background-color: #454df6;
  color: #fff;
  font-size: 0.875em;
  font-weight: 700;
  float: right;
  padding: 12px 28px;
  border-radius: 5px;
  border: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.submit-btn:hover{
  color: #fff;
  text-decoration: none;
  background-color: #0f0546;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.submit-btn-q{
  background-color: #454df6;
  color: #fff;
  font-size: 0.875em;
  font-weight: 700;
  padding: 12px 28px;
  border-radius: 5px;
  border: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.submit-btn-q:hover{
  color: #fff;
  text-decoration: none;
  background-color: #0f0546;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.query-form{
  min-height: 200px;
  padding: 30px;
  border: none;
  width: 100%;
  font-size: 1em;
  color: #6e7d96;
  margin-bottom: 30px;
  margin-left: -30px;
  -webkit-box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  -moz-box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
}
.query-form-subtitle{
  font-size: 12px;
  font-weight: 700;
  color: #0f0546;
  margin-bottom: 20px;
}
#myCarousel{
  position: relative;
}
.left-op{
  position: absolute;
  left: 0;
  bottom: 0;
}
.right-op{
  position: absolute;
  right: 0;
  top: 0;
  max-height: 100%;
}
.how-it-works{
  background-color: #f5faff;
  text-align: center;
  padding: 80px 0;
}
.heading-title{
  color: #0f0546;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 40px;
  display: inline-block;
}
.heading-title-light{
  color: #fff;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 40px;
  display: inline-block;
}
.heading-sub-title{
  color: #0f0546;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  display: inline-block;
}
.heading-sub-title-light{
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  display: inline-block;
}
.hiw-step{
  margin-bottom: 50px;
}
.step-w-container{
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 3px;
  background-color: #fff;
  width: 55%;
  padding: 60px 40px;
  box-sizing: border-box;
  margin: 0 auto;
  -webkit-box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  -moz-box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
}
.first .step-w-container:before{
  content: '01';
  color: #454df6;
  font-size: 100px;
  font-weight: 700;
  position: absolute;
  margin-left: -220px;
}
.second .step-w-container:before{
  content: '02';
  color: #454df6;
  font-size: 100px;
  font-weight: 700;
  position: absolute;
  margin-left: -220px;
}
.third .step-w-container:before{
  content: '03';
  color: #454df6;
  font-size: 100px;
  font-weight: 700;
  position: absolute;
  margin-left: -220px;
}
.step-w-container-left{
  float: left;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-w-container-right{
  float: left;
  width: 70%;
  text-align: left;
}
.step-text{
  font-size: 14px;
  color: #6e7d96;
}
.blue-line{
  width: 4px;
  height: 100px;
  background-color: #454df6;
  position: absolute;
  bottom: -80px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.cases-container{
  width: 100%;
}
.recent-cases{
  text-align: center;
  padding: 80px 0 40px 0;
}
.cases-four{
  padding: 20px;
  box-sizing: border-box;
  width: 23.5%;
  margin-right: 2%;
  float: left;
  background-color: #f5faff;
  color: #0f0546;
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
  border-radius: 3px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cases-four:hover{
  background-color: #fff;
  -webkit-box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  -moz-box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cases-four:nth-last-of-type(2){
  margin-right: 0;
}
.case-title{
  color: #0f0546;
  font-weight: 700;
  font-size: 1.125em;
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
}
.case-response{
  font-size: 12px;
}
.case-date{
  font-weight: 700;
  font-size: 0.75em;
  background: #fff;
  padding: 8px 0;
}
.case-price{
  color: #454df6;
  font-weight: 700;
  font-size: 1em;
}
.case-circle{
  position: absolute;
  background: #454df6;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: inline-block;
  right: -60px;
  bottom: -60px;
}
.case-icon{
  margin-top: 34px;
  margin-right: 54px;
}
.most-active-lawyers{
  text-align: center;
  padding: 80px 0;
}

.lawyers-six{
  border: 1px #e6f4ff solid;
  padding: 30px 10px;
  box-sizing: border-box;
  color: #0f0546;
  width: 16.25%;
  margin-right: 0.5%;
  float: left;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.lawyers-six:last-of-type{
  margin-right: 0;
}
.lawyers-six:nth-last-of-type(2){
  margin-right: 0;
}
.lawyers-six:hover{
  border-color: #fff;
  -webkit-box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  -moz-box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.lawyer-image{
  padding-bottom: 30px;
}
.lawyers-six p{
  font-size: 0.875em;
}
.lawyer-name{
  font-weight: 700;
  font-size: 1rem;
}
.why-trust-us{
  background: #f5faff;
  text-align: center;
  padding: 80px 0;
}
.trust-container{
  display: flex;
}
.trust-title{
  font-weight: 700;
  color: #0f0546;
  font-size: 24px;
  padding: 20px 0 30px 0;
  display: inline-block;
}
.trust-four{
  color: #6e7d96;
  background: #fff;
  padding: 30px 20px;
  box-sizing: border-box;
  width: 23.5%;
  margin-right: 2%;
  float: left;
  -webkit-box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  -moz-box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
  box-shadow: 8px 13px 30px 0px rgba(26, 167, 236, 0.1);
}
.trust-four:nth-last-of-type(2){
  margin-right: 0;
}
.trust-four p{
  font-size: 0.875em;
  font-weight: 300;
}
.satisfied-customers{
  text-align: center;
  padding: 80px 0;
  background-color: #2c31b5;
  color: #fff;
}
.satisfied-customers-subtitle{
  font-size: 0.875em;
}
.customers-container{
  text-align: center;
  font-size: 0;
  margin-top: 50px;
}
.customers-seven{
  background: #fff;
  border-radius: 3px;
  color: #6e7d96;
  padding: 30px 20px;
  box-sizing: border-box;
  width: 23.5%;
  margin-right: 2%;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 14px;
}
.customers-seven:nth-of-type(4){
  margin-right: 0%;
}
.customer-logo{
  margin-bottom: 30px;
}
.customer-name{
  font-size: 16px;
  font-weight: 700;
  color: #0f0546;
  margin-top: 20px;
  display: inline-block;
}
.customer-link{
  background: #6e7d96;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
  margin: 0 auto;
  width: max-content;
  font-size: 0.75em;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  display: flex;
  height: 42rem;
  color: #0f0546;
  z-index: 9;
}
.carousel-item.active{
  display: flex;
  margin-top: 50px;
}
.caption{
  width: 45%;
  float: left;
}
.illustration-right{
  width: 55%;
  float: right;
}
.carousel-item h1{
  color: #0f0546;
  font-weight: 700;
  line-height: 55px;
}
.ev-text{
  background-color: #454df6;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}
.carousel-caption p{
  color: #0f0546;
}

.header-subtitle{
  color: #0f0546;
  font-size: 1.5em;
  word-spacing: 10px;
  margin-top: 25px;
}

.underline-1{
  text-decoration: underline;
  text-decoration-color: #7cd7f6;
  text-decoration-thickness: 4px;
  text-underline-position: under
}
.underline-2{
  text-decoration: underline;
  text-decoration-color: #1aa7ec;
  text-decoration-thickness: 4px;
  text-underline-position: under
}
.underline-3{
  text-decoration: underline;
  text-decoration-color: #4adede;
  text-decoration-thickness: 4px;
  text-underline-position: under
}

footer{
  background-color: #0f0546;
  padding: 80px 0;
  color: #fff;
  font-size: 14px;
}
.footer-left{
  float: left;
  margin-top: 40px;
}
.footer-right{
  float: right;
  margin-top: 40px;
}
.footer-four{
  box-sizing: border-box;
  width: 20%;
  margin-right: 6.667%;
  float: left;
}
.footer-four:nth-of-type(4){
  margin-right: 0;
}
.footer-logo{
  margin-bottom: 26px;
  margin-top: 5px;
}
.footer-menu{
  list-style: none;
  padding: 0;
  line-height: 40px;
  font-size: 1.125em;
}
.footer-link{
  color: #fff;
}
.footer-link:hover{
  text-decoration: none;
  color: ##454df6;
}

#s-email{
  padding: 10px;
  color: #ffffff;
  background: #140858;
  width: 100%;
  border: none;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.subscribe-btn{
  padding: 10px;
  margin-top: 2px;
  color: #ffffff;
  background: #140858;
  width: 100%;
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 75em) {
    .navbar-light .navbar-nav .nav-link{
    color: #0f0546;
    font-weight: 700;
    font-size: 14px;
    padding: 0px 10px;
  }
}

@media (max-width: 62em) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 12px;
    padding-right: .4rem;
    padding-left: .4rem;
  }
  .submit-btn {
    font-size: 12px;
    padding: 7px 8px;
  }
}
@media (max-width: 48em) {
  body {
    padding-top: 157px;
  }
  .top-bar-right {
    margin-top: 5px;
  }
  .fixed-top {
    /*top: 63px;*/
  }
  .navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgb(69, 77, 246);
    background: #454df6;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .navbar-collapse{
    text-align: center;
  }
  .navbar-light .navbar-nav .nav-link{
    text-align: center;
  }
  .submit-btn {
    display: inline-block;
    float: unset;
  }
  
  .carousel-item{
    height: auto;
  }
  .carousel-item .container{
    display: flex;
    flex-direction: column-reverse;
  }
  .caption{
    width: 100%;
    margin-top: -80px;
    margin-bottom: 30px;
    z-index: 9;
    margin-right: 100px;
  }
  .submit-btn-q{
    float: right;
  }
  .illustration-right{
    width: 100%;
    margin-left: 50px;
  }
  .left-op{
    width: 25%;
  }
  .right-op{
    width: 35%;
  }

  h1{
    font-size: 1.8rem;
  }
  .step-w-container{
    padding: 60px 30px;
    width: 85%;
  }
  .first .step-w-container:before, .second .step-w-container:before, .third .step-w-container:before {
    font-size: 70px;
    margin-left: -150px;
  }
  .step-w-container-left {
    padding: 0 10px;
  }
  .step-w-container-left {
    max-width: 100%;
  }
  .step-w-container-right {
    padding-left: 20px;
  }
  .cases-four {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  .lawyers-six {
    width: 49%;
    margin-right: 2%;
  }
  .lawyers-six:nth-of-type(2), .lawyers-six:nth-of-type(4), .lawyers-six:nth-of-type(6){
    margin-right: 0;
  }
  
  .trust-container {
    flex-direction: column;
  }
  .trust-four {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 30px;
  }
  .customers-seven {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer-four {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .top-bar-left {
    width: 200px;
  }
}

@media (max-width: 40em) {
  
  .step-w-container{
    padding: 60px 30px;
    width: 70%;
    flex-direction: column;
    justify-content: center;
  }
  .step-w-container-left{
    width: 100%;
    margin-bottom: 30px;
  }
  .step-w-container-right{
    width: 100%;
  }
  .first .step-w-container:before, .second .step-w-container:before, .third .step-w-container:before {
    font-size: 50px;
    margin-left: -220px;
  }
  .top-bar-left {
    width: 200px;
  }
}

  .trust-pilot {
    text-align: center;
  margin: 0 auto;
  display: block;
    margin-bottom: 50px;
  }

  .trust-pilot img {
    height: 65px;
    width: 131px;
  }

  .trust-pilot p {
    font-size: 1em;
    font-weight: 700;
    color: #0f0546;
    background-color: #f5faff;
    padding: 5px;
    width: 120px;
    border-radius: 3px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
